<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile Summary</title>

    <g:preferences>
        <g:preference name="profileLink" label="Profile Link" type="text" default="$(contextRoot)/profile" />
        <g:preference name="preferenceService" label="Preference Service" type="text" default="$(contextPath)/services/rest/party-data-management/preferences" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/profile-summary.css"/>
    <script src="../../conf/require-conf.js"></script>
</head>
<body g:onload="requireWidget(__WIDGET__, 'js/profile-summary');">
    <div ng-controller="profileSummaryController" class="lp-profile-summary widget widget-default ng-cloak clearfix" lp-responsive="lp-responsive" on-size-change="onSizeChange(size)" size-rules="responsiveRules">
        <div class="lp-widget-content widget-body panel-body no-min-height clearfix" itemscope="" itemtype="http://launchpad.backbase.com/vocab/profile">

            <div class="media">
                <img class="pull-left avatar" ng-src="/portalserver/static/launchpad/widgets/profile-summary/images/lisa.jpg"/>
                <div class="media-body">
                    <div class="hide-xs-widget">
                        <h4 class="light-font welcome-text">Welcome</h4>
                        <div ng-if="!profileLink" class="profileLink">
                            <span class="h4 display-block"><strong>{{model.preferredName}}</strong></span>
                        </div>
                        <div ng-if="profileLink" class="profileLink">
                            <a name="myProfile" class="h4 btn-link lp-profile-summary-username" ng-href="{{profileLink}}">
                                <span itemprop="username">{{model.preferredName}}</span>
                            </a>
                        </div>
                    </div>
                    <i class="user_notification lp-icon lp-icon-cog"></i>
                    <img class="user_notification" ng-src="/portalserver/static/launchpad/widgets/profile-summary/images/messages.png" />
                    <img class="user_notification" ng-src="/portalserver/static/launchpad/widgets/profile-summary/images/alerts.png" />
<!--                     <a name="notMyProfile" class="h5 btn-link not-my-profile" ng-href="{{profileLink}}">
model.firstName does not exist; need to add to model
                        <span itemprop="username">Not {{model.firstName}}?</span>
                    </a>
 -->                    <button class="btn btn-sm btn-link pcf-logout pull-right" href="#" ng-click="logout()">
                        Log Out
                    </button>
                </div>
            </div>


        </div>
    </div>
</body>
</html>