<script type="text/ng-template" id="$transactions/sortDropdownOption.html">
    <span><i class="{{option.icon}} pull-right"></i><span class="sr-only">Sort by</span>{{option.label}} <span class="sr-only">{{option.aria}}</span></span>
</script>


<script type="text/ng-template" id="/transactions/partials/list.html">
<!--  Body Content -->
<div class="lp-widget-body" ng-controller="transactionsListController" ng-class="{logohidden: hideLogo}">

    <div class="category-toggle" ng-if="showCategories">
        <button class="btn btn-default" tabindex="0" aria-pressed="{{ previewAll }}" ng-click="toggleCategoryView()" ng-class="{ 'active': previewAll }">
            <i title="Category view" class="lp-icon lp-icon-tag"></i>
            <span class="sr-only">Show Categories</span>
        </button>
    </div>
    <form class="panel-heading" ng-submit="doSearch" ng-class="{ 'has-category-toggle': showCategories }">
        <div class="search-input input-group">
            <span class="input-group-addon"><i class="lp-icon lp-icon-search2"></i></span>
            <input lp-smartsuggest=""
                   lp-smartsuggest-select="updateSuggestion"
                   lp-smartsuggest-clear="resetSearch"
                   lp-currency="accountsModel.selected.currency"
                   lp-contacts="contactsModel.contacts"
                   ng-model="searchTerm"
                   class="form-control" placeholder="Search for dates, amounts, contacts..."/>
            <dropdown-select ng-options="option as option for option in sort.options" ng-model="sort.selected" ng-change="changeSort()" class="input-group-btn sort-select" option-template-url="$transactions/sortDropdownOption.html" align="'right'"
                aria-controls="transactions-list">
            </dropdown-select>
        </div>
    </form>
    <div class="panel-message" ng-if="transactionsModel.noTransactionsFound()" role="alert">
        <p>There are no transactions to display
            <span ng-show="!transactionsModel.isSearching()">for this account</span>
            <span ng-show="transactionsModel.isSearching()">for this search</span>.
        </p>
    </div>

    <ul id="transactions-list" role="presentation" class="list-group list-view transactions-list">
        <li class="list-group-item list-view-row clearfix" ng-class="{ open: transaction.showDetails }"
            ng-repeat="transaction in transactionsModel.transactions track by $index"
            itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/transaction">
            <div class="list-view-container cursor-pointer clearfix" ng-click="openDetails(transaction)"
                tabindex="0" ng-keydown="transactionKeydown($event, transaction)"
                ng-mouseleave="closePreview(transaction)" role="button"
                id="transaction-{{transaction.id}}" aria-expanded="{{ !!transaction.showDetails }}"
                aria-controls="transaction-details-{{transaction.id}}">
                <div class="categories" ng-mouseover="openPreview(transaction)" ng-if="showCategories">
                    <div lp-category-display="lp-category-display" lp-category-view="$parent.previewAll" lp-category-list="categoryModel.categories" ng-model="transaction" category-click="categoryClick"></div>
                </div>
                <div class="info">
                    <div class="col-xs-2 col-sm-1 column" ng-class="{ hidden: categorySmallLayout }" ng-mouseover="openPreview(transaction)">
                        <div class="centered">
                            <div class="h4 text-center lp-transactions-date" aria-hidden="true" ng-if="transaction.newDate">
                                <span itemprop="dateTimeMonth">{{transaction.bookingDateTime | date:'MMM'}}</span>
                                <br />
                                <span itemprop="dateTimeDate">{{transaction.bookingDateTime | date:'dd'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 hidden-xs column" ng-class="{ hidden: categorySmallLayout }">
                        <div class="centered">
                            <div ng-if="showTransactionIcons" class="lp-transaction-icon hidden-xs gray-image-hover">
                                <img ng-if="transaction.counterPartyLogoPath" ng-src="{{transaction.counterPartyLogoPath}}" width="35" height="35" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="column left-align" ng-class="{ 'col-xs-6 col-sm-7': !categorySmallLayout, 'col-xs-11 col-sm-11 padded': categorySmallLayout }">
                        <div class="centered">
                            <div class="h4 counterparty-name" itemProp="counterpartyName"><span class="sr-only">Name</span>{{transaction.counterpartyName}}</div>
                            <span class="h6 text-muted hidden-xs" itemProp="transactionType"><span class="sr-only">Transaction type</span>{{transaction.transactionType}}</span>
                            <span class="h6 text-muted hidden-sm hidden-md visible-xs"><span class="sr-only">Date</span>{{transaction.bookingDateTime | date:'MMM'}} {{transaction.bookingDateTime | date:'dd'}} <span class="h6 text-muted" itemProp="transactionAmount" lp-amount="transaction.transactionAmount" lp-amount-currency="transaction.transactionCurrency"></span></span>
                                </div>
                    </div>
                    <div class="col-xs-3 col-sm-2 column right-align" ng-class="{ hidden: categorySmallLayout }">
                        <div class="centered">
                            <span class="sr-only">Amount</span>
                            <span class="h4" itemProp="transactionAmount"
                                  lp-amount="transaction.transactionAmount" 
                                  lp-amount-currency="transaction.transactionCurrency"></span>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 column details-toggle">
                        <div class="centered">
                            <span class="sr-only">Toggle details</span>
                            <span ng-show="!transaction.showDetails"><i class="lp-icon lp-icon-angle-down"></i></span>
                            <span ng-show="transaction.showDetails"><i class="lp-icon lp-icon-angle-up"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix details transaction-details" id="transaction-details-{{transaction.id}}" aria-labelledby="transaction-details-data-{{transaction.id}}">
                <div class="col-xs-12 col-sm-12">
                    <div class="alert alert-info" ng-show="transaction.errorCode">
                        <span lp-message="transaction.errorCode" lp-bundle="messages"></span>
                    </div>

                    <ul tabset="tabset" class="" ng-if="showCategories && transaction.showDetails">
                        <li tab="tab" select="selectDetailsTab(transaction)" active="transaction.detailTabs.details">
                            <span tab-heading="tab-heading">Details</span>
                            <div ng-include="templates.details" class="panel-body no-padding"></div>
                        </li>
                        <li tab="tab" active="transaction.detailTabs.categories">
                            <span tab-heading="tab-heading">Categories</span>
                            <div lp-category-select="lp-category-select" ng-model="categoryModel" transaction="transaction" update="updateTransactionCategory" small-layout="categorySmallLayout" class="panel-body no-padding"></div>
                        </li>
                    </ul>
                    <div ng-include="templates.details" class="panel-body no-padding" ng-if="!showCategories && transaction.showDetails"></div>
                </div>
            </div>
        </li>
    </ul>


    <div ng-show="transactionsModel.allowMoreResults()">
        <p class="text-center">
            <a href="" class="cursor-pointer" tabindex="0" ng-click="loadMoreTransactions()">Show more</a>
        </p>
    </div>
    <div ng-if="transactionsModel.loading" role="alert">
        <p class="panel-message text-center">Loading transactions...</p>
    </div>
</div>
</script>

