<div class="pageDesignerCatalog">
<!-- These class name are all required to render the catalog browser widget correctly. 
If you need to customize the background CSS for the widget. Please overwrite these CSS styles. -->
	<div class="pm-composer">
		<div class="pm-composer-stripViewPort">
			<div class="pm-composer-empty-set">{{noItemsMessage}}</div>
			<div class="pm-composer-strip"></div>
		</div>
		<div class="pm-composer-previous pm-composer-previous-disabled"></div>
		<div class="pm-composer-next pm-composer-next-disabled"></div>
		<div class="pm-composer-pagerContainer">
			<div class="pm-designer-pager"></div>
		</div>
	</div>
	<div class="bd-clearfloat"></div>
</div>