<div class="pageDesignerToolbar">

    <ul>
        <li class="tb-button tb-openClose" data-section="all"><span class="tb-icon"></span></li>
        {{#sections}}
        <li class="tb-button tb-section tb-{{name}}" data-section="{{name}}">
            <span class="tb-icon"></span>
            {{name}}
        </li>
        {{/sections}}
    </ul>

    <div class="tb-search">
        <div class="bc-button tb-search-button"><span class="bc-icn bc-search-black"></span></div>
        <input type="text" name="search" value="{{searchFilter}}">
        <span class="bc-icn bc-close tb-search-cancel"></span>
    </div>

    <div class="tb-filter-tags bc-button bc-gradient-grey bc-roundcorner-5">
        <span class="bc-icn bc-tag"></span>
    </div>
</div>