<div class="pm-icon2 bp-ui-dragRoot bp-ui-dragGrip {{#isVirtualWidget}}pm-panelCatalogIcon{{/isVirtualWidget}}{{^isVirtualWidget}}pm-widgetCatalogIcon{{/isVirtualWidget}}" title="{{#deprecated}}[DEPRECATED] {{/deprecated}}{{#description}}{{description}}{{/description}}">
    {{#deprecated}}<div class="pm-icon2-deprecated"></div>{{/deprecated}}
    <div class="pm-icon2-img" style="{{iconCss}}"></div>
    <div class="pm-icon2-label">{{title}}</div>
</div>