<div ng-show="filter">
    <div class="panel-message-sm text-center" ng-show="filteredContacts.length == 0">No Results</div>
    <table ng-show="filteredContacts.length !== 0" class="table">
        <tbody ng-repeat="contact in filteredContacts track by contact.id|orderBy:'name'" ng-class="{selected: contactsModel.selected == contact.id}">
            <tr class="cursor-pointer" ng-click="selectContact(contact)" ng-class="{'selected-contact': contactsModel.currentContact === contact}"
                    itemscope="" itemtype="http://launchpad.backbase.com/vocab/contact/summary" data-contactName="{{contact.name}}">
                <td class="col-xs-1"><img height="50" width="50" ng-src="{{decodePhotoUrl(contact.photoUrl)}}"/></td>
                <td class="col-xs-9 valign-middle" itemprop="contactName"><span class="h5">{{contact.name}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
<table class="no-margin-bottom table" ng-show="!filter">
    <tbody ng-repeat="contact in contactsModel.contacts track by contact.id|orderBy:'name'" ng-class="{selected: contactsModel.selected == contact.id}">
        <tr class="cursor-pointer" ng-click="selectContact(contact)" ng-class="{'selected-contact': contactsModel.currentContact === contact}"
            itemscope="" itemtype="http://launchpad.backbase.com/vocab/contact/summary" data-contactAccount="{{contact.account}}">
            <td class="col-xs-1"><img height="50" width="50" ng-src="{{decodePhotoUrl(contact.photoUrl)}}"/></td>
            <td class="col-xs-9 valign-middle" itemprop="contactName"><span class="h4">{{contact.name}}</span></td>
        </tr>
    </tbody>
</table>

<span ng-show="widgetSize ==='small' && contactsModel.contacts.length === 0">
    <div ng-include="partialsDir + 'contactsNone.html'"></div>
</span>
