<div ng-show="!filter || (filter &amp;&amp; (filteredContacts.length !== 0))" >
    <div class="text-right">
        <button ng-click="editContact()" type="button" class="btn btn-sm btn-link"><i class="lp-icon lp-icon-pencil"></i> Edit</button>
    </div>
    <div class="col-contact-image">
         <img ng-src="{{decodePhotoUrl(contactsModel.currentContact.photoUrl)}}" />
    </div>
    <div class="col-contact-form panel-body no-padding-top">
        <div class="h3">{{contactsModel.currentContact.name}}</div>
        <small class="text-muted">Account: </small>
        <small class="text-muted">{{contactsModel.currentContact.account}}</small>
        <div class="row details-area">
            <div ng-repeat="(key, value) in filterContactData(contactsModel.currentDetails) track by $index">
                <span ng-switch="key">
                    <small class="text-muted" ng-switch-when="dateOfBirth">Birthday: </small>
                    <small class="text-muted text-capitalize" ng-switch-default="">{{key}}: </small>
                    <small class="text-muted">{{value}}</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel-body lp-contact-transactions">
        <h3><i class="lp-icon lp-icon-transactions"></i> Transaction History</h3>
        <span class="text-muted">From <span ng-bind="defaultAccount.name"></span></span>
        <div class="row">
            <table class="table lp-contact-transactions-table margin-bottom-sm" ng-show="transactionsModel.transactions.length > 0">
                <tr class="lp-contact-transaction-row" ng-repeat="transaction in transactionsModel.transactions">
                    <td class="lp-cell-date" ng-class="{'lp-new-date': transaction.newDate}">
                        <div class="lp-contact-transactions-date h5 text-center">
                            <span class="lp-month">{{transaction.bookingDateTime | date:'MMM'}}</span><br/>
                            <span class="lp-day">{{transaction.bookingDateTime | date:'dd'}}</span>
                        </div>
                    </td>
                    <td class="lp-cell-item">
                        <div class="lp-transactions-item-title h4 text-muted"><span>{{transaction.counterpartyName}}</span></div>
                        <div class="lp-transactions-item-description h6 text-muted">{{transaction.transactionType}}</div>
                    </td>
                    <td class="lp-cell-amount">
                        <span class="value" lp-amount="transaction.transactionAmount" lp-amount-currency="transaction.transactionCurrency"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="transactionsModel.transactions.length > 0" class="clearfix text-right">
            <a ng-click="launchTransactionsForContact(contactsModel.currentContact)">
                <small lp-message="'showTransactionsInvolving'" lp-bundle="messages"></small> <small>{{contactsModel.currentContact.name}}</small>
            </a>
        </div>
        <p ng-show="transactionsModel.transactions.length === 0">
            <span lp-message="'noTransactionsForContact'" lp-bundle="messages"></span> {{contactsModel.currentContact.name}}
        </p>
    </div>
    <div ng-controller="ContactsPaymentController" class="panel-body">
        <div class="h3"><i class="lp-icon lp-icon-new-transfer"></i> New Transfer</div>
        <form name="paymentOrderForm" novalidate="" class="form">

            <div class="lp-alerts form-group">
                <div class="alert alert-error" ng-show="accountsModel.error || paymentOrdersModel.error">
                    <p ng-show="paymentOrdersModel.error"><span lp-message="paymentOrdersModel.error" lp-bundle="messages"></span></p>
                    <p ng-show="accountsModel.error"><span lp-message="accountsModel.error" lp-bundle="messages"></span></p>
                </div>
                <div class="alert alert-warning" ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.$invalid">
                    <p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.lpCurrencyFormat"><span lp-message="'invalidAmount'" lp-bundle="messages"></span></p>
                    <p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.lpCurrencyNonZero"><span lp-message="'zeroAmount'" lp-bundle="messages"></span></p>
                    <p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.required"><span lp-message="'requiredAmount'" lp-bundle="messages"></span></p>
                    <p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.lpCurrencyMaxLength"><span lp-message="'maxlengthAmount'" lp-bundle="messages"></span></p>
                    <p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.counterpartyName.$error.required"><span lp-message="'requiredName'" lp-bundle="messages"></span></p>
                </div>
            </div>

            <input type="hidden" name="uuid" ng-model="paymentOrder.uuid" />

            <div class="row form-group">
                <div class="col-md-12">
                    <div lp-accounts-select="lp-accounts-select" ng-model="accountsModel.selected" lp-accounts="accountsModel.accounts" name="accountId"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <textarea
                            name="remittanceInformation"
                            ng-model="paymentOrder.remittanceInformation"
                            rows="4"
                            maxlength="140"
                            class="form-control resize-none"
                            placeholder="description (optional)">
                    </textarea>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input
                                type="number"
                                name="instructedAmount"
                                lp-input-currency=""
                                ng-model="paymentOrder.instructedAmount"
                                required="required"
                                class="form-control"
                                placeholder="amount"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" name="submitForm" ng-click="submitPayment()" ng-class="{'btn-sm':widgetSize === 'small'}">
                            <span ng-hide="widgetSize === 'small'">Make </span>Quick Transfer</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
<div class="panel-message-sm text-center" ng-show="filter &amp;&amp; (filteredContacts.length == 0)">No Contact Selected</div>