<form ng-model="contactsModel.currentContact" name="addContact" novalidate="" ng-submit="submitContact(addContact.$valid)" class="contact-form">
    <div class="invisible"><button type="button" class="btn btn-sm btn-link"><i class="lp-icon lp-icon-pencil"></i> Edit</button></div>
    <div class="col-contact-image">
      <img ng-src="{{decodePhotoUrl()}}" />
    </div>
    <div class="col-contact-form panel-body no-padding-top">
        <div class="form-group">
            <label for="name" class="sr-only">name</label>
            <input type="text" name="name" id="name" class="form-control" ng-class="{lpinputerror: submitted && addContact.name.$error.required}" ng-model="contactsModel.currentContact.name" placeholder="name" required="" />
            <small class="text-danger" ng-show="submitted && addContact.name.$error.required">Name Required</small>
        </div>
        <div class="form-group">
            <label for="account" class="sr-only">account</label>
            <input type="text" id="account" name="account" class="form-control" ng-class="{lpinputerror: submitted && addContact.account.$error.required}" ng-model="contactsModel.currentContact.account" placeholder="account" required="" />
            <small class="text-danger" ng-show="submitted && addContact.account.$error.required">Account Required</small>
        </div>

        <div class="form-group" ng-repeat="(key, value) in filterContactData(contactsModel.currentDetails) track by $index">
            <div ng-switch="key">
                <button type="button" class="btn btn-link delete-btn" ng-click="deleteFormField(key);"><i class="lp-icon lp-icon-minus-sign lp-icon-red" ></i></button>
                <label for="{{key}}" class="sr-only">account</label>
                <input ng-switch-when="dateOfBirth" class="form-control" type="text" name="{{key}}" id="{{key}}" ng-model="contactsModel.currentDetails[key]" placeholder="birthday"/>
                <input ng-switch-when="email" class="form-control" type="email" name="{{key}}" id="{{key}}" ng-model="contactsModel.currentDetails[key]" placeholder="{{key}}"/>
                <input ng-switch-when="phone" class="form-control" type="tel" name="{{key}}" id="{{key}}" ng-model="contactsModel.currentDetails[key]" placeholder="{{key}}"/>
                <input ng-switch-default="" class="form-control" type="text" name="{{key}}" id="{{key}}" ng-model="contactsModel.currentDetails[key]" placeholder="{{key}}"/>
                <small class="text-danger" ng-show="submitted && errors[key]">{{errors[key]}}</small>
            </div>
        </div>

        <div class="form-group">
            <div class="dropdown" ng-show="canAddFields()">
                <a id="add-field" role="button" data-toggle="dropdown" class="dropdown-toggle" ng-class="{disabled: !canAddFields()}">
                    <i class="lp-icon lp-icon-plus"></i> Add a field
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="add-field">
                    <li ng-repeat="field in contactFields" ng-click="addFormField(field.key)">
                        <a tabindex="-1">{{field.text}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-sm btn-link" ng-click="cancelForm()">Cancel</button>
            <button class="btn btn-sm btn-primary" ng-click="submitted=true" type="submit" name="createContact">Create</button>
        </div>
    </div>
</form>