<div class="panel-message-sm" ng-show="!contactsModel.loading">
    <div class="panel-body text-center">Your address book does not have any entries.</div>
    <div class="text-center">
        <button class="btn btn-primary btn-sm" ng-click="addContact()">Add a contact</button>
    </div>
</div>
<div class="lp-contacts-details-inner lp-contacts-noresult" ng-show="contactsModel.loading">
    <div class="panel-message-sm text-center">Contacts loading...</div>
</div>