.bb-labs-pubsubradio-test{
	
}

.bb-labs-pubsubradio-test .alert{
	display:none;
}

.designMode .bb-labs-pubsubradio-test .alert{
	display:block;	
	font-size:8pt;
	margin:1px;
	padding:1px;
}

