.bb-labs-pubsubradio{
	
}

.bb-labs-pubsubradio .designmode-message{
	display:none;	
}
.designMode .bb-labs-pubsubradio .designmode-message{
	display:block;	
	font-size:8pt;
	margin:1px;
	padding:1px;
}

.bb-labs-pubsubradio .alert{
	display:none;
}