<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transactions</title>

    <g:preferences>
        <g:preference name="showRows" label="Show how many rows" type="text" default="5" viewhint="text,user,designModeOnly"/>
        <g:preference name="locale" label="Locale" type="text" default="en-US" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/conf/messages.json"/>
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts"/>
        <g:preference name="transactionsDataSrc" label="Transactions Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/$(accountId)/transactions"/>
        <g:preference name="categoryDataSrc" label="Category Data Source" type="text" default="$(contextPath)/services/rest/pfm/transaction-categories"/>
        <g:preference name="transactionDetailsDataSrc" label="Transactions Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/transaction/$(transactionId)/details" />
        <g:preference name="contactsDataSrc" label="Contacts Data Source" type="text" default="$(contextPath)/services/rest/party-data-management/counter-parties"/>
        <g:preference name="accountBalanceChartDataSrc" label="Accounts Chart Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/$(accountId)/balance"/>
        <g:preference name="transactionsChartDataSrc" label="Transactions Chart Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/$(accountId)/turnover"/>
        <g:preference name="showTransactionIcons" label="Show Transaction Icons" type="checkbox" default="true" viewhint="checkbox,user,designModeOnly"/>
        <g:preference name="showCharts" label="Show Charts" type="checkbox" default="false" viewhint="checkbox,user,designModeOnly"/>
        <g:preference name="accountsTopBalance" label="Top balance" type="select-one" viewhint="select-one,user,designModeOnly" defualt="current">
            <g:enumeration value="current" label="Current balance" />
            <g:enumeration value="available" label="Available balance" />
        </g:preference>
        <g:preference name="preferenceService" label="Preference Service" type="text" default="$(contextPath)/services/rest/party-data-management/preferences" />

        <g:preference name="widgetChrome" label="Widget Chrome" type="select-one" default="$(contextRoot)/static/pcfinancial/widgets/pcf-transactions/chrome/chrome.html" viewhint="select-one,designModeOnly,user">
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/blank/chrome-blank.html" label="Blank Chrome" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/default/chrome-default.html" label="Default Chrome" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-slide.html" label="Launcher Slide Chrome (Closed)" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-slide-open.html" label="Launcher Slide Chrome (Open)" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-tab.html" label="Launcher Tab Chrome" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-tab-hidden.html" label="Launcher Tab Chrome (Hidden)" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/springboard/chrome-springboard.html" label="Springboard Chrome" />
            <g:enumeration value="$(contextRoot)/static/pcfinancial/widgets/pcf-transactions/chrome/chrome.html" label="PCF Transactions Widget Chrome" />
        </g:preference>
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/transactions.css" />

    <script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-transactions pcf-transactions" g:onload="requireWidget(__WIDGET__, 'js/transactions');">

<div class="" ng-controller="transactionsController" ng-class="responsiveClass">
    <header class="view-more-row">
        <h5 class="view-more-link"><a ng-click="showTransaction()" class="cursor-pointer"><small>View More ></small></a></h5>
        <h5 class="view-close-btn" ng-show="accountsModel.selected"><i ng-click="hideMobileDashboardTransaction()" class="glyphicon glyphicon-remove cursor-pointer pull-right"></i></h5>
    </header>
    <!--  Full Content -->
    <div class="lp-widget-content" role="application">

        <!-- Alerts -->
        <div class="lp-alerts ng-cloak" ng-show="transactionsModel.errorCode || accountsModel.error">
            <div class="alert alert-error">
                <p ng-show="transactionsModel.errorCode">
                    <span lp-message="transactionsModel.errorCode" lp-bundle="messages"></span>
                    <a ng-click="transactionsModel.loadTransactions()" class="alert-link">Try again</a>
                </p>
            </div>
        </div>

        <!--  Widget Head -->
        <div class="clearfix ng-cloak">
            <div ng-if="accountsModel.accounts.length == 0">
                <div class="panel-message">No accounts available.</div>
            </div>

            <!--    <div ng-show="accountsModel.accounts">
                   <div lp-accounts-select="lp-accounts-select" ng-model="accountsModel.selected" lp-accounts="accountsModel.accounts" name="accountId" class="lp-accounts-header" ng-change="accountChanged()"></div>
               </div> -->
        </div>

        <!--  Body Content -->
        <div class="lp-widget-body widget-body clearfix pcf-transactions-widget-body ng-cloak" ng-style="{'height': widgetHeight +'px'}" ng-class="{ 'show-charts': showCharts, 'show-categories': showCategories}">

            <g:include src="partials/list.html"></g:include>

            <div ng-include="templates.list" ng-class="{ 'preview-all': previewAll }"></div>

        </div>
    </div>
</div>
</body>
</html>
