<div class="lp-sitemap">
    <div class="widget-footer clearfix">
    {{#links}}
        <div class="col-sm-2">
            <ul class="text-left">
                <li><a class="h5 text-dark" href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a></li>
                {{#children}}
                        {{> mustache_mid_level}}
                {{/children}}
            </ul>
        </div>
    {{/links}}
    </div>
</div>