<li>
    <a href="{{Url}}" class="h6 text-light" data-linkType="{{linkType}}">{{title}}</a>
    {{^children.isEmpty}}
        <ul class="childUL">
            {{#children}}
                {{> mustache_mid_level}}
            {{/children}}
        </ul>
    {{/children.isEmpty}}
</li>
