<?xml version="1.0"?>
<xupdate:modifications version="1.0" xmlns:xupdate="http://www.xmldb.org/xupdate">
    <xupdate:update select="//o[id = '${headers.id}']/active">false</xupdate:update>
</xupdate:modifications>