<div class="budget row">
	<div class="col-sm-7 col-xs-6 budget_desc"></div>
	<div class="text-right">
        <span class="current_value">$</span>
        <span class="budget_value"> of $</span>
	</div>
	<div class="row budget_total">
	    <div class="budget_completed"></div>
	</div>
</div>
