<div class="pcf-new-transfer-options">
    <div class="pcf-new-transfer-counterparty-logo pull-left"><img ng-src="{{option.logoPath}}"/></div>
    <div class="pcf-new-transfer-counterparty-name">{{option.name}}</div>
    <div class="pcf-new-transfer-counterparty-number"><small>({{option.account}})</small></div>
</div>
