<div class="pcf-new-transfer-options">
    <div class="pcf-new-transfer-options-left">
        <div class="pcf-new-transfer-account-name">{{option.name}}</div>
        <div class="pcf-new-transfer-account-number">({{option.iban}})</div>
    </div>
    <div class="pcf-new-transfer-options-right">
        <div class="pcf-new-transfer-balance">{{option.balance < 0 ? '- ' : ''}}{{ option.balance | currency : "$" }}</div>
        <div class="pcf-new-transfer-available-balance">{{option.balance < 0 ? '- ' : ''}}{{ option.availableBalance | currency : "$" }} available</div>
    </div>
</div>
