<script type="text/ng-template" id="/new-transfer/partials/exchangeRate.html">
    <div class="modal-header">
        <h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Exchange Rate</h2>
    </div>
    <div class="modal-body" >
        The used exchange rate is only provided for informational purposes and your transaction will be calculated against recent currency exchange rates.
        For more information on currency exchange rates, please click <a href="#">here</a>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="toggleExchangeRateModal()">Close</button>
    </div>
</script>