<script type="text/ng-template" id="/new-transfer/partials/routingAndAccountNumber.html">
    <div class="modal-header">
        <h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Routing and Account Number</h2>
    </div>
    <div class="modal-body">
        <img src="/portalserver/static/launchpad/widgets/new-transfer/media/cheque.png" class="cheque-img" alt="Routing and Account numbers"
            /></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="toggleRoutingNumberModal()">Close</button>
    </div>
</script>