<script type="text/ng-template" id="/new-transfer/partials/saveContacts.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click='hideModal()' ng-if='closable' aria-hidden="true">
            <i class="lp-icon lp-icon-remove"></i>
        </button>
        <h2 class="modal-title"><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Save to Contacts</h2>
    </div>
    <div class="modal-body" >
        Saving to contacts add your new contact to the address book. Allowing you to make easier future payments. If you go to the Address Book
        you will see the new contact has been added, and this is done automatically for you when you finish the transfer.
    </div>
    <div class="modal-footer" ng-if="showContactsOptions">
        <button name="closeModal" class="btn btn-link" ng-click="setContactPreference(false)" type="button">No, thanks</button>
        <button type="button" class="btn btn-primary" name="saveContacts" ng-click="setContactPreference(true)">Auto save all</button>
    </div>
    <div class="modal-footer" ng-if="!showContactsOptions">
        <button type="button" class="btn btn-primary" ng-click="toggleModal(true)">Close</button>
    </div>
</script>