<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transfer</title>

    <g:preferences>
        <g:preference name="locale" label="Locale" type="text" default="en-US" />

        <!-- Data sources -->
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts?partyId=$(partyId)" />
        <g:preference name="pendingPaymentOrdersDataSrc" label="Pending Payment Orders Data Source" type="text" default="$(contextPath)/services/rest/payment-orders/?partyId=$(partyId)"/>
        <g:preference name="paymentOrdersSubmitPoint" label="Payment Orders Data Source" type="text" default="$(contextPath)/services/rest/payment-orders/$(orderId)"/>
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/review-transfers/data/messages.json"/>

        <g:preference name="p2pEnrollmentEndpoint" label="Enrollment Status Endpoint for P2P Service" type="text" default="$(contextPath)/services/rest/p2p-enrollment" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/review-transfers.css" />

    <script src="../../conf/require-conf.js"></script>

</head>
<body class="lp-review-transfers" g:onload="requireWidget(__WIDGET__, 'js/review-transfers');">

    <div class="ng-cloak" ng-controller="ReviewTransfersController" ng-class="responsiveClass"
         itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/pending-orders">

        <g:include src="partials/authorize.html"></g:include>
        <g:include src="partials/verify-p2p-details.html"></g:include>

         <!-- Dialogs-->
        <div modal-dialog="" show="review.modalShown" closable="false">
            <div data-ng-include="templates.authorize"></div>
        </div>
        <div modal-dialog="" show="verify.modalShown" closable="false">
            <div data-ng-include="templates.verify"></div>
        </div>

        <!--  Full Content -->
        <div class="lp-widget-content">
            <div>
                <!--  Alerts -->
                <div class="lp-alerts">
                    <div class="alert alert-error" ng-if="ordersModel.loadError || ordersModel.submitError" role="alert">
                        <p ng-show="ordersModel.loadError"><span lp-message="ordersModel.loadError" lp-bundle="messages"></span></p>
                        <p ng-show="ordersModel.submitError"><span lp-message="ordersModel.submitError" lp-bundle="messages"></span></p>
                    </div>
                    <div class="alert alert-success" ng-if="ordersSubmitted"  itemprop="successMessage" role="alert">
                        <p>All transfers have been successfully submitted!</p>
                    </div>
                </div>

                <!--  Body Content -->
                <div class="lp-widget-body widget-body">

                    <div class="panel-message" ng-show="ordersModel.pendingOrdersGroups.length == 0">
                        No pending transfers to review.
                    </div>
                    <ul class="list-group" ng-repeat="group in ordersModel.pendingOrdersGroups" itemscope="" itemprop="paymentOrderAccount">
                        <li class="list-group-item panel-heading" tabindex="0">
                            <small class="text-muted">From:</small><span class="h4" itemprop="fromAccount"> {{accountsModel.findById(group["@id"]).name}}</span><br/>
                            <small class="text-muted" aria-hidden="true">{{accountsModel.findById(group["@id"]).iban}}</small>
                            <span class="sr-only">Account IBAN {{accountsModel.findById(group["@id"]).iban | lpAriaNumber}}</span>
                        </li>
                        <li class="list-group-item clearfix" ng-repeat="paymentOrder in group.paymentOrders"
                            itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/payment-order"
                            tabindex="0">
                            <div class="row">
                                <div ng-class="{'col-xs-3': paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified, 'col-xs-9': p2pUser.emailVerified || paymentOrder.type !== transferTypeEnum.p2pEmail}">
                                    <small class="text-muted">To:</small><span class="h4" itemprop="counterpartyName"> {{paymentOrder.counterpartyName}}</span>
                                </div>
                                <div class="col-xs-6" ng-if="paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified">
                                    <div ng-click="verifyP2PDetails(paymentOrder, false)">
                                        <button class="verify-p2p"><span class="glyphicon glyphicon-warning-sign"></span>  Verify<span class="hidden-xs"> your P2P details</span></button>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <span class="sr-only">Amount</span>
                                    <span lp-amount="paymentOrder.instructedAmount" lp-amount-currency="paymentOrder.instructedCurrency" itemprop="instructedAmount"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <span class="sr-only">Account IBAN</span>
                                    <small ng-class="{'raise': paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified}" class="text-muted" itemprop="counterpartyIban" lp-aria-number="paymentOrder.accountDetails"></small>
                                </div>
                                <div class="col-xs-3 text-right" itemprop="instructedDateTime">
                                    <span class="sr-only">Date {{ paymentOrder.initiationDateTime | date:'longDate' }}</span>
                                    <small ng-class="{'raise': paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified}" class="text-muted" aria-hidden="true"><em>{{ paymentOrder.initiationDateTime | date:'dd/MM/y' }}</em></small>
                                </div>
                            </div>
                            <div class="row" ng-if="paymentOrder.verificationFailure">
                                <div ng-class="{'raise': paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified}" class="col-xs-12 verification-error">
                                    Unsent - please verify your contact details before you continue
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--  Footer -->
            <div class="widget-footer">
                <button name="makePayment"
                        class="pull-left btn btn-default"
                        ng-click="makePayment()"
                        type="button">
                    Make new transfer
                </button>
                <button name="submitPayments"
                        class="pull-right btn btn-primary"
                        ng-click="submitPayments()"
                        type="button">
                    Submit All
                </button>
            </div>

        </div>

    </div>
</body>
</html>