<!DOCTYPE html>
<html ng-app="lpNotifications">
    <head>
        <title>Launchpad Add Notification Tool</title>
        <link href="../support/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <style>
            .waiting-icon {
                visibility: hidden;
            }
            .waiting .waiting-icon {
                visibility: visible;
            }
        </style>

        <script src="../support/jquery.js"></script>
        <script src="../support/angular.js"></script>
        <script src="notifications.js"></script>
    </head>
    <body>

        <div class="container">
            <h1>Launchpad Notification Tools</h1>
            <div data-ng-controller="AddNotificationController">
                <h2>Add a new notification</h2>

                <p>Ensure you are logged in as the user you want to add messages for.</p>

                <div ng-if="error" class="alert alert-error">
                    {{error}}
                </div>

                <div ng-if="success" class="alert alert-success">
                    {{success}}
                </div>

                <form no-validate="novalidate" ng-submit="send();" class="clearfix form-horizontal">
                    <h3>Notification details</h3>
                    <div class="control-group">
                        <label class="control-label">Server context path</label>
                        <div class="controls">
                            <input type="text" class="input-medium" ng-model="contextPath">
                            <button type="button" class="btn btn-small" ng-click="setDefaultContextPath()">/portalserver</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Message</label>
                        <div class="controls">
                            <input type="text" class="input-large" ng-model="model.message" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Closable</label>
                        <div class="controls">
                            <input type="checkbox" ng-model="model.closable">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Expires</label>
                        <div class="controls">
                            <select ng-model="model.expiresOn" required>
                                <option value="{{1000 * 60}}" selected="selected">1 minute</option>
                                <option value="{{1000 * 60 * 30}}">30 minutes</option>
                                <option value="{{1000 * 60 * 60}}">1 hour</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Level</label>
                        <div class="controls">
                            <select ng-model="model.level" required>
                                <option value="INFO" selected="selected">Info</option>
                                <option value="WARNING">Warning</option>
                                <option value="SEVERE">Severe/Error</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Link URI</label>
                        <div class="controls">
                            <input type="text" ng-model="model.link_uri">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Link Rel</label>
                        <div class="controls">
                            <input type="text" ng-model="model.link_rel">
                        </div>
                    </div>

                    <div class="clearfix">
                        <button class="btn btn-success pull-right" type="submit">Add notification</button>
                        <img src="waiting.gif" class="waiting-icon">
                     </div>
                </form>
            </div>
        </div>
    </body>
</html>