<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <title>P2P Preferences</title>
    <g:preferences>
        <!-- Data sources -->
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts?partyId=$(partyId)"/>
        <g:preference name="p2pEnrollmentEndpoint" label="Enrollment Status Endpoint for P2P Service" type="text" default="$(contextPath)/services/rest/p2p-enrollment" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/p2p-preferences/data/messages.json" />
        <g:preference name="emailLimit" label="Email Limit" type="text" default="7" />
        <g:preference name="locale" label="Locale" type="text" default="en-EN" />
        <g:preference name="allowMultipleEmails" label="Allow multiple emails" type="checkbox" default="false" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/p2p-preferences.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/p2p-preferences');">

<div ng-controller="P2PPreferencesController" class="lp-p2p-preferences ng-cloak">

    <g:include src="partials/verify-email.html"></g:include>

    <div modal-dialog="" show="verify.modalShown" closable="false">
        <div ng-include="templates.verify"></div>
    </div>

    <!-- Alerts -->
    <div class="lp-alerts">
        <div class="alert alert-error" ng-show="accountsModel.error || p2pService.error">
            <p ng-show="accountsModel.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-message="'accountsModelError'" lp-bundle="messages"></span></p>
            <p ng-show="p2pService.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-message="'p2pServiceError'" lp-bundle="messages"></span></p>
        </div>
    </div>



    <!--  Full Content -->
    <div class="lp-widget-content">

        <!-- widget head -->

        <div class="lp-widget-body widget-body panel-body">

            <div ng-if="!userEnrolled">
                <p class="panel-message text-center">You are not enrolled in P2P, please register <a href="" tabindex="0" class="cursor-pointer" ng-click="enroll()">here</a>.</p>
            </div>
            <div ng-if="userEnrolled">
                <form class="form-horizontal" role="form" name="p2pPreferencesForm">
                    <label class="service-details">This P2P Service is provided by {{p2pProvider.name}} <span class="lp-icon" ng-class="p2pProvider.icon"></span></label>

                    <div lp-field="lp-field"
                         label="Deposit account"
                         class="deposit-account"
                         >
                        <div dropdown-select="dropdown-select"
                             label="Select Deposit Account"
                             ng-model="p2pUserDetails.depositAccount.value"
                             ng-options="val.iban as val.name for val in p2pUserDetails.depositAccount.options"
                             ng-change="saveAccount(p2pUserDetails.depositAccount.value)"
                             loading="isLoading"
                             itemprop="deposit_account_field">
                        </div>
                    </div>

                    <div ng-repeat="emailAddress in p2pUserDetails.emails">
                        <div lp-field="lp-field"
                             label="Email"
                             class="email"
                             errors="emailErrors.errors"
                             error-messages="emailErrors.messages"
                             extra-controls="true"
                                >
                            <div lp-control="lp-control"
                                 class="field"
                                 tabindex="0"
                                 ng-model="emailAddress.value"
                                 validate="validateEmail(value)"
                                 ng-change="saveEmail($index, emailAddress)"
                                 itemprop="name_field"
                                 required="false"
                                 label="Email Address"
                                    >
                            </div>
                            <div class="control">
                                <div ng-show="!emailAddress.verified &amp;&amp; emailAddress.value.length > 0">
                                    <span class="unconfirmed"><i class="glyphicon glyphicon-warning-sign"></i> Unconfirmed</span><br />
                                    <span class="send-confirmation" ng-click="beginVerification(emailAddress)">Send confirmation email</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>