.lp-navbar-advanced .navbar {
    z-index: 9999;
}

.lp-navbar-advanced .launcher-toggle {
    margin-left: 5px;
    width: auto;
}

.lp-navbar-advanced .launcher-toggle .launcher-logo {
    height: 15px;
}

.lp-navbar-advanced .navbar-brand.active-page {
    float: none;
    margin: 0;
}

.lp-navbar-advanced .launcher-toggle .badge {
    margin-left: 10px;
}

.lp-navbar-advanced.design-mode .navbar {
    position: static
}

/**
 * Preset hamburger animation styles
 */

.lp-navbar-advanced .animation-arrow .animate {
    position: relative;
}

.lp-navbar-advanced .animation-arrow span, .lp-navbar-advanced .animation-none span {
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.lp-navbar-advanced .animation-arrow span.bar-first {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    margin-top: 5px;
}

.lp-navbar-advanced .animation-arrow span.bar-second {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 70%;
    margin-left: 8px;
    margin-top: 4px;
}

.lp-navbar-advanced .animation-arrow span.bar-third {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 70%;
    margin-left: -1px;
    margin-top: -2px;
}

.lp-navbar-advanced span.bar-first {
     -webkit-transform: rotate(0deg);
     transform:rotate(0deg);
     -moz-transform:rotate(0deg);
     -ms-transform:rotate(0deg);
     -o-transform:rotate(0deg);
}

.lp-navbar-advanced span.bar-second {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

.lp-navbar-advanced span.bar-third {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

.lp-navbar-advanced .lp-transparency-scroll {
    transition: opacity 0.7s ease;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;

    opacity: 0.5;
}

.lp-navbar-advanced .lp-hide-show-scroll {
    transition: min-height 0.3s ease;
    -webkit-transition: min-height 0.3s ease;
    -moz-transition: min-height 0.3s ease;
    -ms-transition: min-height 0.3s ease;
    -o-transition: min-height 0.3s ease;

    min-height: 0px;
    height: 0px;
}

.lp-navbar-advanced .lp-hide-show-scroll * {
    display: none!important;
}










/** pcf **/
.pcf-nav-init{
    min-height: 70px;
    background: #fff;
}
.pcf-nav-init .navbar-inverse{
    margin-bottom: 0;
}
.PCF-nav .navbar-inverse{
    background-color: #fff;
    border: none;
    font-size: 18px;
}
.PCF-nav .navbar-inverse .navbar-nav > .open > a,
/*.PCF-nav .navbar-inverse .navbar-nav > .open > a:hover,*/
.PCF-nav .navbar-inverse .navbar-nav > .open > a:focus,
.PCF-nav .navbar-inverse .navbar-nav > li > a {
    color: #ee2e24;
    line-height: 40px;
    border: none;
}
.PCF-nav .navbar-brand{
    height: auto;
}
.PCF-nav .dropdown{
    width: auto;
}
.PCF-nav .navbar-inverse .navbar-nav > .open > a,
.PCF-nav .navbar-inverse .navbar-nav > .open > a:hover,
.PCF-nav .navbar-inverse .navbar-nav > .open > a:focus{
    background: #ebebeb;
}
.PCF-nav .navbar-inverse .navbar-nav > .active > a,
.PCF-nav .navbar-inverse .navbar-nav > .active > a:hover,
.PCF-nav .navbar-inverse .navbar-nav > .active > a:focus{
    background: #ebebeb;
}
.PCF-nav .dropdown-toggle{
    cursor: pointer;
}
.PCF-nav .PCF-banking-menu{
    background: transparent;
    border-radius: 0;
    box-shadow: none;
/*display: block !important;*/
    position: fixed;
    top: 70px;
    padding: 30px 0;
    left: 0;
}
.PCF-banking-menu:after{
    content:'';
    background:#ebebeb;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0.7;
    z-index: -1;
}
.PCF-banking-menu-tab{
    background: #fff;
    color: #666;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}
.PCF-banking-menu-tab .lp-icon-caret-right{
    color: #ee2e24;
    font-size: 18px;
    vertical-align: middle;
    line-height: 21px;
}
.PCF-nav .nav-tabs > li.active > a,
.PCF-nav .nav-tabs > li.active > a:hover,
.PCF-nav .nav-tabs > li.active > a:focus{
    border: none;
}
.PCF-nav .nav-tabs{
    background: #fff;
    padding: 10px 0 10px 20px;
    display: block;
    border: none;
    left: 15px;
    position: absolute;
    right: 506px;
    top: 0;
    bottom: 0;
}
.PCF-nav .nav-tabs > .PCF-banking-menu-tab > a:hover,
.PCF-nav .nav-tabs > .PCF-banking-menu-tab.active > a:hover,
.PCF-nav .nav-tabs > .PCF-banking-menu-tab.active > a{
    background: #f6f6f6;
}
.PCF-nav .nav-tabs > .PCF-banking-menu-tab > a{
    color: #666;
    border: none;
    border-radius: 0;
    margin-right: 0;
    outline:none;
}
.PCF-nav .nav-tabs > .PCF-banking-menu-tab{
    border: none;
    margin: 0;
}

.PCF-nav .tab-content{
    display: block;
    width: 501px;
    margin-left: -3px;
    float: right;
}
.PCF-banking-menu-left{
    padding-right: 5px;
    display: inline-block;
    left: 0;
    position: absolute;
    right: 250px;
    top: 0;
}
.PCF-banking-menu-right{
    padding-left: 0;
    display: block;
    width: 250px;
    float: right;
}
.PCF-banking-menu-right img{
    margin-bottom: 5px;
}
.PCF-banking-menu-row{
    position: relative;
}


/* mobile */
.mobile .PCF-nav .launcher-logo{
    /*padding: 5px 10px;*/
    height: 35px;
    margin-top: 8px;
}
.mobile .PCF-nav .navbar-inverse .navbar-toggle:hover,
.mobile .PCF-nav .navbar-inverse .navbar-toggle{
    border: none;
    background: #fff;
    margin-right: 5px
}
.mobile .PCF-nav .navbar-inverse .navbar-toggle .icon-bar{
    background: #ee2e24;
}
.mobile .PCF-nav .navbar-inverse .navbar-collapse{
    border: none;
    background: #ee2e24;
    color: #fff;
    padding: 10px;
}
.mobile .PCF-nav .navbar-inverse .navbar-nav > .open > a,
/*.PCF-nav .navbar-inverse .navbar-nav > .open > a:hover,*/
.mobile .PCF-nav .navbar-inverse .navbar-nav > .open > a:focus,
.mobile .PCF-nav .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding: 10px;
    background: #b70c03;
    margin-bottom: 2px;
    outline: none;
}
.mobile .PCF-nav .navbar-collapse .navbar-nav{
    margin: 0;
}
.mobile .PCF-nav .pcf-nav-big,
.mobile .PCF-nav .pcf-nav-normal,
.mobile .PCF-nav .pcf-nav-small{
    padding: 0;
}

.mobile .PCF-nav .navbar-inverse .pcf-nav-big > .open > a,
.mobile .PCF-nav .navbar-inverse .pcf-nav-big > .open > a:focus,
.mobile .PCF-nav .navbar-inverse .pcf-nav-big a{
    line-height: 18px;
}

.mobile .PCF-nav .navbar-inverse .pcf-nav-normal > .open > a,
.mobile .PCF-nav .navbar-inverse .pcf-nav-normal > .open > a:focus,
.mobile .PCF-nav .navbar-inverse .pcf-nav-normal a{
    line-height: 14px;
    font-size: 14px;
}

.mobile .PCF-nav .navbar-inverse .pcf-nav-normal.col-xs-6 a{
    margin-top: 10px;
}
.mobile .PCF-nav .navbar-inverse .pcf-nav-normal.pcf-nav-normal-left a{
    margin-right: 2px;
}

.mobile .PCF-nav .navbar-inverse .navbar-nav >.pcf-nav-small > .open > a,
.mobile .PCF-nav .navbar-inverse .navbar-nav >.pcf-nav-small > .open > a:focus,
.mobile .PCF-nav .navbar-inverse .navbar-nav >.pcf-nav-small > a{
    line-height: 12px;
    font-size: 12px;
    background: #ee2e24;
}
.mobile .PCF-nav-logout-btn:focus,
.mobile .PCF-nav-logout-btn:hover,
.mobile .PCF-nav-logout-btn{
    outline: none;
    border: none;
    background: #ee2e24;
    color: #fff;
    border-radius: 10px;
    margin: 12px 5px 0;
    padding: 3px 7px;
}

.tablet .PCF-nav .navbar-fixed-top,
.mobile .PCF-nav .navbar-fixed-top,
.mobile .PCF-nav .navbar-fixed-bottom{
    -webkit-transform : none;
    transform: none;
}
.mobile .PCF-nav .collapsing,
.mobile .PCF-nav .collapse.in{
    bottom: 0;
    height: auto;
    max-height: none;
    position: fixed;
    top: 48px;
    width: 100%;
}

.mobile .padding-small{
    padding: 0 5px;
}
/* design mode */
.designMode [data-pid*="widget-navbar-advanced"]{
    z-index: 2;
}
