<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} widget widget-default pcf-chrome" > 
	<div class="bp-widget-head">
        <header class="row tips_alerts_header {{#showDelete}}pcf-widget-title{{/showDelete}}">
            <h4 class="col-sm-8 col-xs-9 {{#showDelete}}cursor-pointer{{/showDelete}}">PC Plus:
                 <span class="reward_points_total">28,750</span>
             </h4>
             <a class="manage_tips_alerts pull-right text-right col-sm-4 col-xs-3 pc-plus-view-more hidden-xs" href="#">View More </a>
		</header>
		{{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden cursor-pointer"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
	</div>
    <div class="bp-widget-body aa-widget-body border-none" id="{{widgetInstanceId}}-body">{{{widgetContent}}}</div>
</div>