.widget-profile-summary {
/* 	overflow: hidden!important; */
}
.lp-profile-summary-username {
    font-family: 'latoregular', "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

