<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
		
	    <script src="js/i18n-manager.js"></script>
	    <link href="css/i18n-manager.css" rel="stylesheet"/>

		<w:preferences>
			<w:preference name="defaultlocale" label="Default Language" type="text" viewhint="user" default="en-us"/>
			<w:preference name="locale" label="Locales" type="text" viewhint="user" default="en-us,fr-ca,es-mx,zh-cn"/>
		</w:preferences>

	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.i18nManager(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-i18n-manager container-fluid">
			<div class="row">
				<div class="col-md-5 listresources">
					<div role="form">
						<div class="form-group">
							<label>Resources for [*default*]</label>
							<p class="help-block">Select a resource to edit or delete, or click create for new resources.</p>
							<select class="form-control" size="15"/>
						</div>
						<button type="button" class="btn btn-default create">Create</button>
						<button type="button" class="btn delete" disabled="disabled">Delete</button>
  					</div>
				</div>
				<div class="col-md-6 editresources hidden panel panel-default">
					<div role="form" class="info">
						<div class="form-group">
							<label>Enter the resource values below</label>
							<p class="help-block">The values of ID and [*default*] is mandatory.</p>
						</div>
					</div>
					<div class="form-horizontal resourceid" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">ID</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Enter Resource ID here"/>
							</div>
						</div>
  					</div>
					<div class="form-horizontal fields" role="form">
					
  					</div>
					<div class="form-horizontal controls" role="form">
						<div class="form-group">
							<div class="col-sm-offset-9 col-sm-9">
								<button type="button" class="btn btn-default translate">Auto Translate</button>
								<button type="button" class="btn btn-default save">Save</button>
							</div>
						</div>
  					</div>
				</div>
			</div>
		</div>
		<script data-template="resource-edit" type="text/html">
			<div class="form-group">
				<label for="{{id}}" class="col-sm-2 control-label">{{locale}}</label>
				<div class="col-sm-9">
					<input type="text" data-locale="{{locale}}" class="form-control" id="{{id}}" placeholder="{{placeholder}}" value="{{value}}"/>
				</div>
			</div>
		</script>	
	</body>
</html>
