<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Loyalty</title>

    <g:preferences>
        <g:preference name="loyaltiesSrc" label="Data source for loyalties data" type="text" default="$(contextPath)/static/launchpad/widgets/loyalty/data/card-loyalty.json" />
    </g:preferences>

    <script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-loyalty" g:onload="requireWidget(__WIDGET__, 'js/loyalty');">

    <div class="ng-cloak" ng-controller="loyaltyController" lp-responsive="lp-responsive" on-size-change="onSizeChange(size)">

         <!--  Full Content -->
         <div class="lp-widget-content panel-body">
             <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Rewards</h3>
                  </div>
                  <div class="panel-body">
                    <div ng-repeat="row in loyaltyData">
                        <div class="col-sm-7" ng-switch="row.type">
                            <a ng-switch-when="link" ng-href="{{row.value}}" target="_blank">{{row.label}}</a>
                            <span  ng-switch-default="ng-switch-default" class="text-muted">{{row.label}}:</span>
                        </div>
                        <div class="col-sm-5" ng-switch="row.type">
                            <span ng-switch-when="number">{{row.value}}</span>
                            <span ng-switch-when="datetime">{{row.value | date:"dd/MM/yyyy"}}</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <p>
                  <button type="button" class="btn btn-primary btn-sm btn-block">Redeem points</button>
                  <button type="button" class="btn btn-primary btn-sm btn-block">Transfer points</button>
                </p>
            </div>
        </div>
    </div>
</body>
</html>