.bb-labs-action-button {
	
}

.bb-labs-action-button.action-nav-button {
	display: inline-block;
    margin-bottom: 15px;
    padding:5px;
    position: relative;
    text-align: center;
}

.bb-labs-action-button.action-nav-button a {
 	-moz-box-sizing: border-box;
    background: -moz-linear-gradient(center top , #FAFAFA, #ECECEC) repeat scroll 0 0 / 100% auto #ECECEC;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #FAFAFA inset, 0 1px 1px 0 #DDDDDD;
    color: #626262;
    display: block;
    font-weight: 600;
    padding: 10px 0;
    white-space: nowrap;
    text-decoration:none;
}
 
.bb-labs-action-button.action-nav-button a > i{
 	color: #808080;
    font-size: 32px;
}

.bb-labs-action-button.action-nav-button a > span{
	display: block;
    font-weight: 600;
    padding-top: 4px;
}

.triangle-button:before {
	border-bottom: 32px solid rgba(0, 0, 0, 0);
    border-right: 32px solid;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.triangle-button {
	margin:5px 5px 0 0;
	border-top-right-radius: 3px;
    pointer-events: none;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}
.counter > p{
	margin:5px 5px 0 0;
	font-size: 11px;
	overflow: hidden;
	position: absolute;
    top:0;
    right: 0;
	color: red;
    text-align: center;
    text-shadow: none;
    font-weight: 600;
    width: 24px;
    white-space: nowrap;
}

.boxed {
	border-radius:3px;
	margin:5px 5px auto auto;
}