.border-none {
	border: none;
}

.tips_alerts_header {
	background-color: #F9F9F9;
	margin-left: 0;
	margin-right: 0;
}

.tips_alerts_header h4, .current_value {
	color: #EE2E24;
}

.manage_tips_alerts {
	font-size: 75%;
	padding: 15px 15px 0 0;
	color: #999;
}

.manage_tips_alerts:hover, .manage_tips_alerts:focus, .manage_tips_alerts:active, .manage_tips_alerts:visited {
	color: #999;
}

.manage_tips_alerts::after {
	content: "  >";
	float: right;
}

#tips_alerts {
	background: white;
	margin-left: 0;
	margin-right: 0;
	font-size: 12px;
	overflow: hidden;
}

.tip_alert {
	margin: 2px 8px;
	position: relative;
	border-top: 1px solid #f4f4f4;
}

.tip_alert:first-of-type {
	border: none;
	margin-top: -1px;
}

.tip_alert_image {
	height: 24px;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center 8px;
}
.tip_alert_message {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	padding-top: 4px;
}

.tip_alert_desc {
	font-size: 11px;
	height: 1em;
	margin-left: -250%;
	padding-right: 15px;
}

.tip_alert_text {
	font-size: 10px;
	margin-left: -250%;
	padding-top: 2px;
	padding-right: 15px;
}

.tip_alert_arrow {
	vertical-align: middle;
	height: 100%;
	position: absolute;
	right: 9px;
	top: 25%;
	padding: 0;
	width: 4px;
}
