<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Advanced Navbar</title>

    <g:preferences>
        <!-- Data sources -->
        <g:preference name="navRoot" label="The portal root to display the nav links from" type="text" default="navroot_mainmenu" />

        <!-- general nav preferences -->
        <g:preference name="navShow" label="Show or hide the NavBar" type="checkbox" default="true" viewhint="checkbox,user,designModeOnly" />
        <g:preference name="navSticky" label="Set the Navbar sticky or not" type="checkbox" default="true" />
        <g:preference name="scrollSetting" label="Page Scroll settings" type="select-one" viewhint="select-one,user,designModeOnly">
            <g:enumeration value="normal" label="Normal" />
            <g:enumeration value="transparency" label="Transparency" />
            <g:enumeration value="hide-show" label="Hide/Show" />
        </g:preference>
        <g:preference name="showPageTitle" label="Show Page Title" type="checkbox" default="true" />

        <!-- logo preferences -->
        <g:preference name="logoURL" label="URL for web logo" type="text" default="$(contextPath)/static/launchpad/widgets/navbar-advanced/media/pcf-logo.jpg" />
        <g:preference name="mobileLogoURL" label="URL for mobile logo" type="text" default="$(contextPath)/static/launchpad/widgets/navbar-advanced/media/pcf-logo.jpg" />
        <g:preference name="launcherIcon" label="Icon for Launcher Menu" type="select-one" viewhint="select-one,user,designModeOnly">
            <g:enumeration value="arrow-left" label="Arrow left" />
            <g:enumeration value="small-hamburger" label="Small Hamburger" />
            <g:enumeration value="large-hamburger" label="Large Hamburger" />
            <g:enumeration value="vertical-ellipsis" label="Vertical Ellipsis" />
        </g:preference>

        <!-- navigation and launcher icon preferences -->
        <g:preference name="navigationIconAnimationHook" label="Navigation menu icon animation hook" type="text" default="arrow" />
        <g:preference name="showNotificationsBadge" label="Show Notifications badges inside the Launcher Toggle" type="checkbox" default="false" viewhint="checkbox,user,designModeOnly" />

    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/navbar-advanced.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/navbar-advanced');" class="pcf-nav-init">
<div ng-controller="NavBarAdvancedController" class="lp-navbar-advanced ng-cloak PCF-nav" ng-class="{'design-mode': isDesignMode}">

    <!--  Full Content -->
    <div class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': navSticky}" scrolling-hook="scrolling-hook" scroll-class="scrollSetting" scroll-distance="100"  role="navigation">
        <div class="container">
            <div class="navbar-header clearfix">
                <div class="hidden-sm hidden-md hidden-lg col-xs-12 padding-small">
                    <div class="col-xs-2 padding-small">
                        <button type="button" class="navbar-toggle pull-left" ng-click="toggleMenu()">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-xs-7 padding-small text-center">
                        <a class="" ng-href="{{links[0].path}}">
                            <img ng-if="mobileLogoUrl.length > 0" ng-src="{{mobileLogoUrl}}" class="launcher-logo"/>
                        </a>
                    </div>
                    <div class="col-xs-3 padding-small">
                        <a class="btn PCF-nav-logout-btn pull-right" ng-href="{{path + '/j_spring_security_logout?portalName=pcf-mobile' }}" >Log out</a>
                    </div>
                </div>
                <a class="navbar-brand hidden-xs" ng-href="{{links[0].path}}"><img ng-src="{{logoUrl}}" /></a>
            </div>
            <div class="collapse navbar-collapse" collapse="showMenu">
                <!-- desktop & tablet -->
                <ul class="nav navbar-nav" ng-if="!isMobile">
                    <span ng-repeat-start="link in links"></span>
                    <li ng-class="{active: link.currentPage}" ng-if="link.properties.title.value === 'Banking' || link.properties.title.value === 'Credit Cards'" class="dropdown">
                            <a ng-href="{{link.path}}" class="dropdown-toggle" data-toggle="dropdown" is-open="true">{{link.properties.title.value}}</a>
                            <div class="dropdown-menu PCF-banking-menu" role="menu">
                                <div class="container">
                                    <div class="row PCF-banking-menu-row">
                                        <div class="PCF-banking-menu-left">
                                            <tabset vertical="true" type="pills">
                                                <tab ng-repeat="childLink in link.children.link" class="PCF-banking-menu-tab">
                                                    <tab-heading class="PCF-banking-menu-heading">
                                                        {{childLink.properties.title.value}} <i class="lp-icon lp-icon-caret-right pull-right"></i>
                                                    </tab-heading>
                                                    <tab-content class="PCF-banking-menu-content">
                                                        <img ng-src="{{path + '/static/launchpad/widgets/navbar-advanced/media/' + childLink.properties.title.value +'.jpg'}}"/>
                                                    </tab-content>
                                                </tab>
                                            </tabset>
                                        </div>
                                        <div class="PCF-banking-menu-right">
                                            <img src="media/ads_top.jpg"/>
                                            <img src="media/ads_bottom.jpg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                    <li ng-class="{active: link.currentPage}"  ng-if="link.properties.title.value !== 'Banking' &amp;&amp; link.properties.title.value !== 'Credit Cards'">
                        <a ng-href="{{link.path}}">{{link.properties.title.value}}</a>
                    </li>
                    <span ng-repeat-end=""></span>
                </ul>

                <!-- mobile -->
                <ul class="nav navbar-nav" ng-if="isMobile">
                    <span ng-repeat-start="link in links track by $index"></span>
                        <!-- <li ng-class="{active: link.currentPage}" class="col-xs-12 pcf-nav-big" ng-if="$index&gt;0 &amp;&amp; $index&lt;4">
                            <a ng-href="{{link.path}}">{{link.properties.title.value}} <i class="glyphicon glyphicon-circle-arrow-right pull-right"></i></a>
                        </li>
                        <li ng-class="{active: link.currentPage, 'pcf-nav-normal-left': $index===4}" class="col-xs-6 pcf-nav-normal" ng-if="$index&gt;3 &amp;&amp; $index&lt;6">
                            <a ng-href="{{link.path}}">{{link.properties.title.value}}</a>
                        </li> -->
                        <li ng-class="{active: link.currentPage}" class="col-xs-12 pcf-nav-normal" ng-if="$index&gt;0 &amp;&amp; $index&lt;7">
                            <a ng-href="{{link.path}}">{{link.properties.title.value}}</a>
                        </li>
                        <li ng-class="{active: link.currentPage}"  class="col-xs-12 pcf-nav-small"  ng-if="$index&gt;6">
                            <a ng-href="{{link.path}}">{{link.properties.title.value}} <small><i class="glyphicon glyphicon-play"></i></small></a>
                        </li>
                    <span ng-repeat-end=""></span>
                </ul>

                <!-- <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li><a class="lp-link-launcher" href="/portalserver/home"><i class="lp-icon lp-icon-launcher"></i> <span class="sr-only">launcher</span></a></li>
                    <li><a class="lp-link-Springboard" href="/portalserver/springboard"><i class="lp-icon lp-icon-Springboard"></i> <span class="sr-only">springboard</span></a></li>
                </ul> -->
            </div>
        </div>
    </div>

</div>

</body>
</html>
