<!-- <script type="text/ng-template" id="$transactions/sortDropdownOption.html"> -->
<!--     <span><i class="{{option.icon}} pull-right"></i><span class="sr-only">Sort by</span>{{option.label}} <span class="sr-only">{{option.aria}}</span></span> -->
<!-- </script> -->


<script type="text/ng-template" id="/transactions/partials/list.html">
<!--  Body Content -->
<div class="lp-widget-body" ng-controller="transactionsListController" ng-class="{logohidden: hideLogo}">

    <div class="panel-message" ng-if="transactionsModel.noTransactionsFound()" role="alert">
        <p>There are no transactions to display
            <span ng-show="!transactionsModel.isSearching()">for this account</span>
            <span ng-show="transactionsModel.isSearching()">for this search</span>.
        </p>
    </div>

    <ul id="transactions-list" role="presentation" class="list-group list-view transactions-list">
        <li class="list-group-item list-view-row clearfix" ng-class="{ open: transaction.showDetails }"
            ng-repeat="transaction in allTransactions track by $index"
            itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/transaction">
            <div class="list-view-container cursor-pointer clearfix" ng-click="openDetails(transaction)"
                tabindex="0" ng-keydown="transactionKeydown($event, transaction)"
                ng-mouseleave="closePreview(transaction)" role="button"
                id="transaction-{{transaction.id}}" aria-expanded="{{ !!transaction.showDetails }}"
                aria-controls="transaction-details-{{transaction.id}}">
                <div class="info">
                    <div class="col-xs-1 col-sm-1 column pcf-transaction-date" ng-class="{ hidden: categorySmallLayout }" ng-mouseover="openPreview(transaction)">
                        <div class="centered">
                            <div class="h4 text-center lp-transactions-date" aria-hidden="true" ng-if="isNewDate((transaction.bookingDateTime | date:'MMM'), (transaction.bookingDateTime | date:'dd'))">
                                <span itemprop="dateTimeMonth">{{transaction.bookingDateTime | date:'MMM'}}</span>
                                <span itemprop="dateTimeDate">{{transaction.bookingDateTime | date:'dd'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="column left-align pcf-transaction-detail" ng-class="{ 'col-xs-11 col-sm-11': !categorySmallLayout, 'col-xs-12 col-sm-12 padded': categorySmallLayout }">
                        <div class="centered">
                            <div class="h4 counterparty-name col-xs-5" itemProp="counterpartyName"><span class="sr-only">Name</span><span ng-repeat="account in accountsModel.accounts | filter:transaction.accountId"><img class="account-icon" ng-src="{{path + '/static/pcfinancial/widgets/pcf-transactions/media/' + account.groupCode + '.png'}}"/></span> {{transaction.counterpartyName}}</div>
                            <div class="h6 text-muted col-xs-2" itemProp="transactionType"><span class="sr-only">Transaction type</span>{{transaction.transactionType}}</div>
                            <div class="h6 text-muted col-xs-2" itemProp="category"><span class="sr-only">Category</span><span  ng-repeat="category in categoryModel.categories | filter:transaction.categoryId">{{category.name}}</span></div>
                            <div class="h4 col-xs-3 right-align" itemProp="transactionAmount"
                                  lp-amount="transaction.transactionAmount"
                                  lp-amount-currency="transaction.transactionCurrency"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>


    <div ng-show="transactionsModel.allowMoreResults()">
        <p class="text-center">
            <a href="" class="cursor-pointer" tabindex="0" ng-click="loadMoreTransactions()">Show more</a>
        </p>
    </div>
    <div ng-if="transactionsModel.loading" role="alert">
        <p class="panel-message text-center">Loading transactions...</p>
    </div>
</div>
</script>

