<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Advanced Navbar</title>

    <g:preferences>
        <!-- Data sources -->
        <g:preference name="navRoot" label="The portal root to display the nav links from" type="text" default="navroot_mainmenu" />

        <!-- general nav preferences -->
        <g:preference name="navShow" label="Show or hide the NavBar" type="checkbox" default="true" viewhint="checkbox,user,designModeOnly" />
        <g:preference name="navSticky" label="Set the Navbar sticky or not" type="checkbox" default="true" />
        <g:preference name="scrollSetting" label="Page Scroll settings" type="select-one" viewhint="select-one,user,designModeOnly">
            <g:enumeration value="normal" label="Normal" />
            <g:enumeration value="transparency" label="Transparency" />
            <g:enumeration value="hide-show" label="Hide/Show" />
        </g:preference>
        <g:preference name="showPageTitle" label="Show Page Title" type="checkbox" default="true" />

        <!-- logo preferences -->
        <g:preference name="logoURL" label="URL for web logo" type="text" default="$(contextPath)/static/launchpad/widgets/navbar-advanced/media/backbase-web-logo.png" />
        <g:preference name="mobileLogoURL" label="URL for mobile logo" type="text" default="$(contextPath)/static/launchpad/widgets/navbar-advanced/media/backbase-mobile-logo.png" />
        <g:preference name="launcherIcon" label="Icon for Launcher Menu" type="select-one" viewhint="select-one,user,designModeOnly">
            <g:enumeration value="arrow-left" label="Arrow left" />
            <g:enumeration value="small-hamburger" label="Small Hamburger" />
            <g:enumeration value="large-hamburger" label="Large Hamburger" />
            <g:enumeration value="vertical-ellipsis" label="Vertical Ellipsis" />
        </g:preference>

        <!-- navigation and launcher icon preferences -->
        <g:preference name="navigationIconAnimationHook" label="Navigation menu icon animation hook" type="text" default="arrow" />
        <g:preference name="showNotificationsBadge" label="Show Notifications badges inside the Launcher Toggle" type="checkbox" default="false" viewhint="checkbox,user,designModeOnly" />

    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/navbar-advanced.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/navbar-advanced');">

<div ng-controller="NavBarAdvancedController" class="lp-navbar-advanced ng-cloak" ng-class="{'design-mode': isDesignMode}">


    <!--  Full Content -->
    <div class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': navSticky}" scrolling-hook="scrolling-hook" scroll-class="scrollSetting" scroll-distance="100"  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header clearfix">
                <div ng-if="mobileLogoUrl.length > 0" class="icon-container visible-xs hidden-sm">
                    <span nav-icon="nav-icon" icon="launcherIcon" class="nav-icon navbar-left visible-xs-inline-block cursor-pointer" ng-click="toggleLauncherMenu()"></span>
                </div>
                <button type="button" data-action="left" class="navbar-toggle launcher-toggle hidden-sm visible-xs pull-left lp-launcher-sidebar-button" ng-click="toggleLauncherMenu()">
                    <span class="sr-only">Launcher Navigation</span>
                    <span ng-if="mobileLogoUrl.length === 0" nav-icon="nav-icon" icon="launcherIcon" class="nav-icon"></span>
                    <img ng-if="mobileLogoUrl.length > 0" ng-src="{{mobileLogoUrl}}" class="pull-left launcher-logo"/>
                    <span ng-if="showNotificationsBadge" class="pull-right badge">2</span>
                </button>
                <button type="button" class="navbar-toggle {{animationClass}}" ng-click="toggleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar animate bar-first"></span>
                    <span class="icon-bar animate bar-second"></span>
                    <span class="icon-bar animate bar-third"></span>
                </button>
                <a class="navbar-brand hidden-xs" href="#"><img ng-src="{{logoUrl}}" /></a>
                <p ng-if="showPageTitle" class="navbar-brand text-center hidden-sm visible-xs active-page">{{activeContext}}</p>
            </div>
            <div class="collapse navbar-collapse" collapse="showMenu">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in links" ng-class="{active: link.currentPage}"><a ng-href="{{link.path}}">{{link.properties.title.value}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li><a class="lp-link-launcher" href="/portalserver/home"><i class="lp-icon lp-icon-launcher"></i> <span class="sr-only">launcher</span></a></li>
                    <li><a class="lp-link-Springboard" href="/portalserver/springboard"><i class="lp-icon lp-icon-Springboard"></i> <span class="sr-only">springboard</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>