<script type="text/ng-template" id="/review-transfers/partials/authorize.html">
        <div class="modal-header">
            <h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Verify your payment(s)</h2>
        </div>
        <form role="form" ng-submit="authorizePayment()">
            <div class="modal-body">
                <div ng-show="review.modalError">
                    <div alert="alert" type="danger">{{review.modalError}}</div>
                </div>
                <p>
                    Because your transaction to <b>{{currentOrder.counterpartyName}}</b> is over <span lp-amount="1000" lp-amount-currency="currentOrder.instructedCurrency" locale="locale"></span>(<i><span lp-amount="currentOrder.instructedAmount" lp-amount-currency="currentOrder.instructedCurrency" locale="locale"></span></i>), you need to verify it.
                </p>
                <div class="form-group has-feedback">
                    <label class="control-label"><strong>Please enter authentication code:</strong></label>
                    <input type="password" ng-model="review.authorization" class="form-control " placeholder="Password" />
                </div>
            </div>
            <div class="modal-footer text-right" >
                <button name="closeModal" class="btn btn-link" ng-click="review.modalShown = false" type="button">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!review.authorization">Verify</button>
            </div>
        </form>
</script>