<script type="text/ng-template" id="/review-transfers/partials/verify-p2p-details.html">
    <div class="modal-header">
        <h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Verify your contact details</h2>
    </div>
    <form role="form" ng-submit="handleP2PVerification()">
        <div class="modal-body">

            <p>
                We have sent a message containing a verification code to {{p2pUser.email}}.<br />Please check your email and enter the code
            </p>
            <p>
                The code will expire in 20 minutes
            </p>
            <div ng-class="{'has-error': verify.validationError && verify.verificationCode.length > 0, 'has-feedback': true, 'form-group': true}">
                <label class="control-label"><strong>Verification Code:</strong></label>
                <input type="input" ng-model="verify.verificationCode" class="form-control" tabindex="0" aria-label="Verification code" maxlength="4" placeholder="enter the 4 digits" />
            </div>
        </div>
        <div class="modal-footer text-right">
            <button name="closeModal" class="btn btn-link" ng-click="closeVerifyModal()" type="button">Cancel</button>
            <button name="resendCode" class="btn btn-link" type="button">Resend Code</button>
            <button type="submit" class="btn btn-primary" ng-disabled="!verify.verificationCode">Submit</button>
        </div>
    </form>
</script>