<div class="panel-body" ng-controller="LoginCtrl">
    <form role="form" ng-submit="submit(data)" novalidate="novalidate" autocomplete="off">
        <div class="form-group">
            <input class="form-control" aria-required="true"
                   name="j_username" type="text" aria-label="Username"
                   placeholder="Username"
                   ng-model="data.id" ng-required="true" lp-autofill="true" lp-focus-on="lp.login.focus"
                   autocorrect="off" autocapitalize="off"/>
        </div>
        <div class="form-group">
            <input class="form-control" aria-required="true" name="j_password" type="password" aria-label="Password" placeholder="Password" ng-model="data.password" ng-required="true" lp-autofill="true" />
        </div>
        <div class="checkbox pull-left no-margin-bottom">
            <label><input type="checkbox" ng-model="data.remember"/> <small>Remember me </small></label>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!data.id">Sign in</button>
        </div>
    </form>
</div>