<div class="panel-body divider-bottom no-margin-bottom no-padding-bottom">
    <form class="form" ng-submit="submit(otpcode)" novalidate="novalidate" ng-controller="OtpCtrl" autocomplete="off">
        <div class="form-group">
            <label for="j_username">Enter authentication code:</label>
            <input class="form-control input-sm" aria-required="true" type="text" name="j_username" placeholder="6 digit code" ng-model="otpcode" lp-focus="isfocus" ng-required="true" autofill="autofill" lp-focus-on="lp.login.focus" />
        </div>
        <div class="form-group text-right">
            <button type="button" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!otpcode || master.loading">Verify</button>
        </div>
    </form>
</div>
<div class="panel-body">
    <i class="lp-icon lp-icon-mobile"></i>
    <small class="text-muted"> Open the two-factor authentication app on your device to find the authentication code for this service and verify your identity.</small>
</div>