<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
		
	    <script src="js/dam.js"></script>
	    <link href="css/dam.css" rel="stylesheet"/>

		<w:preferences>
			<w:preference name="widgetChrome" label="Widget Chrome" type="select-one" viewhint="select-one,designModeOnly,user" default="$(contextRoot)/static/backbase.com.2012.aurora/html/chromes/widget_default.html">
				<w:enumeration value="$(contextRoot)/static/backbase.com.2012.aurora/html/chromes/widget_none.html" label="No Chrome" />
				<w:enumeration value="$(contextRoot)/static/backbase.com.2012.aurora/html/chromes/widget_default.html" label="Default Chrome" />
				<w:enumeration value="$(contextRoot)/static/com.backbase.labs/widgets/dam/chrome/search.html" label="Search Chrome" />
			</w:preference>
			<w:preference name="referenceid" label="Item Reference" type="text" viewhint="user" default=""/>     
			<w:preference name="allowannoymous" label="Allow annoymous comments" type="checkbox" viewhint="user" default="true"/>     
			<w:preference name="includecommon" label="Include Common" type="checkbox" viewhint="user" default="true"/>     
			<w:preference name="searchUrl" label="Search URL" type="text" viewhint="user" default="/portalserver/proxy?pipe=searchPipe&amp;q=[*query*]"/>     
			<w:preference name="minheight" label="Min Height" type="text" viewhint="user" default="200px"/>     
			<w:preference name="maxheight" label="Max Height" type="text" viewhint="user" default="200px"/>     
		</w:preferences>		
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.DAM(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-dam">
			<div class="tab-container"></div>

			<!-- Modal -->
			<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title resource resourceId_searchresults" id="myModalLabel">Search Results</h4>
			      </div>
			      <div class="modal-body">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary resource resourceId_close" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

		<script data-template="tabs" type="text/html">
			<ul class="nav nav-tabs">
				{{#data}} 
				<li><a href="#{{widgetid}}{{id}}" data-toggle="tab">{{title}}</a></li>
				{{/data}} 
			</ul>
				
			<div class="tab-content" style="min-height:{{minheight}};max-height:{{maxheight}};scroll:auto;">
				{{#data}} 
				<div class="tab-pane fade in" id="{{widgetid}}{{id}}">
					<ul>
					{{#documents}}
					<li><a href="{{proxyurl}}&amp;filepath={{path}}" target="_blank">{{title}}</a></li>
					{{/documents}}
					</ul>
				</div>
				{{/data}} 
			</div>
		</script>

		<script data-template="search-results" type="text/html">
            <table class="table">
				<tr><td><i>Found {{numFound}} records.</i></td></tr>
				{{#docs}}              
					<tr>
						<td>
				            <h5><a href="#">{{title}}</a></h5>
							{{#body}}
							<p>{{body}}</p>
							{{/body}}
							<i class="small">{{created_date}}</i>
						</td>
					</tr>				
				{{/docs}}
			</table>
		</script>	
	
		</body>
</html>
