<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>My Widget</title>

    <g:preferences>
        <g:preference name="name" label="Name" type="text" default="Anonymous"/>
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/widget.css" />

    <script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-transactions" g:onload="requireWidget(__WIDGET__, 'js/widget');">

    <div class="ng-cloak" ng-controller="widgetController" ng-class="responsiveClass">

       <p>Hello {{ name }}</p>
    </div>
</body>
</html>