<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>

	    <script src="js/ugc-bookmarks.js"></script>
	    <link href="css/ugc-bookmarks.css" rel="stylesheet"/>

		<w:preferences>
			<w:preference name="referenceid" label="Item Reference" type="text" viewhint="user" default=""/>     
			<w:preference name="allowannoymous" label="Allow annoymous comments" type="checkbox" viewhint="user" default="true"/>     
		</w:preferences>		
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.UGCBookmarks(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-ugc-bookmarks">
			<div class="bookmarks">
			</div>
			<button class="add-bookmark"><img src="/portalserver/static/com.backbase.labs/widgets/ugc/media/add_bookmark.png"/> Add bookmark</button>
		
			<!-- Modal -->
			<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title resource resourceId_newbookmark resourceFailSafe" id="myModalLabel">New bookmark</h4>
			      </div>
			      <div class="modal-body">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control bookmark-title" placeholder="Enter bookmark title"/>
					</div>		      	
					<div class="form-group">
						<label>URL</label>
						<input type="text" class="form-control bookmark-url" placeholder="Enter bookmark Url"/>
					</div>		      	
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary resource resourceId_save btnsave">Save</button>
			        <button type="button" class="btn btn-primary resource resourceId_close" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		
		<script data-template="bookmarks" type="text/html">
			{{#bookmarks}}
			<div class="bookmark" data-id="{{id}}">
				<img src="{{icon}}" class="pull-left thumbnail"/>
				<a class="detail" href="{{href}}">{{title}}</a>
				<button type="button" class="delete">&times;</button>
			</div>
			<div class="clearfix"></div>
			{{/bookmarks}}
		</script>		
	</body>
</html>
