<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>

		<script src="../../lib/timeago/timeago.js" type="text/javascript"/>
		
	    <script src="js/ugc-comments.js"></script>
	    <link href="css/ugc-comments.css" rel="stylesheet"/>

		<w:preferences>
			<w:preference name="referenceid" label="Item Reference" type="text" viewhint="user" default=""/>     
			<w:preference name="allowannoymous" label="Allow annoymous comments" type="checkbox" viewhint="user" default="true"/>     
			<w:preference name="moderatedonly" label="Only show moderated" type="checkbox" viewhint="user" default="false"/>     
		</w:preferences>		
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.UGCComments(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-ugc-comments">
		</div>
		
		<script data-template="comments" type="text/html">
			{{#comments}}
			<div class="comment" data-id="{{id}}">
				<img src="{{icon}}" class="pull-left thumbnail"/>
				<div class="detail">
					<a href="#" class="identity">{{identity}}</a> {{content}}<br/>
					<h6 class="date">{{date}} <span class="dot">-</span> <a href="#" data-liked="false" class="like">Like</a>{{#allowedit}} <span class="dot">-</span> <a href="#" class="delete">Delete</a>{{/allowedit}}</h6>
				</div>
			</div>
			{{/comments}}
		</script>		
		<script data-template="newcomment" type="text/html">
			<div class="clearfix"></div>
			<div class="newcomment">
				<img src="{{icon}}" class="pull-left thumbnail"/>
				<div class="detail">
					<textarea rows="1" cols="5" class="form-control"></textarea>
				</div>
			</div>
		</script>		
	</body>
</html>
