<div class="reward_points_redemption_chart_layer">
    <div class="speedometer">
        <div class="bar right"></div>
        <div class="slot">
            <div class="bar left"></div>
        </div>
    </div>
</div>