.bb-labs-ugc-blog {
	
}


.bb-labs-ugc-blog .blog-editor {
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

.bb-labs-ugc-blog .blog-editor.readonly {
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	overflow: scroll;
	outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.bb-labs-ugc-blog .btn-toolbar {
  display:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	margin-left: 0px;
}
.bb-labs-ugc-blog .btn-toolbar.active{
	display:inline;
}
.dropdown-menu a {
  cursor: pointer;
}

.bb-labs-ugc-blog .btn-toolbar .btn{
	font-size:10px;
}

.bb-labs-ugc-blog .btn-toolbar .close{
	font-size:11px;
	font-weight:bold;
}