.bb-labs-ugc-comments {
	
}

.bb-labs-ugc-comments .thumbnail{
	margin:0 5px 0 0;
}

.bb-labs-ugc-comments .detail{
}

.bb-labs-ugc-comments .comment{
}

.bb-labs-ugc-comments .comment .date{
	
}

.bb-labs-ugc-comments .comment .dot{
	text-align: center; 
	vertical-align: top;
	padding:0 2px 0 0;
}

.bb-labs-ugc-comments .comment .identity{
	text-transform:capitalize;
}

.bb-labs-ugc-comments textarea{
	width:90%;
}

.bb-labs-ugc-comments h6{
	font-size:8pt;
	margin-top:1px;
}