.bb-labs-ugc-bookmarks {
	
}

.bb-labs-ugc-bookmarks .thumbnail{
	margin:0 5px 0 0;
}

.bb-labs-ugc-bookmarks .bookmark{
}

.bb-labs-ugc-bookmarks .bookmark .delete.active{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color:red;
    border: 0 none;
    cursor: pointer;
    padding:0;
    margin: 0 0 0 5px;
    display:inline
}
.bb-labs-ugc-bookmarks .bookmark .delete{
	display:none;
}
.bb-labs-ugc-bookmarks .add-bookmark{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding:0;
}
.bb-labs-ugc-bookmarks .add-bookmark:hover{
	text-decoration:underline;
}
.bb-labs-ugc-bookmarks .bookmark-title,
.bb-labs-ugc-bookmarks .bookmark-url{
	width:95%
}