<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Alerts and Actions</title>

	<g:preferences>
		<g:preference name="locale" label="Locale" type="text" default="en-US" />
		
	</g:preferences>

	<link rel="stylesheet" type='text/css' href="css/automation.css" />

	<script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-automation" g:onload="requireWidget(__WIDGET__, 'js/automation');">

	<div class="ng-cloak" ng-controller="AutomationController" ng-class="responsiveClass">

		<!--  Full Content -->
		 <div class="lp-widget-content widget widget-default" role="application">

			<!--  Widget Head -->
			<div class="widget-heading">
				<button class="btn btn-primary pull-right" ng-click="createAutomation()">New Automation</button>
			</div>

			<!--  Body Content -->
			<div class="lp-widget-body widget-body">
				
				<ul id="automations-list" role="presentation" class="list-group list-view"
					ng-if="automationModel.automations.length > 0">
					<li class="list-group-item list-view-row clearfix" ng-class="{ open: automation.showDetails }"
						ng-repeat="automation in automationModel.automations track by $index">
						<div class="list-view-container clearfix" ng-click="openDetails(automation)"
							tabindex="0" ng-keydown="transactionKeydown($event, automation)" role="button"
							id="automation-{{automation.id}}" aria-expanded="{{ !!automation.showDetails }}"
							aria-controls="automation-details-{{automation.id}}">
							<div class="info" ng-if="automation.isNew">
								<div class="col-xs-11 col-sm-11 column text-center">
									<div class="centered">
										<div class="h4">Follow the steps to create a new Automation...</div>
									</div>
								</div>
								<div class="col-xs-1 col-sm-1 column text-center">
									<div class="centered">
										<span class="sr-only">Toggle details</span>
										<span ng-show="!automation.showDetails"><i class="lp-icon lp-icon-angle-down"></i></span>
										<span ng-show="automation.showDetails"><i class="lp-icon lp-icon-angle-up"></i></span>
									</div>
								</div>
							</div>
							<div class="info" ng-if="!automation.isNew">
								<div class="col-xs-2 col-sm-2 column text-center">
									<div class="centered">
										<div class="icon-automation">
											<img ng-src="{{automation.triggerIcon}}" alt="" class="icon-trigger" />
											<img ng-src="{{automation.actionIcon}}" alt="" class="icon-action" />
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 column">
									<div class="centered">
										<div class="h4">{{automation.name}}</div>
										<div class="h6 text-muted" ng-if="!automation.nrOfExecutions">Automation never executed.</div>
										<div class="h6 text-muted" ng-if="automation.nrOfExecutions === 1">Automation executed once on {{automation.lastExecution | date:'MMM'}} {{automation.lastExecution | date:'dd'}}.</div>
										<div class="h6 text-muted" ng-if="automation.nrOfExecutions > 1">Automation executed {{automation.nrOfExecutions}} times, last time on {{automation.lastExecution | date:'MMM'}} {{automation.lastExecution | date:'dd'}}.</div>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 column text-right">
									<div class="centered">
										<div class="btn-group">
											<button class="btn" ng-class="{ 'btn-success': automation.enabled, 'btn-default': !automation.enabled}" ng-click="toggleAutomationStatus($event, automation)" tooltip-placement="left" tooltip="{{ automation.enabled ? 'Disable automation' : 'Enable Automation' }}"><span class="glyphicon glyphicon-off"></span></button>
											<!-- <button class="btn btn-default" ng-click="editAutomation($event, automation)" tooltip-placement="left" tooltip="Edit Automation"><span class="glyphicon glyphicon-pencil"></span></button> -->
											<button class="btn btn-danger" ng-click="removeAutomation($event, automation)" tooltip-placement="left" tooltip="Delete Automation"><span class="glyphicon glyphicon-trash"></span></button>
										</div>
									</div>
								</div>
								<div class="col-xs-1 col-sm-1 column text-center">
									<div class="centered">
										<span class="sr-only">Toggle details</span>
										<span ng-show="!automation.showDetails"><i class="lp-icon lp-icon-angle-down"></i></span>
										<span ng-show="automation.showDetails"><i class="lp-icon lp-icon-angle-up"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix details automation-details" id="automation-details-{{transaction.id}}" aria-labelledby="automation-details-data-{{transaction.id}}">
							<div class="col-xs-12 col-sm-12">
								<div ng-if="automation.showDetails &amp;&amp; !automation.loadingDetails">
									<div class="summary" ng-show="!automation.editing">
										<h4>Automation Summary:</h4>
										<div class="clearfix">
											<p>WHEN <span ng-if="automation.trigger.type.indexOf('TRANSACTION') === 0">a new transaction is created</span> with <span ng-if="automation.trigger.type.indexOf('AMOUNT') > 0">an amount</span><span ng-if="automation.trigger.direction.indexOf('MORE') === 0"> more than</span><span ng-if="automation.trigger.direction.indexOf('LESS') === 0"> less than</span><span ng-if="automation.trigger.direction.indexOf('EQUAL') > -1"><span ng-if="automation.trigger.direction.indexOf('EQUAL') > 0"> or</span> equal to</span> {{automation.trigger.amount}} on account {{accountsModel.findById(automation.trigger.accountId).name}}.
											<br />
											THEN <span ng-if="automation.action.type === 'EMAIL'">send an e-mail</span><span ng-if="automation.action.type === 'SMS'">send an SMS</span> to {{automation.action.value}}.</p>
											<div class="clearfix" style="margin-bottom: 10px">
												<div class="btn btn-default pull-right" ng-click="editAutomation($event, automation)"><span class="glyphicon glyphicon-pencil"></span> Edit</div>
											</div>
										</div>
									</div>
									<ul class="list-group" ng-if="automation.editing">
										<li class="list-group-item clearfix">
											<h5>Choose a trigger for the automation:</h5>
											<ul class="row">
												<li ng-repeat="trigger in automationModel.triggers track by $index" class="col-xs-12 col-sm-6 col-md-4">
													<div class="btn btn-default btn-block btn-automation" ng-disabled="!trigger.available" ng-click="selectTrigger(automation, trigger)"><img ng-src="{{trigger.icon}}" alt="" />{{trigger.name}}</div>
												</li>
											</ul>
										</li>
										<li class="list-group-item clearfix" ng-if="automation.currentStep >= 1">
											<h5>Select an account:</h5>
											<div class="row">
												<div class="col-xs-12 col-sm-8">
													<div lp-accounts-select="lp-accounts-select" designated-class="lp-normal-account-select-size" ng-model="accountsModel.selected" lp-accounts="accountsModel.accounts" name="accountId" class="lp-accounts-header" ng-change="selectAccount(automation)"></div>
												</div>
											</div>
										</li>
										<li class="list-group-item clearfix" ng-if="automation.currentStep >= 2">
											<h5>Choose an amount:</h5>
											<div class="row" style="margin-bottom: 10px">
												<div class="col-xs-6 col-sm-6 col-md-4">
													<div dropdown-select="dropdown-select" empty-placeholder-text="More than" ng-model="automation.amountDirection" ng-options="val as val.name for val in automationModel.amountDirection"></div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-8">
													<form ng-submit="selectAmount(automation)">
														<input type="text" class="form-control" ng-model="automation.trigger.amount" placeholder="Amount" />
													</form>
												</div>
											</div>
											<div class="hidden-xs">
												<div class="btn btn-primary pull-right" ng-click="selectAmount(automation)">Next</div>
											</div>
										</li>
										<li class="list-group-item clearfix" ng-if="automation.currentStep >= 3">
											<h5>Choose an action for the trigger:</h5>
											<ul class="row">
												<li ng-repeat="action in automationModel.actions track by $index" class="col-xs-12 col-sm-6 col-md-4">
													<div class="btn btn-default btn-block btn-automation" ng-disabled="!action.available" ng-click="selectAction(automation, action)"><img ng-src="{{action.icon}}" alt="" />{{action.name}}</div>
												</li>
											</ul>
										</li>
										<li class="list-group-item clearfix" ng-if="automation.currentStep >= 4">
											<h5>Enter recipient e-mail:</h5>
											<div class="row">
												<div class="col-xs-12 col-sm-8 col-md-9">
													<form ng-submit="selectEmail(automation)">
														<input type="text" class="form-control" ng-model="automation.action.value" placeholder="E-mail" />
													</form>
												</div>
												<div class="hidden-xs col-sm-4 col-md-3">
													<div class="btn btn-primary btn-block" ng-click="selectEmail(automation)">Next</div>
												</div>
											</div>
										</li>
										<li class="list-group-item clearfix" ng-if="automation.currentStep >= 5">
											<h5>Enter a name for your automation:</h5>
											<div class="row">
												<div class="col-xs-12 col-sm-8">
													<input type="text" class="form-control" ng-model="automation.name" placeholder="Name" />
												</div>
											</div>
											<div class="pull-right" style="margin-top: 10px">
												<div class="btn btn-default" ng-click="saveAutomation(automation, false)" style="margin-right: 6px">Save</div>
												<div class="btn btn-primary" ng-click="saveAutomation(automation, true)">Save and Enable</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>

			</div>

		</div>
	</div>
</body>
</html>