.bb-labs-bubble-chart{
	
}
.column-area {
	width: 220px;
	position: relative;
}
.column-number {
	font-size: 22px;
	font-weight: 400;
	position: absolute;
	top: 0;
	left: 0;
	padding: 17px 0 0 0;
	text-align: center;
}
.column-title {
	font-size: 11px;
	font-weight: 300;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	width: ;
	text-align: center;
}
.column-title, .column-number {
	width: 90px;
	font-family: "Varela Round", Helvetica, sans-serif;
}
.column-container {
	position: absolute;
	top: 0;
	left: 90px;
	float: right;
}