.bb-labs-flot-chart{
	/*min-height:427px;*/
}

/* Vertical Bar Chart
=================================================================== */
.bb-labs-flot-chart .verticalChart {
  margin: 10px;
}
.bb-labs-flot-chart .verticalChart .singleBar {
  width: 6%;
  display: block;
  margin: 0 2% 0% 2%;
  float: left;
}
.bb-labs-flot-chart .verticalChart .singleBar .bar {
  position: relative;
  height: 120px;
  background: #f9f9f9;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bb-labs-flot-chart .verticalChart .singleBar .bar .value {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #bdea74;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bb-labs-flot-chart .verticalChart .singleBar .bar .value span {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
  text-shadow: 0px -1px 0px #bdea74, 0px 1px 0px #bdea74, 1px 0px 0px #bdea74, -1px 0px 0px #bdea74, -1px -1px 0px #bdea74, -1px 1px 0px #bdea74, 1px 1px 0px #bdea74, 1px -1px 0px #bdea74;
  display: none;
  text-align: center;
}
.bb-labs-flot-chart .verticalChart .singleBar .title {
  margin-top: 5px;
  text-align: center;
  color: #34383c;
}



/* Small Chart
=================================================================== */
.bb-labs-flot-chart .smallchart {
  background: white;
  text-align: center;
}
.bb-labs-flot-chart .smallchart .title {
  padding: 10px;
  color: white;
  background: #dbdee0;
}
.bb-labs-flot-chart .smallchart .content {
  padding: 40px 0px;
  background: #dbdee0;
}
.bb-labs-flot-chart .smallchart .content i {
  font-size: 40px;
  color: white;
}
.bb-labs-flot-chart .smallchart .value {
  color: #34383c;
  padding: 10px;
}
.bb-labs-flot-chart .smallchart.blue .title {
  background: #36a9e1;
}
.bb-labs-flot-chart .smallchart.lightBlue .title {
  background: #67c2ef;
}
.bb-labs-flot-chart .smallchart.green .title {
  background: #bdea74;
}
.bb-labs-flot-chart .smallchart.darkGreen .title {
  background: #78cd51;
}
.bb-labs-flot-chart .smallchart.pink .title {
  background: #e84c8a;
}
.bb-labs-flot-chart .smallchart.orange .title {
  background: #fa603d;
}
.bb-labs-flot-chart .smallchart.lightOrange .title {
  background: #fabb3d;
}
.bb-labs-flot-chart .smallchart.red .title {
  background: #ff5454;
}
.bb-labs-flot-chart .smallchart.yellow .title {
  background: #eae874;
}
.bb-labs-flot-chart .smallchart.white .title {
  background: white;
}
.bb-labs-flot-chart .smallchart.grey .title {
  background: #b2b8bd;
}

/* Info Box
=================================================================== */
.bb-labs-flot-chart .info-box .backgroundColor {
  color: white;
  padding: 10px;
}
.bb-labs-flot-chart .info-box .title,
.bb-labs-flot-chart .info-box .value {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.bb-labs-flot-chart .info-box .date,
.bb-labs-flot-chart .info-box .change {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.bb-labs-flot-chart .info-box .title,
.bb-labs-flot-chart .info-box .date {
  float: left;
}
.bb-labs-flot-chart .info-box .value,
.bb-labs-flot-chart .info-box .change {
  float: right;
}
.bb-labs-flot-chart .info-box .quarters {
  xbackground: white;
  *zoom: 1;
}
.bb-labs-flot-chart .info-box .quarters:before,
.bb-labs-flot-chart .info-box .quarters:after {
  display: table;
  content: "";
  line-height: 0;
}
.bb-labs-flot-chart .info-box .quarters:after {
  clear: both;
}
.bb-labs-flot-chart .info-box .quarters .quarter {
  padding: 10px;
}
.bb-labs-flot-chart .info-box .quarters .quarter span {
  display: block;
  font-size: 10px;
  color: #b2b8bd;
}
.bb-labs-flot-chart .info-box .quarters .q1,
.bb-labs-flot-chart .info-box .quarters .q2,
.bb-labs-flot-chart .info-box .quarters .q3,
.bb-labs-flot-chart .info-box .quarters .q4 {
	xfloat: left;
}
.bb-labs-flot-chart .info-box .quarters .q1,
.bb-labs-flot-chart .info-box .quarters .q2 {
  xborder-bottom: 1px solid #e9ebec;
  height: 60px;
}
.bb-labs-flot-chart .info-box .quarters .q2 {
  padding: 0;
}
.bb-labs-flot-chart .info-box .quarters .q2,
.bb-labs-flot-chart .info-box .quarters .q4 {
  text-align: right;
}
.bb-labs-flot-chart .info-box .quarters .q4 {
  border-left: 1px solid #e9ebec;
}
.bb-labs-flot-chart .info-box .quarters .verticalChart {
  float: right;
  text-align: center;
  margin: 3px 0 0 0;
  width: 100%;
  padding: 6px;
}
.bb-labs-flot-chart .info-box .quarters .verticalChart .singleBar {
  width: 10.5%;
  margin: 0 0px 0 3px;
}
.bb-labs-flot-chart .info-box .quarters .verticalChart .singleBar .bar {
  height: 22px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.bb-labs-flot-chart .info-box .quarters .verticalChart .singleBar .bar .value {
  background: #b2b8bd;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.bb-labs-flot-chart .info-box .quarters .verticalChart .singleBar .title {
  margin: 2px auto 0 auto;
  text-align: center;
  color: #b2b8bd;
  font-size: 8px;
  font-weight: 400;
  width: 100%;
}


/* Typography - Blockquote
=================================================================== */.bb-labs-flot-chart blockquote {
  background: url(../img/quote.png) no-repeat 0px 10px;
  font-style: italic;
  border-left: none;
  padding: 0 0 0 30px;
}
/* Main Colors
=================================================================== */
.bb-labs-flot-chart .blue {
  color: #36a9e1;
}
.bb-labs-flot-chart .lightBlue {
  color: #67c2ef;
}
.bb-labs-flot-chart .green {
  color: #bdea74;
}
.bb-labs-flot-chart .darkGreen {
  color: #78cd51;
}
.bb-labs-flot-chart .pink {
  color: #e84c8a;
}
.bb-labs-flot-chart .orange {
  color: #fa603d;
}
.bb-labs-flot-chart .lightOrange {
  color: #fabb3d;
}
.bb-labs-flot-chart .red {
  color: #ff5454;
}
.bb-labs-flot-chart .yellow {
  color: #eae874;
}
.bb-labs-flot-chart .white {
  color: white;
}
.bb-labs-flot-chart .grey {
  color: #b2b8bd;
}
.bb-labs-flot-chart .backgroundColor.blue {
  background: #36a9e1;
}
.bb-labs-flot-chart .backgroundColor.lightBlue {
  background: #67c2ef;
}
.bb-labs-flot-chart .backgroundColor.green {
  background: #bdea74;
}
.bb-labs-flot-chart .backgroundColor.darkGreen {
  background: #78cd51;
}
.bb-labs-flot-chart .backgroundColor.pink {
  background: #e84c8a;
}
.bb-labs-flot-chart .backgroundColor.orange {
  background: #fa603d;
}
.bb-labs-flot-chart .backgroundColor.lightOrange {
  background: #fabb3d;
}
.bb-labs-flot-chart .backgroundColor.red {
  background: #ff5454;
}
.bb-labs-flot-chart .backgroundColor.yellow {
  background: #eae874;
}
.bb-labs-flot-chart .backgroundColor.white {
  background: white;
}
.bb-labs-flot-chart .backgroundColor.grey {
  background: #b2b8bd;
}
.bb-labs-flot-chart .backgroundColorTitle.blue .title {
  background: #36a9e1;
}
.bb-labs-flot-chart .backgroundColorTitle.lightBlue .title {
  background: #67c2ef;
}
.bb-labs-flot-chart .backgroundColorTitle.green .title {
  background: #bdea74;
}
.bb-labs-flot-chart .backgroundColorTitle.darkGreen .title {
  background: #78cd51;
}
.bb-labs-flot-chart .backgroundColorTitle.pink .title {
  background: #e84c8a;
}
.bb-labs-flot-chart .backgroundColorTitle.orange .title {
  background: #fa603d;
}
.bb-labs-flot-chart .backgroundColorTitle.lightOrange .title {
  background: #fabb3d;
}
.bb-labs-flot-chart .backgroundColorTitle.red .title {
  background: #ff5454;
}
.bb-labs-flot-chart .backgroundColorTitle.yellow .title {
  background: #eae874;
}
.bb-labs-flot-chart .backgroundColorTitle.white .title {
  background: white;
}
.bb-labs-flot-chart .backgroundColorTitle.grey .title {
  background: #b2b8bd;
}
.bb-labs-flot-chart .clearfix {
  *zoom: 1;
}
.bb-labs-flot-chart .clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.bb-labs-flot-chart .clearfix:after {
  clear: both;
}

.bb-labs-flot-chart .label,
.bb-labs-flot-chart .badge {
  font-weight: 300;
  font-size: 10px;
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.bb-labs-flot-chart .label {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bb-labs-flot-chart .label-important,
.bb-labs-flot-chart .badge-important,
.bb-labs-flot-chart .label-important[href],
.bb-labs-flot-chart .badge-important[href] {
  background: #ff5454;
}
.bb-labs-flot-chart .label-warning,
.bb-labs-flot-chart .badge-warning,
.bb-labs-flot-chart .label-warning[href],
.bb-labs-flot-chart .badge-warning[href] {
  background: #fabb3d;
}
.bb-labs-flot-chart .label-success,
.bb-labs-flot-chart .badge-success,
.bb-labs-flot-chart .label-success[href],
.bb-labs-flot-chart .badge-success[href] {
  background: #78cd51;
}
.bb-labs-flot-chart .label-info,
.bb-labs-flot-chart .badge-info,
.bb-labs-flot-chart .label-info[href],
.bb-labs-flot-chart .badge-info[href] {
  background: #67c2ef;
}


/* Basic
=================================================================== */
.bb-labs-flot-chart .box {
  xborder: 1px solid #dbdee0;
  margin: 0px 0px 30px 0px;
}
.bb-labs-flot-chart .box.noOverflow {
  overflow: hidden;
}
.bb-labs-flot-chart .box .box-header {
  background: white;
  color: #34383c;
  font-size: 16px;
  overflow: hidden;
  background: #f7f7f8;
  border-bottom: 1px solid #dbdee0;
  height: 40px;
}
.bb-labs-flot-chart .box .box-header h2 {
  float: left;
  padding: 10px 0px;
  margin: 0px 0px 0px 20px;
}
.bb-labs-flot-chart .box .box-header h2 i {
  border-right: 1px solid #dbdee0;
  color: #ced1d4;
  padding: 12px 0px;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin: -10px 20px -10px -20px;
  font-size: 16px;
}
.bb-labs-flot-chart .box .box-header .box-icon {
  float: right;
}
.bb-labs-flot-chart .box .box-header .box-icon i {
  display: inline-block;
  color: #ced1d4;
  text-align: center;
  height: 40px;
  width: 40px;
  padding: 12px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-left: 1px solid #ced1d4;
  text-decoration: none;
}
.bb-labs-flot-chart .box .box-header .box-icon a {
  margin-left: -3px !important;
}
.bb-labs-flot-chart .box .box-content {
  padding: 10px;
  background: white;
}
.bb-labs-flot-chart .box .box-content.no-padding {
  background: white;
  padding: 1px 0;
}