.bb-labs-charts-pie{
	width:100%;
	height:100%;
	position:relative;
}
.piechart {
	position: relative;
	display: block;
	margin-left:auto;
	margin-right:auto;
}
.piechart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	position:relative;
	top:40%;
	display: inline-block;
	z-index: 2;
	width:100%;
	text-align:center;
}
.percent:after {
	content: '%';
}
.title {
	margin-top:5px;
	position: relative;
	display: block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-weight:normal;
}
