<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transactions</title>

    <g:preferences>
        <g:preference name="locale" label="Locale" type="text" default="en-US" />
        
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/p2p-transactions/data/messages.json" />

        <g:preference name="p2pEnrollmentEndpoint" label="Enrollment Status Endpoint for P2P Service" type="text" default="$(contextPath)/services/rest/p2p-enrollment" />

        <g:preference name="transactionsDataSrc" label="Transactions Data Source" type="text" default="$(contextPath)/services/rest/p2p-payments" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/p2p-transactions.css" />

    <script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-p2p-transactions" g:onload="requireWidget(__WIDGET__, 'js/p2p-transactions');">

    <div class="ng-cloak" ng-controller="P2PTransactionsController" ng-class="responsiveClass">

        <!--  Full Content -->
         <div class="lp-widget-content" role="application">

            <!-- Alerts -->
            <div class="lp-alerts" ng-show="transactionsModel.errorCode || accountsModel.error">
                <div class="alert alert-error">
                    <p ng-show="transactionsModel.errorCode">
                        <span lp-message="transactionsModel.errorCode" lp-bundle="messages"></span>
                        <a ng-click="transactionsModel.loadTransactions()" class="alert-link">Try again</a>
                    </p>
                </div>
            </div>

            <!--  Body Content -->
            <div class="lp-widget-body widget-body">

                <ul id="p2p-transactions-list" role="presentation" class="list-group list-view p2p-transactions-list"
                    ng-if="transactionsModel.transactions.length > 0">
                    <li class="list-group-item list-view-row clearfix" ng-class="{ open: transaction.showDetails }"
                        ng-repeat="transaction in transactionsModel.transactions track by transaction.id"
                        itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/transaction">
                        <div class="list-view-container clearfix"
                            ng-mouseleave="closePreview(transaction)" role="button"
                            id="p2p-transaction-{{transaction.id}}" aria-expanded="{{ !!transaction.showDetails }}"
                            aria-controls="transaction-details-{{transaction.id}}">
                            <div class="info">
                                <div class="col-xs-1 col-sm-1 column">
                                    <div class="centered">
                                        <div class="h4 text-center lp-transactions-date" aria-hidden="true" ng-if="transaction.showDate">
                                            <span itemprop="dateTimeMonth">{{transaction.initiationDateTime | date:'MMM'}}</span>
                                            <br />
                                            <span itemprop="dateTimeDate">{{transaction.initiationDateTime | date:'dd'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm col-md-1 column">
                                    <div class="centered">
                                        <div class="lp-transaction-icon hidden-xs gray-image-hover">
                                            <img ng-if="transaction.counterparty.logo" ng-src="{{transaction.counterparty.logo}}" width="35" height="35" alt=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 column left-align padded">
                                    <div class="centered">
                                        <div class="h4 counterparty-name" itemProp="counterpartyName"><span class="sr-only">Name</span>{{transaction.counterparty.name}}</div>
                                        <span class="h6 text-muted"><span class="sr-only">Counterparty account</span>{{transaction.counterparty.contact.value}}</span>
                                        <div class="h6 text-muted transaction-note" ng-if="transaction.description.length > 0"><span>Note: </span>{{transaction.description}}</div>
                                        <div class="h6 text-muted transaction-note" ng-if="!transaction.description || transaction.description.length === 0">No notes</div>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 column">
                                    <div class="centered text-right">
                                        <span class="sr-only">Amount</span>
                                        <span class="h4" itemProp="transactionAmount"
                                              lp-amount="transaction.amount"
                                              lp-amount-currency="transaction.currency"></span>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-3 col-md-2 column">
                                    <div class="centered">
                                        {{transaction.status}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix details transaction-details" id="p2p-transaction-details-{{transaction.id}}" aria-labelledby="transaction-details-data-{{transaction.id}}">
                            <div class="col-xs-12 col-sm-12">
                                
                            </div>
                        </div>
                    </li>
                </ul>

                <div ng-show="transactionsModel.allowMoreResults()">
                    <p class="text-center">
                        <a href="" class="cursor-pointer" tabindex="0" ng-click="loadMoreTransactions()">Show more</a>
                    </p>
                </div>
                <div ng-if="!userEnrolledForP2P">
                    <p class="panel-message text-center">You are not enrolled in P2P, please register <a href="" tabindex="0" class="cursor-pointer" ng-click="enroll()">here</a>.</p>
                </div>
                <div ng-if="transactionsModel.noTransactionsFound()">
                    <p class="panel-message text-center">You haven't made any P2P transfers yet...</p>
                </div>
                <div ng-if="transactionsModel.loading" role="alert">
                    <p class="panel-message text-center">Loading transactions...</p>
                </div>

            </div>

            <div class="widget-footer">
                <button class="btn-primary btn pull-right" ng-click="transferMoney()">Transfer money</button>
            </div>
        </div>
    </div>
</body>
</html>