<div class="tip_alert row">
	<div class="col-sm-1 col-xs-1 tip_alert_image pull-left"></div>
	<div class="col-sm-10 col-xs-10 tip_alert_message">
		<div class="row tip_alert_desc"></div>
		<div class="row tip_alert_text"></div>
	</div>
	<div class="col-sm-1 tip_alert_arrow pull-right">
		&gt;
	</div>
</div>