.bb-labs-i18n-manager {
	
}

.bb-labs-i18n-manager .editresources{
	margin-left:35px;
}

.bb-labs-i18n-manager .editresources.hidden{
	display:none;
}
.bb-labs-i18n-manager .editresources.active{
	display:inline;
}

.bb-labs-i18n-manager .btn.create{
	margin-right:10px;
}