<script type="text/ng-template" id="/new-transfer/partials/iban.html">
    <div class="modal-header">
        <h2 class="modal-title"><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Explanation about IBAN</h2>
    </div>
    <div class="modal-body" >
        <p>When we generate the international bank account number it is based on the country where the account is stored. So make sure the right country is selected.</p>
        <p>Below is a general example of what the account number means.</p>
        <p><img src="/portalserver/static/launchpad/widgets/new-transfer/media/iban.png" class="iban-img" alt="IBAN"
                /></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="toggleIbanModal()">Close</button>
    </div>
</script>