.pcf_content, .pcf_content_rect, .pcf_content_rect{
    background-color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 15px;
    margin: 0 0 15px;
    overflow: auto;
}

.pcf_content_rect, .pcf_content_square {
    padding-left: 15px;
}

.pcf_content h2 {
    color: #ee2e24;
    font-weight: 700;
    font-size:50px;
}

.pcf_content_header_smaller p{
    font-size:50px;
    font-weight:700;
}

.pcf_content p {
    font-size:20px;
    font-weight:100;
}

.pcf_content a.btn {
    font-size: 75%;
    color: white;
    background: #ee2e24;
    border: none;
    border-radius: 8px;
    padding: 2px 20px;
}

.pcf_content_rect_text {
    font-size: 160%;
    color: #ee2e24;
    margin-top: 12px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .pcf_content_rect_btn {
        margin-top: -3.25em;
        margin-right: 15px;
    }
}

.pcf_content_square{
    min-height:330px;
}