<div class="pcf_content_square col-sm-12">
	<h2 data-parentId="textPrefA" data-propertyId="bb:title" data-editable= "true">{{{textPrefA.bb:title}}}</h2>
	<div data-parentId="textPrefA" data-propertyId="content" data-editable= "true">{{{textPrefA.content}}}</div>
	<a class="btn" data-parentId="textPrefB" href="{{textPrefB.bb:url}}" title="{{textPrefB.bb:subTitle}}" data-editable= "true">{{{textPrefB.bb:title}}}</a>
</div>