<div class="pcf_content_rect col-sm-12">
    <div class="pcf_content_rect_text pcf_content_header_smaller" data-parentId="textPrefA" data-propertyId="content" data-editable= "true">{{{textPrefA.content}}}</div>
    <a class="pcf_content_rect_btn btn" data-parentId="textPrefB" href="{{textPrefB.bb:url}}" title="{{textPrefB.bb:subTitle}}" data-editable= "true">{{{textPrefB.bb:title}}}</a>
</div>