<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <g:preferences>
        <g:preference name="locale" label="Locale" type="text" default="en-US" />
        <g:preference name="showGroups" label="Show Groups" type="checkbox" default="true" viewhint="user,checkbox,designModeOnly"/>
        <g:preference name="defaultBalance" label="Default balance" type="select-one" viewhint="select-one,user,designModeOnly" defualt="current">
            <g:enumeration value="current" label="Current balance" />
            <g:enumeration value="available" label="Available balance" />
        </g:preference>

        <!-- Data sources -->
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts?partyId=$(partyId)" />
        <g:preference name="groupsDataSrc" label="Groups Data Source" type="text" default="$(contextPath)/static/launchpad/widgets/accounts/data/groups.json" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/accounts/data/messages.json" />

        <g:preference name="widgetChrome" label="Widget Chrome" type="select-one" default="$(contextRoot)/static/pcfinancial/chromes/pcf-chrome.html" viewhint="select-one,designModeOnly,user">
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/blank/chrome-blank.html" label="Blank Chrome" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/default/chrome-default.html" label="Default Chrome" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-slide.html" label="Launcher Slide Chrome (Closed)" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-slide-open.html" label="Launcher Slide Chrome (Open)" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-tab.html" label="Launcher Tab Chrome" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/launcher/chrome-tab-hidden.html" label="Launcher Tab Chrome (Hidden)" />
            <g:enumeration value="$(contextRoot)/static/launchpad/chromes/springboard/chrome-springboard.html" label="Springboard Chrome" />
            <g:enumeration value="$(contextRoot)/static/pcfinancial/chromes/pcf-chrome.html" label="PCF Widget Chrome" />
        </g:preference>
    </g:preferences>

    <title>Accounts</title>

    <link rel="stylesheet" type='text/css' href="css/accounts.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/accounts');">
<div ng-controller="AccountsController" class="lp-accounts ng-cloak" ng-class="responsiveClass">

    <!-- Alerts -->
    <div class="lp-alerts">
        <div class="alert alert-error" ng-show="model.error">
            <p><span lp-message="model.error" lp-bundle="messages"></span></p>
        </div>
        <div class="alert alert-info" ng-show="!model.accounts.length">
            <p>No accounts available.</p>
        </div>
    </div>

    <!--  Full Content -->
    <div class="lp-widget-content">

        <div class="panel-group">
            <div class="panel-launcher" ng-repeat="group in model.groups">
                <div class="panel-heading clearfix" ng-show="showGroups &amp;&amp; model.getGroupSize(group) > 0" tabindex="0">
                    <span class="pull-left">
                        {{group.defaultTitle}}
                    </span>
                    <span ng-show="model.getGroupSize(group) > 1"
                          class="pull-right text-right"
                          lp-amount="model.getGroupTotal(group).totalBalance"
                          lp-amount-currency="model.getGroupTotal(group).currency"/>
                </div>
                <ul class="list-group">
                    <li class="list-group-item panel-body cursor-pointer {{'pcf-account-' + account.id}}"
                        ng-repeat="account in (model.accounts | filter:{'groupCode':group.code})"
                        ng-click="selectAccount(account.id)"
                        ng-class="{selected: model.selected == account.id}"
                        itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/account"
                        tabindex="0" role="button" ng-keydown="accountKeydown($event, account.id)">
                        <span class="lp-line-item-arrow">
                            <i class="lp-icon lp-icon-angle-right"></i>
                        </span>

                        <div itemprop="accountName">
                            <img class="account-icon" ng-src="/portalserver/static/launchpad/widgets/accounts/images/{{account.groupCode}}.png"/>
                            {{account.name}}
                        </div>

                        <div ng-switch="defaultBalance">
                            <span class="sr-only">Account Balance</span>
                            <span itemprop="accountBalance">
                                <div data-ng-switch-when="current" class="pull-right text-right padding-right-md" lp-amount="account.balance" lp-amount-currency="'USD'" lp-balance-update="lp-balance-update" ng-model="account" />
                                <div data-ng-switch-when="available" class="pull-right text-right padding-right-md" lp-amount="account.availableBalance" lp-amount-currency="'USD'" lp-balance-update="lp-balance-update" ng-model="account" />
                            </span>
                        </div>

                        <div class="clearfix">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-launcher">
                <div class="panel-heading clearfix" tabindex="0">
                </div>
                <ul class="list-group">
                    <li class="list-group-item panel-body cursor-pointer" tabindex="0" role="button">
                        <a ng-href="{{pcPlusLink}}" ng-click="showPcPlus()" class="pc-plus-link">
                            <span class="lp-line-item-arrow">
                                <i class="lp-icon lp-icon-angle-right"></i>
                            </span>

                            <div>
                                <img class="account-icon" ng-src="/portalserver/static/launchpad/widgets/accounts/images/plus.logo.png"/>
                            </div>

                            <div>
                                <span>
                                    <div class="pull-right text-right padding-right-md">28,750 pts.</div>
                                </span>
                            </div>
                            <div class="clearfix">
                            </div>
                        </a>
                    </li>
                    <div class="panel-heading clearfix" tabindex="0">
                        <span class="pull-left">
                            Gift Cards
                        </span>
                        <span class="pull-right text-right">$75.00</span>
                    </div>
                    <li class="list-group-item panel-body cursor-pointer" tabindex="0" role="button">
                        <span class="lp-line-item-arrow">
                            <i class="lp-icon lp-icon-angle-right"></i>
                        </span>

                        <div>
                            Gift Cards
                        </div>

                        <div>
                            <span>
                                <div class="pull-right text-right padding-right-md">$75.00</div>
                            </span>
                        </div>

                        <div class="clearfix">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="widget-footer hide-medium-widget">
        </div>

    </div>

</div>

</body>
</html>
