<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>P2P Tab</title>

    <g:preferences>
        <!-- Data sources -->
        <g:preference name="p2pEnrollmentEndpoint" label="Enrollment Status Endpoint for P2P Service" type="text" default="$(contextPath)/services/rest/p2p-enrollment" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/p2p-enrollment/data/messages.json" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/p2p-tab.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/p2p-tab');">

<div ng-controller="P2PTabController" class="lp-p2p-tab tab ng-cloak">


    <!-- Alerts -->
    <div class="lp-alerts">
        <div class="alert alert-error" ng-show="p2pService.error">
            <p ng-show="p2pService.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-message="'p2pServiceError'" lp-bundle="messages"></span></p>
        </div>
    </div>



    <!--  Full Content -->
    <div class="lp-widget-content">
        <div class="panel-launcher">
            <ul class="list-group">
                <li tabindex="0" ng-repeat="tab in tabs" class="panel-body list-group-item cursor-pointer" ng-click="loadP2PWidgetByBehavior(tab.pubsubMessage)" ng-keydown="loadP2PWidgetByBehavior(tab.pubsubMessage, $event)" ng-if="tab.visible()" role="button">
                    <span>{{tab.title}}</span>  <span class="lp-line-item-arrow"><i class="lp-icon lp-icon-angle-right"></i></span>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>