<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>

		<script src="script.js" type="text/javascript"></script>
		<link href="style.css" rel="stylesheet" type="text/css" />

	</head>
	<body w:onload="bb_labs.SearchWidget.onload(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);" class="search">
		<div class="form-search">
		  <input type="text" class="input-medium search-query"/>
		  <button type="submit" class="btn search resource resourceId_search">Search</button>
		</div>
		<div class="search-results">
		</div>
		
		<script data-template="search-results" type="text/html">
            <table class="table">
				<tr><td><i>Found {{numFound}} records.</i></td></tr>
				{{#docs}}              
					<tr>
						<td>
				            <h5><a href="#">{{title}}</a></h5>
							<i class="small">{{created_date}}</i>
						</td>
					</tr>				
				{{/docs}}
			</table>
		</script>		
	</body>
</html>