<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <g:preferences>
            <g:preference name="locale" label="Locale" type="text" default="en-US"/>

            <!-- Data sources -->
            <g:preference name="contactListDataSrc" label="Contact List Data Source" type="text" default="$(contextPath)/services/rest/party-data-management/counter-parties"/>
            <g:preference name="contactDataSrc" label="Contact Data Source" type="text" default="$(contextPath)/services/rest/party-data-management/counter-party/$(contactId)" />
            <g:preference name="contactDetailsDataSrc" label="Contact Details Data Source" type="text" default="$(contextPath)/services/rest/party-data-management/counter-party/$(contactId)/details" />
            <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/conf/messages.json"/>

        </g:preferences>
        <title>Address Book</title>
        <script src="../../conf/require-conf.js"></script>
        <link rel="stylesheet" type="text/css" href="css/addressbook.css" />
    </head>
    <body g:onload="requireWidget(__WIDGET__, 'js/addressbook');">

        <div ng-controller="ContactsController" class="lp-contacts ng-cloak" lp-responsive="lp-responsive" size-rules="responsiveRules" lp-size="widgetSize">

            <!--  Full Content -->
            <div class="lp-widget-content">

                <!--  Alerts -->
                <div class="lp-alerts">
                     <div alert="alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
                </div>

                <!--  Body Content -->
                <div class="lp-widget-body widget-body panel-body clearfix">

                    <div class="col-wrapper">
                        <div style="display: table-row;">

                            <!-- Left column -->
                            <div class="col-list-curtain" ng-show="(contactsModel.moduleState === 'contactsAdd' || contactsModel.moduleState === 'contactsEdit') &amp;&amp; widgetSize === 'large'"></div>

                            <div class="col-list" ng-hide="contactsModel.currentContact &amp;&amp; widgetSize === 'small'">
                                <div class="panel-body clearfix">
                                    <div class="search-input input-group">
                                        <span class="input-group-addon"><i class="lp-icon lp-icon-search2"></i></span>
                                        <input ng-model="search" name="search" type="text" class="form-control"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="addContact()" name="addContact">
                                                <i class="lp-icon lp-icon-user-add"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div ng-include="partialsDir + 'contactsList.html'" ng-controller="ContactsDetailsController"></div>
                            </div>

                            <!-- Right column -->
                            <div class="col-view">
                                <div class="col-view-inner">
                                    <span ng-show="contactsModel.currentContact">
                                        <button type="button" class="btn btn-sm btn-link back-button" ng-click="contactsModel.currentContact = null" ng-show="contactsModel.moduleState === 'contactsView' &amp;&amp; widgetSize === 'small'">&lt; Back</button>
                                        <div ng-include="contactsModel.template"></div>
                                    </span>
                                    <span ng-show="widgetSize ==='large' &amp;&amp; contactsModel.contacts.length === 0 &amp;&amp; contactsModel.moduleState !== 'contactsAdd' &amp;&amp; contactsModel.moduleState !== 'contactsAdd'">
                                        <div ng-include="partialsDir + 'contactsNone.html'"></div>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

         </div>
    </body>
</html>