.lp-navbar-advanced .navbar {
    z-index: 9999;
}

.lp-navbar-advanced .launcher-toggle {
    margin-left: 5px;
    width: auto;
}

.lp-navbar-advanced .launcher-toggle .launcher-logo {
    height: 15px;
}

.lp-navbar-advanced .navbar-brand.active-page {
    float: none;
    margin: 0;
}

.lp-navbar-advanced .launcher-toggle .badge {
    margin-left: 10px;
}

.lp-navbar-advanced.design-mode .navbar {
    position: static
}

/**
 * Preset hamburger animation styles
 */

.lp-navbar-advanced .animation-arrow .animate {
    position: relative;
}

.lp-navbar-advanced .animation-arrow span, .lp-navbar-advanced .animation-none span {
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.lp-navbar-advanced .animation-arrow span.bar-first {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    margin-top: 5px;
}

.lp-navbar-advanced .animation-arrow span.bar-second {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 70%;
    margin-left: 8px;
    margin-top: 4px;
}

.lp-navbar-advanced .animation-arrow span.bar-third {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 70%;
    margin-left: -1px;
    margin-top: -2px;
}

.lp-navbar-advanced span.bar-first {
     -webkit-transform: rotate(0deg);
     transform:rotate(0deg);
     -moz-transform:rotate(0deg);
     -ms-transform:rotate(0deg);
     -o-transform:rotate(0deg);
}

.lp-navbar-advanced span.bar-second {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

.lp-navbar-advanced span.bar-third {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

.lp-navbar-advanced .lp-transparency-scroll {
    transition: opacity 0.7s ease;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;

    opacity: 0.5;
}

.lp-navbar-advanced .lp-hide-show-scroll {
    transition: min-height 0.3s ease;
    -webkit-transition: min-height 0.3s ease;
    -moz-transition: min-height 0.3s ease;
    -ms-transition: min-height 0.3s ease;
    -o-transition: min-height 0.3s ease;

    min-height: 0px;
    height: 0px;
}

.lp-navbar-advanced .lp-hide-show-scroll * {
    display: none!important;
}

