<div class="lp-navshortcuts">
    <div class="lp-navshortcuts-wrap">
        <ul class="list-inline no-margin">
        {{#links}}
            <li><a class="lp-link-{{title}}" href="{{Url}}" data-linkType="{{linkType}}" title="{{title}}"><i class="lp-icon lp-icon-{{title}}"></i> <span class="sr-only">{{title}}</span></a></li>
        {{/links}}
        </ul>
    </div>
</div>