<div class="modal" ng-show="show">
    <div class='ng-modal-overlay' ng-click="hideModal()"></div>
    <div class="modal-dialog" ng-style="dialogStyle" tabindex="-1">
        <div class="modal-content" ng-transclude=""></div>
    </div>
</div>