<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <title>Login</title>

    <g:preferences>
        <g:preference name="prefixSessionUrl" label="Prefix path for Session URL" type="text" default="$(contextPath)/services/rest"/>
        <g:preference name="sessionUrl" label="Initiate Session URL" type="text" default="/authentication/session/initiate"/>
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/conf/messages.json" viewhint="text-input,user,designModeOnly"/>
        <g:preference name="reloadOnSuccess" label="Reload page on success" type="checkbox" default="true" />
    </g:preferences>

</head>

<body class="lp-login" g:onload="requireWidget(__WIDGET__, 'js/main');">

    <div ng-controller="LoginmfaCtrl" class="ng-cloak" ng-class="responsiveClass">

        <div class="loading-panel" ng-if="master.loading" role="alert">
            <i class="lp-icon lp-icon-spinner lp-spin loading-icon"></i>
            <span class="sr-only">Busy</span>
        </div>

        <!--  Widget Alerts -->
        <div lp-focus-on="lp.login-multifactor.errors" tabindex="-1">
            <div alert="alert" ng-repeat="alert in master.alerts" type="{{alert.type}}">
                <i class="lp-icon lp-icon-alert-warning"></i> {{alert.msg}}
            </div>
        </div>

        <!--  Full Content -->
        <div class="lp-widget-content">

            <!--  Body Content -->
            <div ng-include="master.template" onload="onload()"></div>

        </div>
    </div>
</body>
</html>