<div data-pid="{{widgetInstanceId}}" id="{{widgetInstanceId}}" class="bp-widget bp-ui-dragRoot panel-chrome lp-chrome-blank">
    <div class="bp-widget-pref"></div>
    <div class="bp-widget-body">{{{widgetContent}}}</div>
</div>