<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} pcf-chrome" >
     <div class="bp-widget-pref"></div>
     <div class="bp-widget-head lp-widget-head widget widget-default" id="{{widgetInstanceId}}-body">
         <div class="widget-heading">
            <div class="widget-title {{#showDelete}}pcf-widget-title{{/showDelete}} {{#showDelete}}cursor-pointer{{/showDelete}}">{{#pref.icon}}<i class="lp-icon lp-icon-{{pref.icon.value}}"></i>{{/pref.icon}}{{widgetTitle}}</div>
             {{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden cursor-pointer"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
         </div>
         <div class="bp-widget-body">{{{widgetContent}}}</div>
    </div>
</div>
