.pcf-pc-plus .offer-head,
.pc-plus-header{
    color: #ee2e24;
    padding: 10px;
    background: #f4f4f4;
}
.pc-plus-header img{
    height: 30px;
}

.pc-plus-body{
    background: #fff;
    margin: 0;
}
.pc-plus-body [class*="col-sm"]{
    padding: 0 10px;
}
.pc-plus-body .col-sm-12{
    padding: 0;
}
.pc-plus-button:hover,
.pc-plus-button:focus,
.pc-plus-button{
    background: #ee2e24;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
}
[data-pid*="pcf-pc-plus"] .lp-widget-head .widget-title,
[data-pid*="pcf-pc-plus"] .lp-widget-head .lp-launcher-chrome-title{
    display: none;
}


/* your offer */
.pc-plus-offers .pc-plus-offers-col{
    width: 20%;
    text-align: center;
}
.pc-plus-offers .pc-plus-offers-col .pc-plus-button{
    width: 100%;
    padding: 2px 4px;
    position: relative;
}
.offer-head{
    font-size: 16px;
    margin-bottom: 3px;
}
.offer-body{
    font-size: 11px;
    height: 90px;
    margin-bottom: 3px;
}
.offer-img{
    height: 50px;
    width: auto;
    display: block;
    margin: 3px auto;
}
.offer-foot{
    font-size: 11px;
    margin-top: 3px;
}
.offer-loaded .offer-body{
    background: #f4f4f4;
}
.offer-loaded .pc-plus-button{
    background: #39b54a;
}
.offer-loaded .glyphicon-ok-sign {
    font-size: 15px;
    left: 2px;
    position: absolute;
    top: 2px;
}
.offer-wrapper{
    padding: 0 5px 5px;
    border-right: 1px solid #ccc;
}
.pc-plus-offers-col-last .offer-wrapper{
    border: none;
}

/* shopping list */
.pc-plus-shopping-list .nav-tabs.nav-justified{
    border-bottom: 1px solid #ccc;
}
.pc-plus-shopping-list .nav-tabs.nav-justified > li > a{
    color: #666;
    border: none;
    outline: none;
    background: #fff;
    font-size: 12px;
    padding: 5px;
}
.pc-plus-shopping-list .nav-tabs.nav-justified > .active > a,
.pc-plus-shopping-list .nav-tabs.nav-justified > .active > a:hover,
.pc-plus-shopping-list .nav-tabs.nav-justified > .active > a:focus{
    border: none;
    outline: none;
    background: #f4f4f4;
}
.pc-plus-shopping-list .tab-content ul li{
    padding: 3px 10px;
    border-bottom: 1px solid #f4f4f4;
}
.pc-plus-sl-title{
    background: #f4f4f4;
    color: #ee2e24;
    font-size: 11px;
    margin-top: 5px;
}
.pc-plus-shopping-list  .tab-content > .tab-pane {
    max-height: 360px;
    overflow: auto;
}

/* border */
.pcf-h-line{
    border-bottom: 1px solid #ccc;
    margin: 10px 0 0;
}
.pcf-v-line{
    border-left: 1px solid #ccc;
    height: 100%;
    left: 33.3333%;
    position: absolute;
    top: 0;
    width: 0;
}
.pc-plus-margin-bottom{
    margin-bottom: 15px;
}
.pc-plus-margin-top{
    margin-top : 15px;
}
.pc-plus-picked-for-you{
    border-right: 1px solid #ccc;
}
.full-width{
    width: 100%;
}
