.budgets_header {
	background-color: #F9F9F9;
	margin-left: 0;
	margin-right: 0;
}

.budgets_header h4, .current_value {
	color: #EE2E24;
}

.manage_budgets {
	font-size: 75%;
	padding: 15px 15px 0 0;
	color: #999;
}

.manage_budgets:hover, .manage_budgets:focus, .manage_budgets:active, .manage_budgets:visited {
	color: #999;
}

.manage_budgets::after {
	content: " >";
}

.budget {
	margin: 0;
	padding: 8px 0;
}

#budgets {
	background: white;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 8px;
}

.budget_image {
	height: 16px;
	padding-right: 0;
	margin-left: 15px;
}

.budget_desc {
	margin: 0 0 0 15px;
	padding: 0 0 0 23px;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: left center;
}

.overall_budget {
	background: #ECECEC;
}

.overall_budget .budget_desc {
	margin-left: -8px;
}


.budget_total, .budget_completed {
	height: 8px;
	background-color: #E1E1E1;
	display: block;
	overflow: hidden;
}

.budget_total {
	margin: 0 15px;
}

.budget_value {
	margin: 0 15px 0 0;
}

/* Mobile Specific CSS */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.budget_image {
		margin-top: .5em;
		margin-bottom: -.5em
	}

	.budget_chart {
		padding-right: 0;
	}

	.budget_total {
		margin: 0 15px;
	}

}