//
// Launchpad Variables
// --------------------------------------------------

// Font sizes - Widgets and chromes only
// -------------------------
// Page templates use the Bootstrap font sizes located in the variables.less
// file under Typography.
// -------------------------

@lp-h1: 24px;
@lp-h2: 20px;
@lp-h3: 18px;
@lp-h4: 15px;
@lp-h5: 14px;
@lp-h6: 13px;

// Icon Sizes
// -------------------------

@icon-size-small: 12px;   // carets & chrome controls
@icon-size-medium: 18px;  // navbar buttons
@icon-size-large: 24px;   //
@icon-size-tile: 70px;    // Springboard Tile

// Set button background color
// -------------------------

@button-primary-color: #2a8700; // @brand-primary;

// Chrome default styles
// -------------------------

@panel-chrome-default-border: transparent;
@panel-chrome-default-text: #717171;
@panel-chrome-default-heading-bg: #efefef;
@panel-chrome-default-heading-border: #efefef;

// Launchpad widgets
// --------------------------------------------------

@widget-minheight: 200px;
@widget-title-font: @light-font, @font-family-sans-serif;
@widget-bg-color: #fff;
@panel-widget-border: transparent;
@panel-widget-text: #717171;
@panel-widget-heading-bg: #f6f6f6;
@panel-widget-heading-border: transparent;
@panel-footer-bg: @panel-widget-heading-bg;
@panel-background: #fff;
@panel-medium-bg: #fbfbfb;
@panel-dark-bg: #ccc;

// Form styles
// --------------------------------------------------

@row-vertical-padding: 10px;
@form-actions-background: #fff;
@placeholder-text: #ccc;

// Accessibility :focus outlines
// --------------------------------------------------

@focus-color: @input-border-focus;
@focus-border: fade(@focus-color, 70%);
@focus-shadow: 0 0 3px fade(@focus-color, 40%) inset, 0 0 8px fade(@focus-color, 75%);
@focus-outline: 1px solid fade(@focus-color, 20%);
@focus-outline-offset: -2px;

// Launcher sidebar and Springboard tile chromes
// --------------------------------------------------

@chrome-title-color: #717171;
@icon-active-color: darken(@brand-primary, 60%);
@chrome-title-active: @icon-active-color;
@chrome-icon-color: @chrome-title-color;
@chrome-icon-active: @chrome-title-active;
@chrome-controls-color: lighten(@chrome-title-color, 30%);
@chrome-controls-hover: darken(@chrome-title-color, 20%);
@chrome-controls-size: @icon-size-small;

// Header dropdowns (e.g., Accounts header)
// --------------------------------------------------

@dropdown-large-color: @btn-default-color;
@dropdown-large-bg: #fff;
@dropdown-large-border: @dropdown-large-bg;

// Widget Body
// --------------------------------------------------
@positive-amount-color:inherit;
@negative-amount-color:inherit;

// Launcher Tabs
// --------------------------------------------------

@launcher-tab-bg: #e5e4e0;
@launcher-tab-bg-hover:darken(@launcher-tab-bg, 5%);
@launcher-tab-bg-active:#b3b0ab; //darken(@launcher-tab-bg, 30%);

@launcher-tab-text: #717171;
@launcher-tab-text-hover:darken(@launcher-tab-text, 15%);
@launcher-tab-text-active:lighten(@launcher-tab-text, 60%);

@launcher-tab-border: #d4d3cf;
@lp-launcher-tab-border-bottom: 1px solid #d5d5d5;

@lp-launcher-chrome-text:#585755;
@lp-launcher-chrome-bg:#e5e4e0;
@lp-launcher-chrome-bg-active:#b3b0ab;

@launcher-tab-min-height: 40px;
@lp-launcher-tab-height: 36px;
@lp-launcher-tab-line-height: 40px;

@launcher-left: 214px; // responsive left width
@launcher-right: 214px; // responsive right width

// Container Headers
// --------------------------------------------------

@lp-launcher-widgethead-height: 48px;
@lp-lightbox-widgethead-height: 48px;
@lp-springboard-widgethead-height: 26px;

// Navbar
// --------------------------------------------------

@navbar-zindex: 1;

// Transitions and Animations
// --------------------------------------------------

@background-transition: background 0.08s;
@color-transition: all 0.08s;


// Helpers
// --------------------------------------------------

@padding-base: 5px;
@button-padding: 8px 12px;
@button-primary-color: #2a8700; // @brand-primary;


// FONTS
// --------------------------------------------------

// Theme fonts
// --------------------------------------------------

@primary-font: 'latoregular', @font-family-sans-serif;
@light-font: 'latolight', @font-family-sans-serif;


@font-face {
    font-family: 'latolight';
    src: url('@{fonts-dir}lato-light-webfont.eot');
    src: url('@{fonts-dir}lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-dir}lato-light-webfont.woff') format('woff'),
         url('@{fonts-dir}lato-light-webfont.ttf') format('truetype'),
         url('@{fonts-dir}lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('@{fonts-dir}lato-regular-webfont.eot');
    src: url('@{fonts-dir}lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-dir}lato-regular-webfont.woff') format('woff'),
         url('@{fonts-dir}lato-regular-webfont.ttf') format('truetype'),
         url('@{fonts-dir}lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}