@navbar-default-link-active-bg: @navbar-default-bg;

@icon-font-path: @fonts-dir;

//
// Launchpad theme tweaks
// --------------------------------------------------

.form-horizontal .has-feedback .form-control-feedback {
   right: 0;
}



//
//.panel-footer {
//    .text-right;
//}
//.lp-navshortcuts a {
//    color:#6d6d6d;
//}
//.lp-navshortcuts .active a {
//    color:#ed1c24;
//}
//.btn-link {
//    color: @link-color;
//    font-family: @light-font, @font-family-sans-serif;
//}
//a {
//    cursor:pointer;
//    &:hover {
//        text-decoration:none!important;
//    }
//}
//.lp-icon-red {
//    color:red;
//}
//button.btn-link:hover {
//    text-decoration:none!important;
//}
//table, tbody, thead, th, tr, td {
//    border-color:#fbfbfb !important
//}
//.table.table-hover tbody>tr>td {
//    border-top:0 none;
//}
//.lp-login .form-group:first-child {
//    margin-bottom:10px;
//}
//.bd-imageText-wrapper{
//    padding:10px 0 0!important;
//}
//.navbar.navbar-default {
//    margin-top:0;
//    margin-bottom:10px;
//    .navbar-nav>li {
//        border-left: 1px solid #555;
//        >a {
//            font-size:13px;
//        }
//    }
//    .navbar-collapse {
//        padding-left:0;
//    }
//}
//.header-dropdown {
//    .dropdown-large {
//        .border-radius(0);
//        padding-left:20px;
//        border:0 none;
//        margin:0;
//    }
//    .dropdown-small {
//        .border-radius(0);
//        padding-left:20px;
//        border:0 none;
//        margin:0;
//    }
//    .btn:active {
//        .box-shadow(none);
//    }
//    &:hover .dropdown-menu,
//    .dropdown-menu {
//        .border-radius(0);
//        border:0 none;
//    }
//    &:hover,
//    &:active {
//        border:0 none;
//    }
//    .dropdown-large,
//    .dropdown>.dropdown-menu {
//        margin-left:-10px!important;
//    }
//}
//
//
//label {
//    font-weight:normal;
//}
//
//.list-group-item {
//    border-color:#fbfbfb;
//    border-left:0;
//    border-right:0;
//    -webkit-border-radius:0!important;
//    -moz-border-radius:0!important;
//    border-radius:0!important;
//}
//
//.panel-body {
//    padding: 12px;
//}
//.panel-widget,
//.panel-chrome-default {
//    &.panel,
//    >.panel-heading,
//    >.panel-footer {
//        .border-radius(0);
//        border:0 none;
//    }
//}
//
//.panel-default .selected.selected-header {
//    background: #f8f8f8;
//}
//.panel-footer .btn {
//    min-width:100px;
//}
//.panel-chrome-default>.panel-heading {
//    font-family: @light-font;
//}
//
//.table-hover {
//    margin-bottom:10px;
//}
//.lp-minimized button {
//    color:#717171!important;
//
//    &:hover {
//        color:#555!important;
//    }
//}
//
//
//h1, h2, h3, h4, h5, h6 {
//    color:#860000;
//}
//
//.search-input {
//    input.form-control:focus,
//    input.form-control {
//        -webkit-box-shadow: none;
//        box-shadow: none;
//        border-color:#ccc;
//    }
//    .input-group-addon {
//        background:#fff;
//        padding: 6px 6px 6px 10px;
//
//        .lp-icon-search2 {
//            font-size: 16px;
//            top:0;
//        }
//    }
//    .search-input input.form-control {
//        border-left:0;
//        padding-left:0;
//    }
//}
//
//.lp-content-text-area h1 {
//    font-weight:normal!important;
//}
//
////// Tabs
////.nav.nav-tabs>li {
////    border-bottom:0 none;
////    >a {
////        font-size:18px;
////        color: #bbb!important;
////        padding-bottom:0;
////        margin: 0 10px 0 0!important;
////        &:hover {
////            color:@brand-primary;
////        }
////    }
////    >a,
////    >a:hover {
////        background:0 none;
////        border:0 none;
////    }
////}
////.nav-tabs > li.active > a:focus {
////  border:inherit!important;
////}
//////.bp-TabCont-head {
//////    border-bottom:0 none!important;
//////    >.bp-TabCont-tab,
//////    >.bp-TabCont-tab:hover,
//////    >.bp-TabCont-tab-selected:hover,
//////    >.bp-TabCont-tab-selected {
//////        border:0 none!important;
//////        background:0 none!important;
//////        margin:0!important;
//////        padding:0!important;
//////    }
//////    >li.bp-TabCont-tab:hover>a,
//////    >li.bp-TabCont-tab-selected>a {
//////        color: #717171!important;
//////    }
//////}
//////.bp-TabCont-link,
//////.bp-TabCont-link:link,
//////.bp-TabCont-link:visited,
//////.bp-TabCont-link:hover,
//////.bp-TabCont-link:active {
//////    padding: 3px 7px!important;
//////}
////.nav.nav-tabs {
////    margin-top:10px;
////}
////.bp-TabCont-body {
////    margin-bottom:15px;
////}
////
////.btn-group.open .dropdown-toggle {
////    .box-shadow(none);
////}
////
////.lp-header-left .be-ex-image-only img {
////    width:auto;
////}
////
////.form-horizontal .has-feedback .form-control-feedback {
////    right: 0;
////}