.divLoading{
}
.divError{
	display:none;
}
.divTransactionHistory{
	display:none;
}
.divDashboardBalances{
	display:none;
}
.divExpensesByCategory{
	display:none;
}
.divProfile{
	display:none;
}
.divSummary{
	display:none;
	font-size:8pt;
}
.divRAW{
	display:none;
}

thead tr td {
	font-weight:bolder;
}

tbody tr td .usd {
	text-align:right;
}