<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile Summary</title>

    <g:preferences>
        <g:preference name="profileLink" label="Profile Link" type="text" default="$(contextRoot)/profile" />
        <g:preference name="preferenceService" label="Preference Service" type="text" default="$(contextPath)/services/rest/party-data-management/preferences" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/profile-summary.css"/>
    <script src="../../conf/require-conf.js"></script>
</head>
<body g:onload="requireWidget(__WIDGET__, 'js/profile-summary');">
    <div ng-controller="profileSummaryController" class="lp-profile-summary widget widget-default ng-cloak clearfix" lp-responsive="lp-responsive" on-size-change="onSizeChange(size)" size-rules="responsiveRules">
        <div class="lp-widget-content widget-body panel-body no-min-height clearfix" itemscope="" itemtype="http://launchpad.backbase.com/vocab/profile">

            <div class="media">
                <div ng-class="{'pull-left': responsive !== 'xs'}" itemprop="profile-pic">
                    <div profile-image="profile-image" fullname="{{model.username}}" size="42" color="#CCC"></div>
                </div>
                <div class="media-body">
                    <div class="hide-xs-widget">
                        <h4 class="light-font">Welcome</h4>
                        <div ng-if="!profileLink">
                            <span class="h4 display-block"><strong>{{model.preferredName}}</strong></span>
                        </div>
                        <div ng-if="profileLink">
                            <a name="myProfile" class="h4 btn-link display-block lp-profile-summary-username" ng-href="{{profileLink}}">
                                <span itemprop="username">{{model.preferredName}}</span>
                            </a>
                            <a class="btn-link btn-sm no-padding" ng-href="{{profileLink}}">View profile</a>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-link no-padding" href="#" ng-click="logout()">
                        <i class="lp-icon lp-icon-icon-logout hide-xs-widget"></i> Logout
                    </button>
                </div>
            </div>


        </div>
    </div>
</body>
</html>