// Theme Fonts
@font-face {
    font-family: 'Covered By Your Grace';
    font-style: normal;
    font-weight: 400;
    src: local('Covered By Your Grace'),
    local('CoveredByYourGrace'), url('@{fonts-dir}CoveredByYourGrace.woff') format('woff');
}

@font-face {
    font-family: 'latolight';
    src: url('@{fonts-dir}lato-light-webfont.eot');
    src: url('@{fonts-dir}lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-dir}lato-light-webfont.woff') format('woff'),
         url('@{fonts-dir}lato-light-webfont.ttf') format('truetype'),
         url('@{fonts-dir}lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('@{fonts-dir}lato-regular-webfont.eot');
    src: url('@{fonts-dir}lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-dir}lato-regular-webfont.woff') format('woff'),
         url('@{fonts-dir}lato-regular-webfont.ttf') format('truetype'),
         url('@{fonts-dir}lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Fonts
@primary-font: 'latoregular', @font-family-sans-serif;
@light-font: 'latolight', @font-family-sans-serif;
@secondary-font: 'Covered By Your Grace', @font-family-sans-serif;

// Widget & Chrome Font Sizes
@lp-h1: 24px;
@lp-h2: 20px;
@lp-h3: 18px;
@lp-h4: 15px;
@lp-h5: 14px;
@lp-h6: 13px;

// Helpers
@padding-base: 5px;
@button-padding: 8px 12px;
@button-primary-color: #ff7020;

// Icons
@icon-size-small: 12px;
@icon-size-medium: 18px;
@icon-size-large: 24px;
@icon-size-tile: 70px;

@panel-gutter-padding: 10px 15px;

@panel-chrome-default-border: #2d7cb5;
@panel-chrome-default-text: #fff;
@panel-chrome-default-heading-bg: #2d7cb5;
@panel-chrome-default-heading-border: #2d7cb5;

@panel-widget-border: transparent;
@panel-widget-text: #717171;
@panel-widget-heading-bg: #d9e7f2;
@panel-widget-heading-border: transparent;
@panel-footer-bg: @panel-widget-heading-bg;

@selection-outline: 0;

// Chromes
@chrome-title-color: #717171;
@icon-active-color: darken(@brand-primary, 60%);
@chrome-title-active: @icon-active-color;
@chrome-icon-color: @chrome-title-color;
@chrome-icon-active: @chrome-title-active;
@chrome-controls-color: lighten(@chrome-title-color, 30%);
@chrome-controls-hover: darken(@chrome-title-color, 20%);
@chrome-controls-size: 12px;

@background-transition: background 0.08s;
@color-transition: all 0.08s;

@dropdown-large-color: @btn-default-color;
@dropdown-large-bg: #fff;
@dropdown-large-border: @dropdown-large-bg;

.lp-widget-title { .lp-h2; color: @icon-active-color; line-height: inherit; }
.lp-widget-controls { .lp-h2; }
.lp-dd-balance { .lp-h3; }
.lp-dd-available-bal { .lp-h4 }

// Widget
@widget-minheight: 200px;
@widget-title-font: 'Proxima Light', @font-family-sans-serif;
@widget-bg-color: #fff;
@panel-background: #fff;
@panel-medium-bg: #fbfbfb;
@panel-dark-bg: #ccc;
@row-vertical-padding: 10px;
@form-actions-background: #fff;
@placeholder-text: #ccc;

// Widget Body
@positive-amount-color:inherit;
@negative-amount-color:inherit;

// Navbar
@navbar-zindex: 1;

// Launcher Container Widgets

@lp-launcher-tab-height: 36px;
@lp-launcher-tab-line-height: 40px;
@launcher-tab-min-height: 40px;


@launcher-tab-bg: @navbar-default-bg;
@launcher-tab-text: @navbar-default-color;
@launcher-tab-border: darken(@launcher-tab-bg, 5%);

@launcher-tab-bg-hover:darken(@launcher-tab-bg, 5%);
@launcher-tab-text-hover:darken(@launcher-tab-text, 15%);

@launcher-tab-bg-active: @brand-primary;
@launcher-tab-text-active:lighten(@launcher-tab-text, 60%);


@lp-launcher-tab-border-bottom: 1px solid #d5d5d5;
@lp-launcher-chrome-bg-active:#b3b0ab;
@lp-launcher-chrome-bg:#e5e4e0;
@lp-launcher-chrome-text:#585755;

// Chrome Headers
@lp-launcher-widgethead-height: 48px;
// Lightbox Container
@lp-lightbox-widgethead-height: 48px;
// Springboard Container Widgets
@lp-springboard-widgethead-height: 20px;

// UI Editing Variables
@headings-color: @brand-primary;
