<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} pcf-chrome" >
 
     <div class="bp-widget-pref"></div>
     <div class="bp-widget-head lp-widget-head widget widget-default" id="{{widgetInstanceId}}-body">
        <div class="widget-heading hidden-xs {{#showDelete}}pcf-widget-title{{/showDelete}}">
            <div class="widget-title {{#showDelete}}cursor-pointer{{/showDelete}}">{{#pref.icon}}<i class="lp-icon lp-icon-{{pref.icon.value}}"></i>{{/pref.icon}}{{widgetTitle}}</div>
         </div>
         {{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden cursor-pointer"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
         <div class="bp-widget-body">{{{widgetContent}}}</div>
	</div>
	<div class="bp-widget-body aa-widget-body">{{{widgetContent}}}</div>
</div>