<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <g:preferences>
        <g:preference name="locale" label="Locale" type="text" default="en-US" />
        <g:preference name="showGroups" label="Show Groups" type="checkbox" default="true" viewhint="user,checkbox,designModeOnly"/>
        <g:preference name="defaultBalance" label="Default balance" type="select-one" viewhint="select-one,user,designModeOnly" defualt="current">
            <g:enumeration value="current" label="Current balance" />
            <g:enumeration value="available" label="Available balance" />
        </g:preference>

        <!-- Data sources -->
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts?partyId=$(partyId)" />
        <g:preference name="groupsDataSrc" label="Groups Data Source" type="text" default="$(contextPath)/static/launchpad/widgets/accounts/data/groups.json" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/accounts/data/messages.json" />
    </g:preferences>

    <title>Accounts</title>

    <link rel="stylesheet" type='text/css' href="css/accounts.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/accounts');">

<div ng-controller="AccountsController" class="lp-accounts ng-cloak" ng-class="responsiveClass">

    <!-- Alerts -->
    <div class="lp-alerts">
        <div class="alert alert-error" ng-show="model.error">
            <p><span lp-message="model.error" lp-bundle="messages"></span></p>
        </div>
        <div class="alert alert-info" ng-show="!model.accounts.length">
            <p>No accounts available.</p>
        </div>
    </div>

    <!--  Full Content -->
    <div class="lp-widget-content">

        <div class="panel-group">
            <div class="panel-launcher" ng-repeat="group in model.groups">
                <div class="panel-heading clearfix" ng-show="showGroups &amp;&amp; model.getGroupSize(group) > 0" tabindex="0">
                        <span class="pull-left">
                            {{group.defaultTitle}}
                        </span>
                        <span ng-show="model.getGroupSize(group) > 1"
                              class="pull-right text-right"
                              lp-amount="model.getGroupTotal(group).totalBalance"
                              lp-amount-currency="model.getGroupTotal(group).currency"/>
                </div>
                <ul class="list-group">
                    <li class="list-group-item panel-body cursor-pointer" ng-repeat="account in (model.accounts | filter:{'groupCode':group.code})"
                        ng-click="selectAccount(account.id)"
                        ng-class="{selected: model.selected == account.id}"
                        itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/account"
                        tabindex="0" role="button" ng-keydown="accountKeydown($event, account.id)">
                            <span class="lp-line-item-arrow">
                                <i class="lp-icon lp-icon-angle-right"></i>
                            </span>

                        <div itemprop="accountName">{{account.name}}</div>

                        <div class="clearfix">

                            <div class="text-muted pull-left">
                                <span class="sr-only">Account Number</span>
                                <div itemprop="accountNumber" lp-aria-number="account.iban"></div>
                            </div>

                            <div ng-switch="defaultBalance">
                                <span class="sr-only">Account Balance</span>
                                    <span itemprop="accountBalance">
                                        <div data-ng-switch-when="current" class="pull-right text-right padding-right-md"
                                             lp-amount="account.balance" lp-amount-currency="account.currency" lp-balance-update="lp-balance-update" ng-model="account" />
                                        <div data-ng-switch-when="available" class="pull-right text-right padding-right-md"
                                             lp-amount="account.availableBalance" lp-amount-currency="account.currency" lp-balance-update="lp-balance-update" ng-model="account" />
                                    </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="widget-footer hide-medium-widget">
        </div>

    </div>

</div>

</body>
</html>