<script type="text/ng-template" id="/transactions/partials/piecharts.html">
    <div class="lp-widget-body">
        <div ng-controller="transactionsPieChartController">
            <div class="panel-body">
                <div class="panel-message" ng-if="transactionsModel.noTransactionsFound()" role="alert">
                    <p>There are no transactions to display
                        <span ng-show="!transactionsModel.isSearching()">for this account</span>
                        <span ng-show="transactionsModel.isSearching()">for this search</span>.
                    </p>
                </div>
                <div ng-if="transactionsModel.loading" role="alert">
                    <p class="panel-message text-center">Loading transactions...</p>
                </div>

                <div class="controls clearfix pcf-piecharts" ng-show="!transactionsModel.loading">
                    <div class="pcf-piecharts-body col-sm-8 col-xs-7"> </div>
                    <div class="pcf-piecharts-legend col-sm-4 col-xs-5"> </div>
                </div>

            </div>
        </div>
    </div>
</script>
