<div data-pid="{{widgetInstanceId}}" class="bp-widget aa-widget bp-ui-dragRoot bb-labs-search-chrome">
	<div class="bp-widget-head aa-widget-head {{#enableDND}}bp-ui-dragGrip{{/enableDND}}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-5 col-sm-5">
					<span class="resource resourceId_documentlibrary resourceFailSafe">{{widgetTitle}}</span>					
				</div>
				<div class="clearfix visible-xs"></div>
				<div class="col-xs-7 col-sm-7 searchdiv">
					<input type="text" class="search-query animated" placeholder="Search"/> <i class="glyphicon glyphicon-search"></i>
				</div>
			</div>	
		</div>
	</div>
	<div class="bp-widget-pref aa-widget-pref"></div>
	<div class="bp-widget-body aa-widget-body">{{{widgetContent}}}</div>
	<div class="bp-widget-foot aa-widget-foot"></div>	
</div> 