body {
	margin: 0;
	font-family: 'Open Sans', 'Open-Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
}

b {
	font-weight: bolder;
}

#hat {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	z-index: 9999;
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

#header {
	max-width: 60em;
	padding: 0 2%;
	margin: 0 auto;
}

#logo {
	display: inline-block;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 9em;
	height: 1.8em;
	vertical-align: middle;
	z-index: 2;
	position: relative;
}

ul.nav {
	padding: 0;
	margin: 0 1em;
	list-style: none;
	display: inline-block;
}

ul.nav > li {
	display: inline-block;
	padding: 0.5em;
	margin: 0 0.25em;
}

ul.nav > li > a {
	color: #f00;
	text-decoration: none;
	transition: background-color 0.4s, margin 0.2s, padding 0.2s;
	z-index: 2;
}

@media screen and (min-width: 640px) {
	ul.nav {
		display: inline-block!important;
	}
}

ul.nav > li.open {
	background-color: #eee;
	padding-bottom: 1.6em;
	margin-bottom: -1.6em;
}

#header.contracted > ul.nav > li.open {
	padding-bottom: 0.7em;
	margin-bottom: -0.7em;
}

.login {
	display: inline-block;
	position: relative;
}

.login > .button3 {
	margin: 1.3em 0;
	transition: margin 0.5s;
}

.login .flyout {
	display: inline-block;
	visibility: hidden;
	margin: 1rem 0;
	padding: 0.75rem;
	position: absolute;
	top: 1em;
	right: 0;
	background-color: #f00;
	border-radius: 0.5rem;
	box-shadow: 0 1px 6px rgba(0,0,0,0.5);
	opacity: 0;
	z-index: 3;
	transition: opacity 1s, top 1s;
}

.login.open .flyout {
	visibility: visible;
	top: 3.5em;
	opacity: 1;
}

#header.contracted .login.open .flyout {
	top: 2.5em;
}

.login .flyout:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 1.5em;
	border: 0.75em solid transparent;
	border-bottom-color: red;
}

#hat .login .close {
	z-index: -1;
	display: block;
}

.login input {
	margin:  0 0 0.75rem;
	padding: 1em;
	width: 15rem;
	height: 2rem;
	font-family: inherit;
	border: none;
	border-radius: 0.5em;
	vertical-align: middle;
	box-sizing: border-box;
	transition: margin 0.5s, width 0.5s;
}

.login input:focus::-webkit-input-placeholder {
	color: transparent;
}

.login input:focus:-moz-placeholder {
	color: transparent;
}

.login input:focus::-moz-placeholder {
	color: transparent;
}

.login input:focus:-ms-input-placeholder {
	color: transparent;
}

.login .flyout .forgot {
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
	float: left;
	margin: 0.5em 0;
}

.login > .flyout > .button3 {
	margin: 0;
	float: right;
}

#header.contracted > .login > .button3 {
	margin: 0.5em 0;
}

.megamenu {
	display: block;
	width: 100%;
	max-height: 0;
	position: absolute;
	top: 4.3em;
	left: 0;
	background-color: #eee;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
	overflow-y: hidden;
	opacity: 0;
	z-index: 2;
	transition: top 0.4s, opacity 0.4s, max-height 0.8s, padding 0.4s;
}

li:nth-child(n+3) .megamenu * {
	color: transparent;
}

li.open .megamenu {
	max-height: 100vh;
	opacity: 1;
	padding: 3em 0 2em;
}

#header.contracted .megamenu {
	top: 2.7em;
}

#hat > .close, #header > .close, .login .close {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	height: 100em;
	height: 100vh;
	display: none;
	z-index: 1;
}

#hat .megamenu.open + .close {
	display: block;
}

#hat .megamenu .close {
	position: absolute;
	top: -2em;
	left: initial;
	right: 0.5em;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	color: #f00;
	text-align: center;
	background-color: #fff;
	border-radius: 1em;
	cursor: pointer;
}

.megamenu .contain {
	position: relative;
	max-width: 60em;
	text-align: left;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
}

ul.head-left-col {
	list-style: none;
	margin: 0;
	padding: 0.5em;
	background-color: #fff;
	display: inline-block;
	width: 25%;
	overflow-x: hidden;
	box-sizing: border-box;
}

ul.head-left-col > li > a {
	display: inline-block;
	font-weight: 300;
	font-size: 1.4em;
	text-decoration: none;
	color: #000;
	padding: 0.3em;
	margin: 0.2em 0;
	width: 100%;
}

ul.head-left-col > li > a:hover {
	background-color: #eee;
}

ul.head-left-col > li > a:after {
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	margin: 0.4em;
	float: right;
	border-style: solid;
	border-width: 0.3em;
	border-color: transparent transparent transparent #f00;
}

ul.head-left-col > li.open > a {
	background-color: #f7f7f7;
}

.head-middle-col {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 0;
	padding: 1em;
	background-color: #f7f7f7;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow-y: auto;
	box-sizing: border-box;
}

.head-middle-col > h5 {
	font-size: 0.95em;
	margin: 0 0 1em;
}

.head-middle-col > h6 {
	font-size: 0.9em;
	font-weight: normal;
	margin: 1em 0;
}

.head-middle-col > .item {
	display: inline-block;
	margin: 0.5em 0;
	cursor: pointer;
}

.head-middle-col > .item.open {
	background-color: #fff;
	padding: 0.5em 1em 0.5em 0.5em;
	margin: 0 -1em 0 -0.5em;
}

.head-middle-col > .item:before {
	content: '';
	background: transparent url('../img/cheque.png') no-repeat center center;
	background-size: contain;
	display: inline-block;
	float: left;
	width: 2em;
	height: 1.75em;
	margin: 0 0.5em 0 0;
}

.head-middle-col > .item.ipsa:before {
	background-image: url('../img/pig.png');
}

.head-middle-col > .frm:before {
	background-image: url('../img/frm.png');
}

.head-middle-col > .gics:before {
	background-image: url('../img/gics.png');
}

.head-middle-col > .mutual:before {
	background-image: url('../img/mutual.png');
}

.head-middle-col > .notsure:before {
	background-image: url('../img/notsure.png');
}

.head-middle-col > .ploan:before {
	background-image: url('../img/ploan.png');
}

.head-middle-col > .ploc:before {
	background-image: url('../img/ploc.png');
}

.head-middle-col > .rrsp:before {
	background-image: url('../img/rrsp.png');
}

.head-middle-col > .sloc:before {
	background-image: url('../img/sloc.png');
}

.head-middle-col > .tfsa:before {
	background-image: url('../img/tfsa.png');
}

.head-middle-col > .vrm:before {
	background-image: url('../img/vrm.png');
}

.head-middle-col > .pcfmc:before {
	background-image: url('../img/pcfmc.png');
}

.head-middle-col > .pcfwmc:before {
	background-image: url('../img/pcfwmc.png');
}

.head-middle-col > .capt:before {
	background-image: url('../img/capt.png');
}

.head-right-col {
	display: inline-block;
	margin: 0;
	padding: 1em;
	width: 25%;
	background-color: #fff;
	background: #fff;
	vertical-align: top;
	box-sizing: border-box;
}

.head-right-col.groceries {
	background: #fff url('../img/bags.png') no-repeat bottom right;
}

.head-right-col h4 {
	color: #f00;
	font-weight: 400;
	font-size: 1.3em;
	margin-bottom: 0.4em;
}

.head-right-col .description {
	font-size: 0.8em;
	line-height: 1.2em;
	font-weight: 300;
}

.head-right-col a.more {
	color: #f00;
	text-decoration: none;
	font-weight: 500;
}

.head-right-col a.more:after {
	content: "";
	display: inline-block;
	margin-left: 0.5em;
	border: transparent 0.4em solid;
	border-left-color: #f00;
}

.head-sidebar {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 25%;
	border-left: 0.5em transparent solid;
}

.head-sidebar .cell {
	box-sizing: border-box;
	background-color: #fff;
	padding: 1em;
	height: 50%;
}

.head-sidebar .cell:nth-child(n+2) {
	margin-top: 0.5em;
}

.head-sidebar .cell h4 {
	font-size: 1.1em;
}

.head-sidebar .cell b.red {
	font-family: 'Futura-Pt', Futura, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	display: inline-block;
	line-height: 1.1;
	vertical-align: middle;
	margin-top: 1em;
}

.head-sidebar .cell p {
	font-size: 0.7em;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.head-sidebar .cell .thumb {
	float: left;
	height: auto;
	width: 4rem;
	margin: 0 1em 1em 0;
	vertical-align: middle;
}

.full {
	max-width: 60em;
	padding: 2%;
	margin: 0 auto;
	position: relative;
}

.half {
	display: inline-block;
	width: 46%;
	margin: 0 2%;
	vertical-align: top;
}

.red {
	color: #f00;
}

ul.slides {
	list-style: none;
	padding: 0;
	margin: 0;
}

.button2, .button3 {
	color: #f00;
	background-color: #fff;
	border-radius: 0.5em;
	padding: 0.5em 2em;
	display: inline-block;
	text-decoration: none;
	margin: 1em 0;
	cursor: pointer;
	transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

.button3 {
	padding: 0.2em 0.7em;
}

.button2:hover, .button3:hover {
	color: #fff;
	background-color: #f00;
}

#shoe {
	background-color: #f00;
	color: #fff;
	margin: 0;
}
#shoe a {
	color: #fff;
	text-decoration: none;
}

#foot {
	max-width: 60em;
	padding: 4em 0;
	margin: 0 auto;
}

.heel {
	display: inline-block;
	width: 25%;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.heel li {
	margin: 1em 0;
	padding: 0 0.5em;
	font-weight: 300;
	font-size: 1.2em;
}

.heel li:before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.heel li:nth-child(1):before {
	background-image: url('../img/rates.gif');
}

.heel li:nth-child(2):before {
	background-image: url('../img/find.gif');
}

.heel li:nth-child(3):before {
	background-image: url('../img/contact.gif');
}

.toes {
	margin: 0 0 0 -1px;
	padding: 0;
	display: inline-block;
	width: 75%;
	vertical-align: top;
	list-style: none;
	border-left: solid 1px #fff;
}

.toes > li {
	display: inline-block;
	width: 28%;
	padding-left: 5%;
	vertical-align: top;
}

h4.metatarsal {
	font-weight: 400;
	font-size: 1.3em;
	margin: 0.5em 0 1em;
	border-bottom: 1px solid #d00;
}

ul.phalanges {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.phalanges li {
	font-size: 0.8em;
	margin-bottom: 0.8em;
}

@media screen and (max-width: 1024px) {
	body {
		font-size: 15px;
	}
	.hero-nav {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 820px) {
	body {
		font-size: 13px;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 16px;
	}
	#header {
		padding: 0;
		text-align: left;
	}
	#hamburger {
		display: inline-block;
		margin: 1em;
		width: 2em;
		height: 2em;
		vertical-align: middle;
		background: 0 0 no-repeat url('../img/hamburger.gif');
		background-size: contain;
	}
	#logo {
		margin: 1em 1em 1em 0;
	}
	.login {
		position: initial;
	}
	.login > .button3, #header.contracted .login > .button3 {
		margin: 0;
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-size: 0.9em;
		position: absolute;
		top: 1.25em;
		right: 1em;
	}
	.login .flyout {
		position: absolute;
		border-radius: 0;
		width: 100%;
		box-sizing: border-box;
	}
	.login .flyout:before {
		right: 2em;
	}
	.login input {
		width: 100%;
	}
	.login.open .flyout {
		top: 2.7em;
	}
	ul.nav {
		position: absolute;
		top: 4em;
		width: 80%;
		right: 100%;
		margin: 0;
		display: block;
		background-color: #f00;
		max-height: 100vh;
		overflow-y: auto;
		transition: right 0.5s;
	}
	ul.nav.open {
		right: 20%;
		box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.5);
		z-index: 2;
	}
	#header > ul.nav.open + .close {
		display: inline-block;
		visibility: visible;
	}
	ul.nav > li {
		display: block;
		padding: 0;
		margin: 0;
	}
	ul.nav > li > a {
		display: block;
		color: #fff;
		padding: 3%;
		margin: 0;
	}
	ul.nav > li.open {
		padding: 0;
		margin: 0;
		background: none;
	}
	.megamenu {
		position: initial;
		box-shadow: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background: transparent;
	}
	li.open .megamenu {
		padding: 0;
		overflow: visible;
	}
	.megamenu .contain {
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
	}
	ul.head-left-col {
		display: block;
		width: 100%;
	}
	ul.head-left-col > li > a {
		font-size: 1em;
	}
	.head-middle-col,
	.head-right-col,
	.head-sidebar {
		display: none!important;
	}
	.sliding.pane .full.coins {
		background-image: none;
	}
/*	.login .flyout {
		position: relative;
		display: block;
		margin: 0;
		border-radius: 0;
		box-shadow: none;
		text-align: right;
	}
	.login .flyout input {
		width: 100%;
		text-align: left;
	}
	.login .flyout .button3 {
		float: none;
	}*/
	.full, .half {
		width: 90%;
		padding: 0 5%;
		margin: 0;
	}
	#foot {
		padding: 1em 0;
	}
	ul.toes {
		border: none;
	}
	#shoe ul, #shoe li {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
		margin: 0.5em 0;
	}
}