h1 {
	font-family: 'Futura-Pt', Futura, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 5em;
	line-height: 1em;
	color: #f00;
	margin: 0.2em 0;
}

h2 {
	font-weight: 300;
	font-size: 2em;
}

h3 {
	font-family: 'Futura-Pt', Futura, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 2em;
	margin: 0.4em 0;
	color: #f00;
}

h4 {
	font-weight: 300;
	font-size: 1.6em;
	margin: 0;
}

sup {
	font-size: 0.8em;
	line-height: 1em;
	vertical-align: top;
}

.sliding.pane {
	position: relative;
}

.sliding.pane .full {
	padding: 3em 0;
}

.hero.pane {
	position: relative;
	padding: 3em 0;
}

#hero1 {
	background-image: url('../img/beach.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 7.5em;
}

#hero2 {
	background-image: url('../img/worryless.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#hero4 {
	background-image: url('../img/hugs.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#hero4 h1, #hero4 h2 {
	text-shadow: 0 0 1em #fff;
}

.phone {
	display: inline-block;
	position: absolute;
	top: 8em;
	opacity: 0;
	right: 5em;
	width: 20em;
	height: 34em;
	background-image: url('../img/phone.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity 1s, top 1s;
}

.phone.up {
	opacity: 1;
	top: 3em;
}

.tooltip {
	display: inline-block;
	position: absolute;
	width: 4em;
	height: 4em;
	margin: -2em;
	background-image: url('../img/plus_off.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	cursor: pointer;
	transition: width 0.1s, height 0.1s, margin 0.1s;
}

.tooltip.on {
	background-image: url('../img/plus_on.png');
}

.tooltip:hover {
	width: 5em;
	height: 5em;
	margin: -2.5em;
}

#tip1 {
	top: 29%;
	right: 40%;
}

#tip2 {
	right: 64%;
	top: 9%;	
}

#tip3 {
	top: 17%;
	right: -3%;
}

#tip4 {
	top: 47%;
	right: 80%;
}

.pane.red {
	background-color: #f00;
	color: #fff;
	padding: 0;
	position: relative;
}

.red h1, .red h3 {
	color: #fff;
}

.red .button2:hover, .red.button2, .red.button3 {
	color: #fff;
	background-color: #f00;
}

.mastercard {
	position: absolute;
	top: 9em;
	right: 4em;
	opacity: 0;
	transition: top 1s, opacity 1s;
}

.flex-active-slide .mastercard.up {
	top: 4em;
	opacity: 1;
}

.mastercard .card {
	width: 18em;
	height: 11.36em;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../img/mastercard.png');
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 1em;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.5);
}

.mastercard .hand {
	width: 15em;
	height: 16em;
	display: inline-block;
	position: absolute;
	top: 8em;
	right: 7em;
	background-image: url('../img/hand.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.mastercard.up .waves .wave {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 8.7em;
	right: 7.8em;
	border: 1px solid #fff;
	border-radius: 6em;
	-webkit-animation: blips 3s infinite linear;
	-moz-animation: blips 3s infinite linear;
	animation: blips 3s infinite linear;
}

.mastercard .waves .wave:nth-child(2) {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.mastercard .waves .wave:nth-child(3) {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@-webkit-keyframes blips {
	0% {
		padding: 0;
		margin: 0;
		opacity: 1;
	}
	50% {
		padding: 3em;
		margin: -3em;
		opacity: 1;
	}
	100% {
		padding: 6em;
		margin: -6em;
		opacity: 0;
	}
}

@-moz-keyframes blips {
	0% {
		padding: 0;
		margin: 0;
		opacity: 1;
	}
	50% {
		padding: 3em;
		margin: -3em;
		opacity: 1;
	}
	100% {
		padding: 6em;
		margin: -6em;
		opacity: 0;
	}
}

@keyframes blips {
	0% {
		padding: 0;
		margin: 0;
		opacity: 1;
	}
	50% {
		padding: 3em;
		margin: -3em;
		opacity: 1;
	}
	100% {
		padding: 6em;
		margin: -6em;
		opacity: 0;
	}
}

.sliding.pane .full.coins {
	background-image: url('../img/coins.png');
	background-position: 100% 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: inherit;
	padding-bottom: 7%;
	margin-bottom: -3%;
}

.mocards {
	position: absolute;
	top: 3.5em;
	right: 4em;
}

.mocards .card1 {
	width: 18em;
	height: 11.36em;
	display: inline-block;
	position: absolute;
	top: 7em;
	right: 0;
	background-image: url('../img/card1.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: top 1s;
	z-index: 2;
}

.mocards .card2 {
	width: 18em;
	height: 11.36em;
	display: inline-block;
	position: absolute;
	top: -5em;
	right: 4em;
	background-image: url('../img/card2.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: top 1s;
}

.flex-active-slide .mocards .card1 {
	top: 2em;
}

.flex-active-slide .mocards .card2 {
	top: 0;
}

.houses {
	display: inline-block;
	float: right;
	text-align: right;
}

.house {
	display: inline-block;
	width: 5em;
	height: 4.5em;
	margin: 0.2em;
	background-image: url('../img/house.png');
	background-size: 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	transition: background-size ease 0.4s;
	will-change: background-size;
	transition-delay: 0.2s;
}

.flex-active-slide .house {
	background-size: 4.5em 4.125em;
}

.house:nth-child(2), 
.house:nth-child(6) {
	transition-delay: 0.3s;
}

.house:nth-child(3), 
.house:nth-child(7),
.house:nth-child(11) {
	transition-delay: 0.4s;
}

.house:nth-child(4), 
.house:nth-child(8),
.house:nth-child(12) {
	transition-delay: 0.5s;
}

.house:nth-child(9),
.house:nth-child(13) {
	transition-delay: 0.6s;
}

.house:nth-child(14) {
	transition-delay: 0.7s;
}

.hero-nav {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 60em;
	height: 0;
	position: absolute;
	top: calc(50% - 2.35em);
	left: 1em;
}

.hero-nav li {
	background-color: transparent;
	max-width: 13em;
	border-radius: 0.5em;
	transition: background-color 0.3s;
}

.hero-nav li:hover {
	background-color: #333;
}

.hero-nav li:hover a {
	color: #fff;
}

.hero-nav li a {
	color: transparent;
	text-decoration: none;
	font-size: 0.7em;
	margin: 0 0.8em 0.8em;
	display: inline-block;
	transition: color 0.3s;
}

.hero-nav li a:before {
	content: "";
	display: inline-block;
	width: 1.5em;
	height: 1em;
	border: 1px solid #f00;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 0.8em 0 0;
}
.hero-nav li a.current:before {
	background-color: #f00;
	cursor: default;
}

.sliding.horizontal .flex-control-nav {
	list-style: none;
	margin: 0;
	padding: 0.5em;
	position: absolute;
	top: -1.5em;
	height: 1em;
	left: 45%;
	left: calc(50% - 4.5em);
	background-color: inherit;
	border-radius: 0.5em;
}

.sliding.horizontal .flex-control-nav li {
	display: inline;
}

.sliding.horizontal .flex-control-nav li a {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #fff;
	margin: 0 0.5em;
	color: transparent;
	cursor: pointer;
}

.sliding.horizontal .flex-control-nav li a.flex-active {
	background-color: #ddd;
	cursor: default;
}

.flex-direction-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.flex-prev {
	position: absolute;
	left: 0;
	top: 0;
}

.welcome {
	background-color: rgba(255,255,255,0.5);
	border-radius: 0.5em;
	padding: 0.5em;
	text-align: center;
	font-weight: 300;
	font-size: 1.15em;
}

.greetings {
	color: #f00;
	border-bottom: 1px solid #f00;
	display: inline-block;
	margin: 0 0 0.2em;
	padding: 0.2em 0;
}

.more {
	font-size: 0.75em;
	color: rgba(0,0,0,0.8);
	margin: 0 0 0.5em;
}

.pane.backgrounds {
	background-color: #aaa;
}

.pane.backgrounds ul.slides {
	display: -webkit-flex;
	display: flex;
}

.pane.backgrounds ul.slides li:nth-child(2),
.pane.backgrounds ul.slides li:nth-child(6) {
	background-image: url('../img/desk.jpg');
}
.pane.backgrounds ul.slides li:nth-child(3) {
	background-image: url('../img/cart.jpg');
}
.pane.backgrounds ul.slides li:nth-child(4) {
	background-image: url('../img/bowl.jpg');
	background-size: cover;
	background-position: 50% 50%;
}
.pane.backgrounds ul.slides li:nth-child(5),
.pane.backgrounds ul.slides li:nth-child(1) {
	background-image: url('../img/bg-grad.png');
	background-size: 1px 100%;
	background-repeat: repeat-x;
	background-color: #fff;
}

.pcplus {
	background-image: url('../img/pcplus.png');
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
	display: inline-block;
	width: 20em;
	height: 17.8em;
	margin-bottom: -5em;
}

@media screen and (max-width: 960px) {
	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 640px) {
	/*////////////////////////////////////////////////////////*/
	/*#hat {
		display: none;
	}*/
	#hero1 .half:first-child {
		display: none;
	}
	#hero1 h1:before {
		content: "";
		display: inline-block;
		width: 100%;
		height: 6em;
		background-image: url('../img/beach.jpg');
		background-size: cover;
		position: absolute;
		top: -2.5em;
		left: 0;
		z-index: -1;
	}
	.welcome {
		font-size: 0.7em;
		text-align: left;
		font-weight: 500;
	}
	.welcome .more {
		font-size: 1em;
	}
	h1 {
		font-size: 2.5em;
		background-color: rgba(255,255,255,0.6);
		padding: 0.25em;
		margin: 0.25em -0.25em 1em;
	}
	h2 {
		font-size: 1.3em;
		margin: 0.2em 0;
	}
	.sliding.pane .full {
		padding: 0.5em 0;
	}
	h3 {
		font-size: 1.7em;
		line-height: 1em;
	}
	h4 {
		margin: 0;
		font-size: 1.2em;
	}
	sup {
		font-size: 0.6em;
		line-height: 1em;
		vertical-align: top;
	}
	.button2 {
		margin: 0.9em 0;
		padding: 0.5em 1em;
		font-size: 0.9em;
	}
	#foot {
		padding: 1em 0;
	}
	#hero1 {
		padding-top: 5em;
	}
	#hero2 {
		padding-top: 1em;
	}
	#hero2 h1 {
		margin: 1em 0 2em;
	}
	#hero2 h1:before {
		content: "";
		display: inline-block;
		width: 100%;
		height: 5em;
		background-image: url('../img/worryless.jpg');
		background-size: cover;
		position: absolute;
		top: -0.4em;
		left: 0;
		z-index: -1;
	}
	#hero3 {
		padding-top: 0;
	}
	#hero3 .half:nth-child(2) {
		text-align: center;
	}
	#hero4 h1 {
		margin-bottom: 2.5em;
	}
	#hero4 h1:before {
		content: "";
		display: inline-block;
		width: 100%;
		height: 6em;
		background-image: url('../img/hugs.jpg');
		background-size: cover;
		position: absolute;
		top: -1em;
		left: 0;
		z-index: -1;
	}
	.phone {
		width: 10em;
		height: 16.8em;
		position: relative;
		top: 3em;
		left: 0;
		margin: 3em auto -3em;
		text-align: center;
	}
	.phone.up {
		top: 0;
	}
	.tooltip {
		height: 2em;
		width: 2em;
		margin: -1em;
	}
	.tooltip.on {
		height: 3em;
		width: 3em;
		margin: -1.5em;
	}
	#hero1, #hero2, #hero4 {
		background-image: none;
	}
	.mastercard, .mocards, .houses, .pcplus {
		display: none;
	}
	.sliding.pane .full.coins {
		background-image: none;
	}
	div.pane.backgrounds ul.slides li:nth-child(n+1) {
		background: #eee!important;
	}
	.pane.backgrounds .flex-control-nav {
		background-color: #eee;
	}
	.pane.backgrounds .flex-control-nav li a {
		background-color: #ddd;
	}
	.pane.backgrounds .flex-control-nav li a.flex-active {
		background-color: #f00;
	}
}