.lp-places {
    overflow: auto;
}

.lp-places .lp-widget-content {
    max-width: 98%
}

.lp-places .map_canvas {
    position: relative;
    height: 478px;
    width: 100%;
    min-width: 100%;
}

/*
Fixes Bootstrap issues with Google Maps
see http://stackoverflow.com/a/9170756
*/
.lp-places .map_canvas img {
    max-width: none;
}
.lp-places .infoBox {
    position: relative;
    width: 280px;
    min-width: 280px;
    min-height: 120px;
}

.lp-places .lp-normal-size .panel-heading .lp-places-search {
    padding-right:0;
}
.lp-places .lp-normal-size .panel-heading {
    margin-right:0;
}
.lp-places .lp-small-size .panel-heading .lp-places-search {
    padding-bottom:8px;
}
.lp-places .lp-normal-size .lp-places-dropdown {
    padding-right:0;
}
.lp-places .opening-hours {
    color: #08C;
}

.lp-places .row-padding {
    padding: 5px 1px 5px 1px;
}

.lp-places .place-info {
  width: auto;
  min-height: 55px;
  position: relative;
  margin-top: 5px;
}

.lp-places .place-details > .actions > .btn-group-justified {
    padding: 10px;
}

.lp-places .infoBox > .footer {
    padding-bottom: 20px;
}

.lp-places .dropdown-menu span {
    margin-left: 10px;
}

.lp-places .dropdown-menu input[type="checkbox"] {
    margin-top: 0px;   
}

.lp-places .lp-widget-body > div {
    margin-top: 15px;
}

.lp-places .row.section {
    margin-top: 10px;
}

.lp-places .show-more {
    padding-top: 18px;
}

