/*!
 *	----------------------------------------------------------------
 *	Copyright Backbase b.v. 2003/2012
 *	All rights reserved.
 *	----------------------------------------------------------------
 *	Version 5.5
 *	Author : Backbase R&D - Amsterdam - New York
 *	----------------------------------------------------------------
 */



.bc-root {
    color: #000;
    font-size: 11px;
    font-family: Arial;
}



.bc-cmdr-logo {
	position:absolute;
	top:0px;
	left:6px;
	width:42px;
	height:42px;
    background-image: url("../media/bb_ribbon.png");
	background-repeat: no-repeat;
	background-position:0 0;
}

.bc-clear {
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.bc-layer {
    position: absolute;
    overflow: hidden;
    zoom: 1;
}


.bc-splitter {
	border-top: 1px solid #fff;
	background: #ddd;
	border-bottom: 1px solid #666;
}


.bc-nav-ul {
    display: inline-block;
    zoom: 1;
    position: relative;
}
.bc-nav-li {
	float: left;
    list-style: none outside none;
}


.bc-grad1 {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.bc-microsoft.bc-gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.bc-grad2 {
  background-color: #ededed;
  *background-color: #e5e5e5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.bc-1) rgba(0, 0, 0, 0.bc-1) rgba(0, 0, 0, 0.bc-25);
  filter: progid:dximagetransform.bc-microsoft.bc-gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  filter: progid:dximagetransform.bc-microsoft.bc-gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.bc-1), 0 1px 0 rgba(255, 255, 255, 0.bc-075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.bc-1), 0 1px 0 rgba(255, 255, 255, 0.bc-075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.bc-1), 0 1px 0 rgba(255, 255, 255, 0.bc-075);
}






.bc-box {
	position:absolute;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.bc-rdock {
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
	position:fixed;
	overflow: hidden;
	z-index:99999;
	background-color: #ffffff;
	-webkit-box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
}

.bc-rdock.bb-debugger-fade {
	position:absolute;
	top: -5000px;
  right: 0px ;
  opacity: 0;
  width:0px;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.bc-rdock.bb-debugger-fade.bb-debugger-fade-in {
	position:absolute;
  top: 0px;
  right: 0px ;
	opacity: 1;
	width:100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.1s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

html {
  padding:0;
  margin:0;
}
body {
  /*
  padding:0;
  margin:0;
  */
}

body.bb-debugger-fade {
	width:100%;
    -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
      -ms-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}
body.bb-debugger-fade.bb-debugger-fade-in {
	width:1024px;
    -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
      -ms-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

.pageContainer {
	position: relative !important;
	overflow-x: auto !important;
	overflow-y: auto !important;
}

.bc-inline-block {
	display:inline-block;
}

.bc-inspector {
	border-top:1px solid #EEEEEE;
	font-size:13px;
	line-height: 16px;
}

.bc-echo-namespaces {
	font-size:13px;
	line-height: 16px;
	position:relative;
	overflow:auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


.bc-tree {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-size:13px;
	line-height: 16px;
}
.bc-treerow {
	position:relative;
	white-space: nowrap;
	vertical-align:top;
	cursor: pointer;
}
.bc-treerow-selected {
	background-color: #3333EE;
	color: #FFFFFF;
}
.bc-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	*margin-right: .3em;
	vertical-align: bottom;
	opacity:0.5;
    background-image: url("../media/repo_icon_sprite.png");
	background-position: 5px -100px;
	background-repeat: no-repeat;
}

.bc-tree-expanded {
	background-position: 0 -131px;
}
.bc-tree-collapsed {
	background-position: 5px -100px;
}

.bc-icon-folder-close {
  background-position: -384px -120px;
}

.bc-icon-folder-open {
  background-position: -408px -120px;
}

.bc-console {
	width:100%;
	height:100%;
}
.bc-console--inner {
	width:100%;
	height:100%;
	padding-top:22px;
}
.bc-console--ta {
	width:100%;
	height:100%;
	border:0;
	font-family: monospace;
	font-size:10px;
}

.bc-cmdr-inspectButton {
  background-image: url("../media/inspect.png");
  background-repeat: no-repeat;
  float: left;
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 15px;
  width: 16px;
}
.bc-cmdr-inspected {
  border: 1px solid red;
  /*outline: 1px solid red!important;
  background-color: rgba(200,0,0,.1);*/
}
.bc-cmdr-inspector {
  position: absolute;
  outline: 1px solid red;
  background-color: rgba(200,0,0,.1);
  z-index: 9999;
}

.bc-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.bc-2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.bc-2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.bc-2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.bc-2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.bc-open {
  *z-index: 1000;
}

.bc-open > .bc-dropdown-menu {
  display: block;
}

.bc-dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.bc-nav {
  margin-left: 0;
  list-style: none;
  padding: 0px;
}

.bc-nav > li > a {
  display: block;
}

.bc-nav > li > a:hover {
  text-decoration: none;
  background-color: #ccc;
}

.bc-navbar .bc-nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.bc-navbar .bc-nav.bc-pull-right {
  float: right;
  margin-right: 0;
}

.bc-navbar .bc-nav > li {
  float: left;
}

.bc-navbar .bc-nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.bc-navbar .bc-nav > li > .bc-dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.bc-2);
  content: '';
}

.bc-navbar .bc-nav > li > .bc-dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.bc-nav-pills > li > a {
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 2px;
  line-height: 14px;

  background-color: #999;
  color:#000;
  text-decoration:none;


  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 2px;
  /* margin-bottom: 2px; */
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;

  border: 1px solid #999;
  border-width: 1px 1px 0 1px;
}


/* ----- TODO: reorder this in this document ------ */
.bc-nav {
  margin-bottom: -4px;
}
.bc-tree, .bc-echo-namespaces {
  padding: 4px 0px !important;
}
.bc-tree > .bc-treeitem, .bc-echo-namespaces > .bc-treeitem {
  margin-left: 4px !important;
}
.bc-treeitem {
  font: normal normal normal 12px/16px Consolas, Lucida Console, monospace;
  color: #881280;
  margin-left: 12px;
  /* display: inline-block; */
  display: block;
  cursor: default;
}
.bc-treeitem a {
  cursor: default;
}
.bc-echo-namespaces .bc-treeitem {
  display: block;
}
.bc-treeitem .bc-node-attribute {
  color:  #994500;
}
.bc-treeitem .bc-node-attribute-value {
  color: #1A1AA6;;
}
.bc-treerow {

}
.bc-inline-block {
  width: 100%;
}
.bc-treerow-selected {
  background-color: transparent; /*rgba(0,0,0,.1); /* #3333EE; */
  color: inherit;
}
.bc-treeitem--label {
  margin-left: -300px;
  padding-left: 300px;
}
.bc-treerow-selected .bc-treeitem--label {
  background-color: rgba(0,0,0,.1); /* #3333EE; */
  color: inherit;
}
.bc-treeitem--label:hover {
  background-color: rgba(0,0,0,.05); /* #3333EE; */
  color: inherit;
}
.bc-treerow-selected .bc-treeitem--label:hover {
  background-color: rgba(0,0,0,.15); /* #3333EE; */
  color: inherit;
}
.bc-splitter {
  cursor: ns-resize;;
}
.bc-icon {
  width: 12px;
}
.bc-tree-nochildren {
  background: none;
}
.bc-tree-expanded {
}
.bc-cmdr-inspectButton:active, .bc-cmdr-inspectButton:hover {
  outline: 1px solid #c00;
  outline-offset: 2px;
}
/* ------------------------------------------------ */
.bc-floating-header {
  padding: 10px 10px 0;
  border-bottom: 1px solid #ddd;
  background-color: #efefef;
}
.bc-element-breadcrump {
  margin: -10px -10px 5px;
  background-color: #ddd;
  font: normal normal normal 12px/14px Consolas, Lucida Console, monospace;
  cursor: default;
  display: inline-block;
}
.bc-element-breadcrump span {
  padding: 4px 6px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: #ddd;
  word-wrap: break-word;

  display: block;
  float: left;
}
.bc-element-breadcrump .bc-breadcrump-current, .bc-element-breadcrump .bc-breadcrump-current:hover {
  background-color: #ccc;
}
.bc-element-breadcrump span:hover {
  background-color: #ccc;
}
.bc-print-area {
  height:100%;
  position:relative;
  padding: 10px;
}
.bc-print-area td {
  vertical-align: top;
  padding-right: 6px;
}
.bc-data-logger {
  width: 100%;
}
.bc-data-logger td {
  font: normal normal normal 12px/14px Consolas, Lucida Console, monospace;
  cursor: default;
}
.bc-data-logger td i {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #666;
}
.bc-data-v{
  background-color: #eee;
}
.bc-data-m {

}
.bc-data-name {
  color: #881280;
}
.bc-print-area-headline {
  display: block;
  padding: 2px 0px;
  margin: 2px 0px 4px;
  border-bottom: 1px solid #ddd;
}
.bc-nav-ul .active a {
  background-color: #fff;
  border-color: #ccc;

}
