.bp-tabbed-container .hide-medium-widget {
    display: none;
}

.bp-tabbed-container .nav-tabs .btn {
    vertical-align: bottom;
    margin-top: 3px;
    margin-right: 3px;
}

.bp-tabbed-container .nav-tabs > li > a {
    display: inline-block;
}









/** pcf */
.designMode .pcf-tabbed-container{
    margin-bottom: 10px;
}
.pcf-tabbed-container > .nav-tabs{
    border: none;
}
.pcf-tabbed-container > .nav-tabs > li{
    padding: 0 10px;
    margin-bottom: 1px;
}
.pcf-tabbed-container > .nav-tabs > .active{
    z-index: 2;
}
.pcf-tabbed-container > .nav-tabs > li.pcf-first-tab{
    padding: 0 10px 0 0;
}
.pcf-tabbed-container > .nav-tabs > li.pcf-last-tab{
    padding: 0 0 0 10px;
}
.pcf-tabbed-container > .nav-tabs > li > a:focus,
.pcf-tabbed-container > .nav-tabs > li > a:hover,
.pcf-tabbed-container > .nav-tabs > li > a {
    display: block;
    background: #ee2e24;
    border: none;
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;
}

.pcf-tabbed-container .active .glyphicon-circle-arrow-down:before{
    /* should do it in less : .glyphicon-circle-arrow-up:before */
    content: "\e133";
}
.pcf-tabbed-container > .lp-deck-mainarea {
    z-index: 2;
    display: none;
}
.pcf-tabbed-container > .lp-deck-mainarea > .tab-pane.active{
    display: block;
}
.pcf-tabbed-container > .lp-deck-mainarea > .tab-pane{
    border-top: 5px solid #ee2e24;
    background: none repeat scroll 0 0 #fff;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    padding-top: 40px;
}
.pcf-close-tab-btn {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 40px;
    color: #ee2e24
}

.pcf-close-tab-btn .glyphicon-remove{
    cursor: pointer;
}



/* back drop */
.pcf-backdrop{
    background: none repeat scroll 0 0 #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;
}

.pcf-tabbed-active .pcf-backdrop{ display: block; }
.pcf-tabbed-active > .bp-widget{ z-index: -1; }
.pcf-tabbed-active > .lp-chrome-blank{ z-index: 0; }
.pcf-tabbed-active .lp-launcher-content .lp-launcher-area { z-index: 5; }
.pcf-tabbed-active .pcf-tabbed-container > .lp-deck-mainarea { display: block; }
.pcf-tabbed-active .pcf-delete-icon{ z-index: 0; }

/* mobile */
.mobile .pcf-tabbed-active .pcf-backdrop{
    display: none;
}

.mobile .pcf-tabbed-container > .nav-tabs > li.pcf-first-tab{
    padding: 0;
    margin-bottom: 0;
}
.mobile .pcf-tabbed-container > .lp-deck-mainarea{
    display: block;
}
.mobile .pcf-tabbed-container > .lp-deck-mainarea > .tab-pane{
    display: block;
    padding-top: 0;
}
.mobile .pcf-tabbed-container .glyphicon-circle-arrow-down:before{
    content: "\e133";
}
.mobile .pcf-tabbed-active .pcf-backdrop{ display: none; }
.mobile .pcf-tabbed-active > .bp-widget{ z-index: 4; }
.mobile .pcf-tabbed-active > .lp-chrome-blank{ z-index: 4; }
.mobile .pcf-tabbed-active .lp-launcher-content .lp-launcher-area { z-index: 0; }
