.bp-tabbed-container .hide-medium-widget {
    display: none;
}

.bp-tabbed-container .nav-tabs .btn {
    vertical-align: bottom;
    margin-top: 3px;
    margin-right: 3px;
}

.bp-tabbed-container .nav-tabs > li > a {
    display: inline-block;
}
