html, body {
    background-color:   white;
}

.lp-widget-rss {
    height:     100%;
    overflow:   visible;
}

.lp-widget-rss .news-content {
    width:  100%;
}

.lp-widget-rss .news-content .header {
    height: auto;
    margin: 10mm 10mm 0 10mm;
}
.lp-widget-rss .news-content .header .bar {
    height: auto;
}
.lp-widget-rss .news-content .header .title {
    height:         auto;
    padding:        5mm 0;
    line-height:    1.2em;
    font-size:      16pt;
}

.lp-widget-rss .news-content .article {
    padding:        5mm 10mm 10mm 10mm;
    font-size:      10pt;
    line-height:    1.4em;
    text-justify:   distribute;
    color:          black;
}
.lp-widget-rss .news-content .article img {
    width:      auto;
    height:     auto;
}


@media print {
    .lp-widget-rss .news-content .header {
        margin:     0;
    }
    .lp-widget-rss .news-content .header .info .date {
        display:    inline;
    }
    .lp-widget-rss .news-content .header .info .link {
        display:    none;
    }
    .lp-widget-rss .news-content .header .buttons {
        display:    none;
    }

    .lp-widget-rss .news-content .article {
        padding:    5mm 0 0 0;
    }
}
