.lp-rss-feed {
    min-width: 540px;
    min-height: 460px;
}
.lp-rss-feed .news-list,
.lp-rss-feed .news-content {
    min-height: 460px;
}

.lp-rss-feed .bp-widget-body {
	position: relative;
	width: 100%;
	padding: 0;
	font-size: 12px;
	overflow: hidden;
	background: #fff;
}

.loading {
	background: url(../../media/loading_spinner.gif) no-repeat center center;
}

.lp-rss-feed .column {
	overflow: auto;
}

.lp-rss-feed .scrollable {
	height: 100%;
	-ms-overflow-y: scroll;
	overflow-y: scroll;
}


.lp-rss-feed .news {
	height: 100%;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

.news.loading:after {
	content: "";
	background: #fff url(../../media/loading_spinner.gif) no-repeat center center;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	-webkit-transition: all .5s ease-in-out 0s;
}

.lp-rss-feed .news-list {
    position: relative;
	float: left;
	width: 29%;
	background: #fefefe;
}
.lp-rss-feed .list-content {
    float: right;
    width: 100%;
    margin-right: 3px;
}
.lp-rss-feed .news-list .list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/**
 * News item styles
 *
 */
.lp-rss-feed .news-list .list .item {
	position: relative;
	height: 65px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	border-bottom: 1px solid #e7e7e7;
}

.lp-rss-feed .news-list .list .item:last-child {
	border-bottom: 0px solid transparent;
}

.lp-rss-feed .news-list .list .item header {
	margin: 7px 5px 0 25px;
	color: #222;
}
.lp-rss-feed .news-list .list .item.reading {
	background-color: #f3f3f3;
	box-shadow:0px 0px 5px -3px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow:0px 0px 5px -3px rgba(0,0,0,0.5) inset;
	-moz-box-shadow:0px 0px 5px -3px rgba(0,0,0,0.5) inset;
}
.lp-rss-feed .news-list .list .item .title {
	display: inline-block;
	width: 80%;
	height: 16px;
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	overflow: hidden;
	color: #222;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.lp-rss-feed .news-list .list .item.reading .title,
.lp-rss-feed .news-list .list .item.reading.read .title {
	color: #91191c;
}
.lp-rss-feed .news-list .list .item.reading article,
.lp-rss-feed .news-list .list .item.reading.read article {
	color: #222;
}
.lp-rss-feed .news-list .list .item.read .title,
.lp-rss-feed .news-list .list .item.read article {
	color: #888;
}


.lp-rss-feed .news-list .list .item .lp-icon-bullet {
	position: absolute;
	top: 9px;
	left: 8px;
	display: inline-block;
	width: 9px;
	height: 9px;
	background-image: url(icons_bullets.png);
	background-repeat: no-repeat;
	background-position: 0 -9px;
}
.ie .lp-rss-feed .news-list .list .item .lp-icon-bullet {
	background-image:  url(icons_bullets.png);
}
.lp-rss-feed .news-list .list .item.read .lp-icon-bullet {
	background-position: 0 0;
}


.lp-rss-feed .news-list .list .item header .date {
	display: inline-block;
	width: 20%;
	height: 16px;
	line-height: 16px;
	font-size: 90%;
	overflow: hidden;
	text-align: right;
	color: #888;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lp-rss-feed .news-list .list .item .preview {
    height: 38px;
	margin: 0px 5px 0 25px;
	overflow: hidden;
	color:#5b5b5b;
}


/**
 * News content styles
 *
 */
.lp-rss-feed .news-content {
    position: absolute;
	right: 0;
	width: 70%;

	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.lp-rss-feed .news-content .header {
	min-height: 70px;
	margin: 10px 10px 0 10px;
	border-bottom: 1px solid #e7e7e7;
}
.lp-rss-feed .news-content .header a {
	outline: none;
}

.lp-rss-feed .news-content .header .link{color:#0174a7;}

.lp-rss-feed .news-content .bar {
	height: 35px;
}


.lp-rss-feed .news-content .header .info {
	float: left;
	display: inline-block;
	color: #8b8b8b;
	line-height:1.5em;
}

.lp-rss-feed .news-content .header .info .creator:before {
	content: " • ";
}


.lp-rss-feed .news-content .header .buttons {
	float: right;
	display: inline-block;
	width: 150px;
	text-align: right;
}
.lp-rss-feed .news-content .header .buttons .lp-button.lp-icon-print {
	margin-left: 10px;
}


.lp-rss-feed .news-content .header .title {
	width: 100%;
	margin: 0;
	padding: 1ex 0;
	font-size: 20px;
	color: #91191c;
	margin:0 0 10px;
}
.lp-rss-feed .news-content .header .title .link {
	text-decoration: none;
	color: #91191c;
}


.lp-rss-feed .news-content .article {
	padding: 20px 0px 10px 10px;
}

.lp-rss-feed .news-content .article p a {
    color: #0174a7;
}

.lp-rss-feed .news-content .article p {
    line-height: 22px;
    font-size: 13px;
}

.lp-rss-feed .news-content .article p a.read-more {
	display: block;
	width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #0174a7;
}

.lp-rss-feed .news-content .article img,
.lp-rss-feed .news-content .article img embed,
.lp-rss-feed .news-content .article img object {
	max-width: 100%;
	height: auto;
}


.lp-rss-feed .splitter-container .ui-resizable-handle {
    position: absolute;
    right: 0;
    font-size: 0.1px;
    display: block;
	background-color: #E7E7E7;
}
.lp-rss-feed .splitter-container .ui-resizable-e,
.lp-rss-feed .splitter-container .ui-resizable-w {
    cursor: e-resize;
    width: 3px;
    right: 0;
    top: 0;
    height: 100%;
}
.lp-rss-feed .ui-resizable-w {
    cursor: w-resize;
}
