.lp-expense-planning .btn-group-justified > .btn:last-child {
    border-right:1px solid #bbbbbb;
}
.lp-widget-body .lp-payments-list .lp-payment-day td {
    text-align: center;
    background: #DDDDDD;
    padding: 3px;
}