<!DOCTYPE html>
<html ng-app="lpMigrate">
    <head>
        <title>Launchpad Portal Migration Tools</title>
        <link href="../support/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <style>
            .waiting-icon {
                visibility: hidden;
            }
            .waiting .waiting-icon {
                visibility: visible;
            }
        </style>

        <script src="../support/jquery.js"></script>
        <script src="../support/mustache.js"></script>
        <script src="../support/rest-client.js"></script>
        <script src="../support/angular.js"></script>
        <script src="migrate.js"></script>
    </head>
    <body>

        <div class="container">
            <h1>Launchpad Portal Migration Tools</h1>
            <hr>
            <div data-ng-controller="CatalogFindReplaceController">
                <h2>Catalog property find and replace</h2>

                <p>Searches a portalserver catalog for items with property values that match the specified regex.</p>
                <p>Ensure you're logged in with the appropriate permissions before using this tool.</p>

                <div ng-if="pfr.report" class="alert alert-success">
                    {{pfr.report}}
                </div>
                <div ng-if="pfr.error" class="alert alert-error">
                    {{pfr.error}}
                </div>

                <div ng-if="reports.length > 0">
                    <div class="alert alert-success"></div>
                </div>

                <form no-validate="novalidate"  class="clearfix form-horizontal">
                    <h3>Catalog details</h3>
                    <div class="control-group">
                        <label class="control-label">Context path</label>
                        <div class="controls">
                            <input type="text" class="input-large" ng-model="pfr.contextPath"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Portal<br></label>
                        <div class="controls">
                            <input type="text" class="input-large" ng-model="pfr.contextItemName"><br>
                            <small>(optional, leave blank for global catalog)</small>
                        </div>
                    </div>

                    <h3>Properties to update:</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Property</th>
                            <th>Find Pattern (regex)</th>
                            <th>Replace with</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="prop in pfr.properties">
                            <td><input type="text" placeholder="Property name" ng-model="prop.name"></td>
                            <td><input type="text" placeholder="Find pattern" ng-model="prop.find"></td>
                            <td><input type="text" placeholder="Replace with" ng-model="prop.replace"></td>
                            <td><button class="btn" ng-click="pfr.removeProperty($index)"><i class="icon-remove"></i></button></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-small pull-right" ng-click="pfr.addEmptyProperty()"><i class="icon-plus"></i>Add property</button>
                </form>
                <div class="clearfix">
                    <button class="btn" ng-click="pfr.dryRun()">Dry run</button>
                    <button class="btn btn-success" ng-click="pfr.run()">Update properties</button>
                    <img src="waiting.gif" class="waiting-icon">
                </div>
            </div>
            <hr>
            <div data-ng-controller="PortalFindReplaceController">
                <h2>Portal property find and replace</h2>

                <p>Searches a portal for items with property values that match the specified regex.</p>
                <p>Ensure you're logged in with the appropriate permissions before using this tool.</p>

                <div ng-if="pfr.report" class="alert alert-success">
                    {{pfr.report}}
                </div>
                <div ng-if="pfr.error" class="alert alert-error">
                    {{pfr.error}}
                </div>

                <div ng-if="reports.length > 0">
                    <div class="alert alert-success"></div>
                </div>

                <form no-validate="novalidate" class="clearfix form-horizontal">
                    <h3>Portal details</h3>
                    <div class="control-group">
                        <label class="control-label">Context path</label>
                        <div class="controls">
                            <input type="text" class="input-large" ng-model="pfr.contextPath"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Portal<br></label>
                        <div class="controls">
                            <input type="text" class="input-large" ng-model="pfr.contextItemName"><br>
                        </div>
                    </div>

                    <h3>Property to update:</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Property</th>
                            <th>Find Pattern (regex)</th>
                            <th>Replace with</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" placeholder="Property name" ng-model="pfr.property.name"></td>
                            <td><input type="text" placeholder="Find pattern" ng-model="pfr.property.find"></td>
                            <td><input type="text" placeholder="Replace with" ng-model="pfr.property.replace"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <div class="clearfix">
                    <button class="btn" ng-click="pfr.dryRun()">Dry run</button>
                    <button class="btn btn-success" ng-click="pfr.run()">Update properties</button>
                    <img src="waiting.gif" class="waiting-icon">
                </div>
            </div>
        </div>
    </body>
</html>