    <style>
.wrapper {
  font-size: 20%;
  height: 7em;
  width: 14em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -7em;
  top: 50%;
  margin-top: -7em;
}

.speedometer {
  z-index: 2;
  -webkit-transform: rotate(45deg);
  width: 14em;
  height: 14em;
  position: relative;
  display: inline-block;
}
.speedometer .slot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
}
.speedometer .bar {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8.8em;
  height: 8.8em;
  margin-left: -6.55em;
  margin-top: -6.55em;
}
.speedometer .bar.left {
  opacity: 1;
  left: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.speedometer .bar.right {
  border: 2.2em solid transparent;
}

.green .left {
  z-index: 3;
  transform: rotate(90deg);
  border: 2.2em solid lightgreen;
  border-left-color: transparent;
  border-top-color: transparent;
  animation-name: redeemable;
  animation-delay: .5s;
}

.gray .left {
  z-index: 2;
  transform: rotate(125deg);
  border: 2.2em solid #e3e3e3;
  border-left-color: transparent;
  border-top-color: transparent;
  animation-name: earned;
  animation-delay: .25s;
}

.background .left {
  z-index: 1;
  transform: rotate(180deg);
  border: 2.2em solid #f2f2f2;
  border-left-color: transparent;
  border-top-color: transparent;
  animation-name: background;
}

@keyframes redeemable {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}
@keyframes earned {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(125deg);
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

</style>

    <script src="static/pcfinancial/widgets/pcf-reward-points/js/prefixfree.min.js"></script>

  <div class="wrapper background">
  <div class="speedometer">
    <div class="bar right"></div>
    <div class="slot">
      <div class="bar left"></div>
    </div>
  </div>
</div>
<div class="wrapper gray">
  <div class="speedometer">
    <div class="bar right"></div>
    <div class="slot">
      <div class="bar left"></div>
    </div>
  </div>
</div>
<div class="wrapper green">
  <div class="speedometer">
    <div class="bar right"></div>
    <div class="slot">
      <div class="bar left"></div>
    </div>
  </div>
</div>