<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} widget widget-default pcf-chrome" >
    <div class="bp-widget-head">
        {{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden cursor-pointer"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
    </div>
    <div class="bp-widget-pref"></div>
    <div class="bp-widget-body" id="{{widgetInstanceId}}-body">{{{widgetContent}}}</div>
</div>
