<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>P2P Enrollment</title>

    <g:preferences>
        <!-- Data sources -->
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts?partyId=$(partyId)"/>
        <g:preference name="p2pEnrollmentEndpoint" label="Enrollment Status Endpoint for P2P Service" type="text" default="$(contextPath)/services/rest/p2p-enrollment" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/widgets/p2p-enrollment/data/messages.json" />
        <g:preference name="emailLimit" label="Email Limit" type="text" default="7" />
        <g:preference name="saveUrl" label="Places Data Source" type="text" default="/services/rest/party-data-management/locations" />
        <g:preference name="locale" label="Locale" type="text" default="en-EN" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/p2p-enrollment.css" />
    <script src="../../conf/require-conf.js"></script>
</head>

<body g:onload="requireWidget(__WIDGET__, 'js/p2p-enrollment');">

<div ng-controller="P2PEnrollmentController" class="lp-p2p-enrollment ng-cloak">


    <!-- Alerts -->
    <div class="lp-alerts">
        <div class="alert alert-error" ng-show="accountsModel.error || p2pService.error">
            <p ng-show="accountsModel.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-message="'accountsServiceError'" lp-bundle="messages"></span></p>
            <p ng-show="p2pService.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-message="'p2pServiceError'" lp-bundle="messages"></span></p>
        </div>
        <div class="alert alert-warning" ng-show="errorOccurred">
            <p ng-show="!options.email.valid"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-message="'validEmailRequired'" lp-bundle="messages"></span></p>
            <p ng-show="!terms.doesAgreeWithTerms"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-message="'agreeWithTerms'" lp-bundle="messages"></span></p>
            <p ng-show="verification.error"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-message="'verificationError'" lp-bundle="messages"></span></p>
            <p ng-show="enrollmentError"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-message="'enrollmentError'" lp-bundle="messages"></span></p>
        </div>
    </div>



    <!--  Full Content -->
    <div class="lp-widget-content">

        <!-- widget head -->
        <div ng-if="userEnrolled">
            <p class="panel-message text-center">You are already enrolled for P2P Services.</p>
        </div>

        <div ng-if="!userEnrolled">
            <div wizard="wizard" next-step="wizardNextStep" title="Sign up" get-active-step="getActiveWizardStep">
                <div wizard-step="wizard-step" heading="Set up email">
                    <div class="enrollment-step-one">
                        <form class="form-horizontal enrollment-form" role="form">
                            <div lp-field="lp-field"
                                 label="Email"
                                 class="email enrollment-field"
                                 error-messages="errorMessages">
                                <input class="form-control"
                                       aria-label="email address"
                                       ng-model="options.email.value"
                                       ng-change="validateEmail(options.email.value)"
                                       itemprop="email_field" />
                            </div>
                            <div lp-field="lp-field"
                                 label="Deposit account"
                                 class="deposit-account enrollment-field">
                                <div dropdown-select="dropdown-select"
                                     ng-model="options.depositAccount.value"
                                     ng-options="val.id as val.name for val in options.depositAccount.options"
                                     ng-change="check(options.depositAccount.value)"
                                     loading="isLoading"
                                     itemprop="deposit_account_field">
                                </div>
                            </div>
                            <div class="col-xs-offset-3 terms clearfix enrollment-field">
                                <div class="pull-left col-xs-1">
                                    <input type="checkbox" aria-label="accept terms and conditions" ng-model="terms.doesAgreeWithTerms" name="terms" />
                                </div>
                                <div class="pull-left col-xs-9">
                                    <p>By registering this email address, I agree that I am the email account holder, and I consent to receive emails about Email Transfers at this email.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div wizard-step="wizard-step" heading="Verify your address">
                    <div class="enrollment-step-two">
                        <div class="verification-instructions">
                            <p>Verify your email address</p>

                            <p class="">Please leave this page as it is. We've sent a message containing a verification code to {{options.email.value}}. Please check your email to see the code<br/><strong>The code will expire in 20 minutes</strong></p>
                        </div>
                        <div class="ver-container clearfix">
                            <div class="col-xs-5 ver-label">
                                Verification Code
                            </div>
                            <div class="col-xs-5">
                                <form role="form">
                                    <input aira-label="verification code" tabindex="0" class="form-control pull-left verification-input" step-focus="getActiveWizardStep()" maxlength="4" ng-model="verification.code" name="verification-code" />
                                </form>
                            </div>
                            <div class="col-xs-2">
                                <p class="digit-count ver-label">(4 digits)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div wizard-step="wizard-step" heading="Start to send or receive money">
                    <div class="enrollment-step-three clearfix">
                        <div class="col-xs-1 enrollment-successful">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        <div class="col-xs-9">
                            <strong>You are successfully enrolled!</strong>
                            <p>Friends and family can now use your email address to send you money. Click <a ng-click="openP2PTransfers()" href="">here</a> or Continue to start sending and receiving money.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget-footer">
            <div class="pull-right">
                <button name="cancel"
                        ng-show="getActiveWizardStep()!==1 || userEnrolled"
                        aria-label="Cancel enrollment"
                        class="btn btn-link"
                        data-action="lp-tab-hide"
                        type="button">
                    Cancel
                </button>
                <button type="button" aria-label="Continue" ng-show="!userEnrolled" class="btn btn-primary" name="submitForm" ng-click="toNextStep($event)">Continue</button>
            </div>
        </div>

    </div>

</div>

</body>
</html>