.bb-labs-dam {
	
}

.bb-labs-dam .nav-tabs > li > a {
	line-height:0.429;
	font-size:12px;
}

.bb-labs-dam .tab-content .tab-pane ul{
	margin: 10px 0 10px 10px;
}

.bb-labs-search-chrome .aa-widget-head{
	padding: 3px 0 3px;
}

.bb-labs-search-chrome .searchdiv{
	text-align:right;
}

.bb-labs-search-chrome .search-query.animated {
    transition: width 0.3s ease 0s;
    width: 120px;
}
.bb-labs-search-chrome .search-query.animated:focus, .bb-labs-dam .search-query.animated .focused {
    width: 190px;
    border: 1px solid #68A6CE;
}

.bb-labs-search-chrome .search-query {
	color: #858585;
    display: inline-block;
    font-size: 10px;
	-moz-box-sizing: border-box;
    border: 1px solid #111111;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    height: 15px;
    line-height: 15px;
    padding: 2px 10px;
}

.bb-labs-search-chrome i {
    position: relative;
    right: 23px;
    top:3px;
}

.bb-labs-search-chrome .resource{
	padding-left:25px;
}