body{
    background: #edeeef;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        background: url('../media/pcf-background.png') center 70px no-repeat #edeeef;
    }
}


.lp-page-main{
    padding: 25px 0 0;
}

.lp-launcher-tab-text {
    color: #FF0000;
    margin-left: 16px;
}

/* widget chrome */
.widget-default > .widget-heading{
    background-color: #f4f4f4;
    border: none;
    color: #ee2e24;
}

.color-red{
    color: #ee2e24;
    background-color: #f9f9f9;
    margin-left: 0;
    margin-right: 0;
}

/* mobile */
.mobile .lp-page-children .lp-page-main {
    padding-top: 50px;
}



/* cover */
.pcf-loading-div{
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.pcf-loading-div-img{
    width: 172px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -86px;
    margin-top: -100px;
}
.pcf-loading-div-gif{
    width: 50px;
    height: 50px;
    background: url('../media/loading_50x50.GIF') 0 0 #fff no-repeat;
    margin: 0 auto;
}
.pcf-loading-div-logo{
    width: 172px;
    height: 40px;
    background: url('../media/pcf-logo.jpg') 0 0 #fff no-repeat;
    margin: 10px auto 0;
}

.PCF-modal-on .lp-launcher-content .lp-launcher-area .bp-manageableArea,
.PCF-modal-on .lp-launcher-overlay{
    display: none!important;
}

.widget{
    border-radius: 0;
}

.tablet .widget{
    margin-bottom:0px;
}

/* advancedNav - move this to it own css */
.mobile div[data-pid*="AdvancedNav"] .bd-nav-children {
    background: transparent;
    display: block;
    float: left;
    margin: 0;
    padding: 0 2px;
    width: 33.3333%;
    text-align: center;
    height: auto;
    border: none;
}
.mobile div[data-pid*="AdvancedNav"] .bd-navPage-link{
    background: #FF0027;
    border: medium none;
    color: #fff;
    display: block;
    float: none;
    font-size: 13px;
    font-weight: normal;
    height: 100%;
    min-width: 0;
    outline: medium none;
    padding: 5px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
.mobile div[data-pid*="AdvancedNav"] .bd-navPage-link:before{
    content:'';
    width: 43px;
    height: 43px;
    background: url('../media/mobile_tab_2.png') 0 0 transparent no-repeat;
    clear: both;
    display: block;
    margin: 0 auto;
}
.mobile div[data-pid*="AdvancedNav"] .bd-nav-children:first-child .bd-navPage-link:before{
    background-image: url('../media/mobile_tab_1.png');
}
.mobile div[data-pid*="AdvancedNav"] .bd-nav-children:last-child .bd-navPage-link:before{
    background-image: url('../media/mobile_tab_3.png');
}

.bd-designMode-null .pm-widgetCatalogIcon{
    background:white;
    border:1px solid #b5b5b5;
    border-radius:10px;
}

.bd-designMode-null .pm-widgetCatalogIcon:hover{
    background:rgba(255,0,0,0.7);
}

.bd-designMode-null .pm-widgetCatalogIcon .pm-icon2-label{
    color:#818285;
}

.bd-designMode-null .pm-widgetCatalogIcon:hover .pm-icon2-label{
    color:white;
}

.bd-designMode-null .pcf-catalog .pageDesignerCatalog{
    border-radius: 0px 0px 0px 10px;
}

.pcf-tabbed-container > .lp-deck-mainarea{
    z-index: 9!important;
}

.lp-chrome-launcher-tab{
    margin-top:2px!important;
}

.lp-launcher-tab{
    background:white!important;
}

.lp-launcher-tab:hover{
    background:red!important;
}

.lp-launcher-tab:hover .lp-launcher-tab-text{
    color:white;
}


.pcf-delete-icon:hover,
.pcf-delete-icon:focus{
    color: #ccc;
}
.pcf-delete-icon{
    background: #ee2e24;
    border-radius: 50%;
    color: #f4f4f4;
    font-size: 12px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    left: -11px;
    top: -9px;
    height: 22px;
    width: 22px;
    z-index: 1;
}

.pcf-edit-on .pcf-delete-icon{
    display: block !important;
    visibility: visible !important;
}
.pcf-chrome{
    -webkit-transition: margin 0.2s ease-out ;
    -moz-transition: margin 0.2s ease-out ;
    -o-transition: margin 0.2s ease-out ;
    transition: margin 0.2s ease-out ;
}
.pcf-edit-on.pcf-chrome{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 18px 5px;
}
.mobile .pcf-edit-on.pcf-chrome{
    margin: 18px 12px;
}
