.forms-basic-container .bp-container .pm-design-showArea .bd-dm-hovered .panel-default{
	border: 1px solid silver;
}

.forms-basic-container .panel-default {
	display:none;
}

.forms-basic-container .panel-default.active{
	display:block;
}

.forms-basic-container .forms-basic-breadcrumb{
	width:100%;
	text-align:center;
}