.wrapper {
  font-size: 20%;
  height: 14em;
  width: 14em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -7em;
  top: 50%;
  margin-top: -7em;
}

.speedometer {
  z-index: 2;
  -webkit-transform: rotate(45deg);
  width: 14em;
  height: 14em;
  position: relative;
  display: inline-block;
}
.speedometer .slot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
}
.speedometer .bar {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8.8em;
  height: 8.8em;
  margin-left: -6.55em;
  margin-top: -6.55em;
}
.speedometer .bar.left {
  left: 0;
  /* animation-iteration-count: 1; */
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.speedometer .bar.right {
  border: 2.2em solid transparent;
}

.green {
  z-index: 3;
}
.green .left {
  transform: rotate(0deg);
  border: 2.2em solid lightgreen;
  border-left-color: transparent;
  border-top-color: transparent;
  animation-name: redeemable;
  animation-delay: 2s;
}

.gray {
  z-index: 2;
}
.gray .left {
  transform-origin: 'opacity';
  opacity: 0;
  transform: rotate(125deg);
  border: 2.2em solid #e3e3e3;
  border-left-color: transparent;
  border-top-color: transparent;
  animation-name: earned;
  animation-delay: 1s;
}

.background {
  z-index: 1;
}
.background .left {
  transform: rotate(180deg);
  border: 2.2em solid #f2f2f2;
  border-left-color: transparent;
  border-top-color: transparent;
  animation-name: background;
}

@keyframes redeemable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}
@keyframes earned {
  0% {
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(125deg);
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
