<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} widget widget-default pcf-chrome" > 
	<div class="bp-widget-head">
        <header class="row budgets_header {{#showDelete}}pcf-widget-title{{/showDelete}}">
            <h4 class="col-sm-6 col-xs-7 {{#showDelete}}cursor-pointer{{/showDelete}}">My Budgets</h4>
             <a class="manage_budgets text-right col-sm-6 col-xs-5" href="#">View &amp; Manage Budgets</a>
         </header>
         {{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden cursor-pointer"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
    </div>
    <div class="bp-widget-body" id="{{widgetInstanceId}}-body">{{{widgetContent}}}</div>
</div>