<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}}" >

    <div class="bp-widget-pref"></div>
    <div class="bp-widget-head lp-widget-head widget widget-default" id="{{widgetInstanceId}}-body">
        <div class="widget-heading">
            <div class="widget-title">{{#pref.icon}}<i class="lp-icon lp-icon-{{pref.icon.value}}"></i>{{/pref.icon}}{{widgetTitle}}</div>
        </div>
        <div class="bp-widget-body">{{{widgetContent}}}</div>
    </div>

</div>