<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <title>Backbase Labs Widget</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="author" content="Backbase"/>

        <script src="../../lib/jquerydateformat/dateFormat.min.js"></script>

        <!-- Datepicker for Bootstrap and jquery-dateFormat-->
        <script src="../../lib/datepicker/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="../../lib/datepicker/css/datepicker.css"/>

        <script src="js/utils.js" type="text/javascript"></script>
        <script src="js/datepicker.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/datepicker.css"/>

        <w:preferences>
            <w:preference name="required" label="Required" type="checkbox" viewhint="user" default="true"/>
            <w:preference name="labelForDatePicker" label="Label For Date Picker" type="text" viewhint="user" default="Please select a date"/>
            <w:preference name="defaultDate" label="Default Date (leave blank for current date, otherwise use the format YYYY-MM-DD)" type="text" viewhint="user" default=""/>
            <w:preference name="dateFormat" label="Date Format" type="select-one" viewhint="user" default="MM/dd/yyyy">
                <w:enumeration label="08/20/2014" value="MM/dd/yyyy"></w:enumeration>
                <w:enumeration label="08/20/14" value="MM/dd/yy"></w:enumeration>
                <w:enumeration label="20/08/2014" value="dd/MM/yyyy"></w:enumeration>
                <w:enumeration label="20/08/14" value="dd/MM/yy"></w:enumeration>
                <w:enumeration label="Aug 20th, 2014" value="MMM D, yyyy"></w:enumeration>
                <w:enumeration label="August 20th, 2014" value="MMMM D, yyyy"></w:enumeration>
                <w:enumeration label="The 20th of August, 2014" value="T'h'e D of MMMM, yyyy"></w:enumeration>
                <w:enumeration label="Wednesday, the 20th of August, 2014" value="ddd, t'h'e D of MMMM, yyyy"></w:enumeration>
            </w:preference>
            <w:preference name="showPastDates" label="Show past dates" type="checkbox" viewhint="user" default="true"/>
        </w:preferences>

    </head>
    <body w:onload="__WIDGET__.controller = new bb_labs.FormsBasic_DatePicker(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">

        <div class="bb-labs-forms-basic-date-picker"></div>
        <!-- DatePicker template -->
        <script type="text/html" data-template="template_date_picker">
            <div class="form-group">
                {{#required}}<span style="color:red">*</span>{{/required}}
                <label class="control-label" for="{{fieldName}}">{{labelForDatePicker}}</label>
                <div class="input-group">
                    <input type="text" class="bootstrap-date-picker form-control" value="{{displayDate}}" id="{{fieldName}}" />
                </div>
            </div>
        </script>
    </body>
</html>