<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <title>Backbase Labs Widget</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="author" content="Backbase"/>

        <script src="js/dropdown.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/dropdown.css"/>

        <w:preferences>
            <w:preference name="required" label="Required" type="checkbox" viewhint="user" default="true"/>
            <w:preference name="labelForDropdown" label="Label" type="text" viewhint="user" default="Please select a value"/>
            <w:preference name="hiddenSelectOptions" label="hiddenSelectOptions" type="text" viewhint="user" default=""/>
        </w:preferences>

    </head>
    <body w:onload="__WIDGET__.controller = new bb_labs.FormsBasic_Dropdown(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">

        <div class="bb-labs-forms-basic-dropdown"></div>
        <!-- Slider template -->
        <script type="text/html" data-template="template_dropdown">
            <div class="form-group">
                {{#required}}<span style="color:red">*</span>{{/required}}
                <label class="control-label">{{labelForDropdown}}</label>
                <div class="input-group">
                    <select class="form-control">
                        {{#options}}<option value="{{value}}">{{label}}</option>{{/options}}
                    </select>
                </div>
            </div>
        </script>

        <script type="text/html" data-template="template_navigate_to_select_view">
            <tr class="xbp-userPreferenceField">
                <td class="bp-pref-td-label">
                    <label class="bp-pref-label" for="widgetChrome">Edit select options</label>
                </td>
                <td class="bp-pref-td-input">
                    <button type="button" class="btn btn-link options-link">Options</button>
                </td>
            </tr>
        </script>

        <script type="text/html" data-template="template_select_view">
            <div class="select-view-container container-fluid">
                <button type="button" class="btn btn-primary new-row">Add New Option</button>
                <div class="row-container"></div>
                <button type="button" class="btn btn-link save">Back</button>
            </div>
        </script>

        <script type="text/html" data-template="template_select_new_row">
            {{#options}}
            <div class="select-option-row row">
                <input type="checkbox" />
                <input type="text" class="form-control" placeholder="Label" name="label" value="{{label}}"/>
                <input type="text" class="form-control" placeholder="Value" name="value" value="{{value}}"/>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            {{/options}}
        </script>
    </body>
</html>