<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
	
	    <link rel="stylesheet" type="text/css" href="css/field.css"/>
	    <script src="js/utils.js" type="text/javascript"></script>
	    <script src="js/field.js" type="text/javascript"></script>
	   
		<w:preferences>
			<w:preference name="fieldname" label="Field Name" type="text" viewhint="user" default=""/>     
			<w:preference name="fieldtype" label="Type of Field" type="select-one" min="false" max="false" step="" default="input">
				<w:enumeration label="Input field" value="input"></w:enumeration>
				<w:enumeration label="Textbox field" value="textbox"></w:enumeration>
				<w:enumeration label="Password field" value="password"></w:enumeration>
	        </w:preference>

			<w:preference name="required" label="Required" type="checkbox" viewhint="user" default="true"/>     
			<w:preference name="label" label="Label" type="text" viewhint="user" default="label"/>     
			<w:preference name="hint" label="Hint" type="text" viewhint="user" default="Enter text here"/>     
			<w:preference name="prefix" label="Prefix Value" type="text" viewhint="user" default=""/>     
			<w:preference name="suffix" label="Suffix Value" type="text" viewhint="user" default=""/>     

			<w:preference name="cssclass" label="Css Class" type="text" viewhint="user" default=""/>     
			<w:preference name="style" label="Style" type="select-one" min="false" max="false" step="" default="inline">
				<w:enumeration label="Horizontal" value="horizontal"></w:enumeration>
				<w:enumeration label="Inline" value="inline"></w:enumeration>
				<w:enumeration label="Basic" value="basic"></w:enumeration>
	        </w:preference>

			<w:preference name="jsvalidationrule" label="JavaScript Validation Rule" type="select-one" min="false" max="false" step="" default="none">
				<w:enumeration label="None" value="none"></w:enumeration>
				<w:enumeration label="Date" value="date"></w:enumeration>
				<w:enumeration label="Number" value="number"></w:enumeration>
				<w:enumeration label="Currency" value="currency"></w:enumeration>
				<w:enumeration label="Phone number" value="phonenumber"></w:enumeration>
				<w:enumeration label="Zip code" value="zipcode"></w:enumeration>
				<w:enumeration label="SSN" value="ssn"></w:enumeration>
	        </w:preference>
			<w:preference name="csvalidationerror" label="Validation Error Message" type="text" viewhint="user" default="Invalid data entered"/>     


			<w:preference name="defaultvalue" label="Default Value" type="text" viewhint="user" default=""/>     
			<w:preference name="databindingurl" label="Data Binding URL" type="text" viewhint="user" default=""/>     
			<w:preference name="datavalidationurl" label="Data Validation URL" type="text" viewhint="user" default="http://localhost:8080/portalserver/proxy?pipe=formsBasicValidation&amp;type=sample"/>     
		</w:preferences>
	    
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.FormsBasic_Field(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-forms-basic-field">
		</div>
		
		
		<script data-template="input-field" type="text/html">
			<div class="form-group">
				{{#required}}<span style="color:red">*</span>{{/required}}
			    <label class="control-label" for="{{fieldname}}">{{label}}</label>
				<div class="input-group">
					{{#prefix}}<span class="input-group-addon">{{prefix}}</span>{{/prefix}}
					<input type="text" class="form-control" id="{{fieldname}}" placeholder="{{hint}}" data-formsField-type="text" data-formsField-value="{{defaultvalue}}" data-formsField-name="{{fieldname}}" data-formsField-label="{{label}}"/>
					{{#suffix}}<span class="input-group-addon">{{suffix}}</span>{{/suffix}}
				</div>
				<div class="error help-block"></div>
			</div>
		</script>			
		<script data-template="textbox-field" type="text/html">
			<div class="form-group">
				{{#required}}<span style="color:red">*</span>{{/required}}
			    <label class="control-label" for="{{fieldname}}">{{label}}</label>
				<div class="input-group">
					{{#prefix}}<span class="input-group-addon">{{prefix}}</span>{{/prefix}}
					<input type="text" class="form-control" id="{{fieldname}}" placeholder="{{hint}}" data-formsField-type="text" data-formsField-value="{{defaultvalue}}" data-formsField-name="{{fieldname}}" data-formsField-label="{{label}}"/>
					{{#suffix}}<span class="input-group-addon">{{suffix}}</span>{{/suffix}}
				</div>
				<div class="error help-block"></div>
			</div>
		</script>			
		<script data-template="password-field" type="text/html">
			<div class="form-group">
				{{#required}}<span style="color:red">*</span>{{/required}}
			    <label class="control-label" for="{{fieldname}}">{{label}}</label>
				<div class="input-group">
					{{#prefix}}<span class="input-group-addon">{{prefix}}</span>{{/prefix}}
					<input type="password" class="form-control" id="{{fieldname}}" placeholder="{{hint}}" data-formsField-type="text" data-formsField-value="{{defaultvalue}}" data-formsField-name="{{fieldname}}" data-formsField-label="{{label}}"/>
					{{#suffix}}<span class="input-group-addon">{{suffix}}</span>{{/suffix}}
				</div>
				<div class="error help-block"></div>
			</div>
		</script>			
	</body>
</html>