<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
	
	    <link rel="stylesheet" type="text/css" href="css/list.css"/>
	    <script src="js/utils.js" type="text/javascript"></script>
	    <script src="js/list.js" type="text/javascript"></script>
	   
		<w:preferences>
			<w:preference name="listname" label="List Name" type="text" viewhint="user" default=""/>     
			<w:preference name="listtype" label="Type of List" type="select-one" min="false" max="false" step="" default="select">
				<w:enumeration label="Select List" value="select"></w:enumeration>
				<w:enumeration label="Checkboxes" value="checkbox"></w:enumeration>
				<w:enumeration label="Radios" value="radio"></w:enumeration>
	        </w:preference>

			<w:preference name="required" label="Required" type="checkbox" viewhint="user" default="true"/>     
			<w:preference name="label" label="Label" type="text" viewhint="user" default="label"/>     
			<w:preference name="hint" label="Hint" type="text" viewhint="user" default="Select a value"/>     
			<w:preference name="height" label="Height" type="text" viewhint="user" default=""/>     

			<w:preference name="cssclass" label="Css Class" type="text" viewhint="user" default=""/>     
			<w:preference name="style" label="Style" type="select-one" min="false" max="false" step="" default="inline">
				<w:enumeration label="Horizontal" value="horizontal"></w:enumeration>
				<w:enumeration label="Inline" value="inline"></w:enumeration>
				<w:enumeration label="Basic" value="basic"></w:enumeration>
	        </w:preference>

			<w:preference name="listvalues" label="List Options" type="text" viewhint="user" default="[{'value':'value1','label':'label1'},{'value':'value2','label':'label2'},{'value':'value3','label':'label3'}]"/>     
			<w:preference name="defaultvalue" label="Default Value" type="text" viewhint="user" default=""/>     
			<w:preference name="databindingurl" label="List Options Binding URL" type="text" viewhint="user" default=""/>     
			<w:preference name="defaultbindingurl" label="Default Value Binding URL" type="text" viewhint="user" default=""/>     
			<w:preference name="datavalidationurl" label="Data Validation URL" type="text" viewhint="user" default=""/>     
		</w:preferences>
	    
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.FormsBasic_List(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-forms-basic-list">
		</div>
		<script data-template="select-list" type="text/html">
			<div class="form-group">
				{{#required}}<span style="color:red">*</span>{{/required}}
			    <label class="control-label" for="{{fieldname}}">{{label}}</label>
				<div class="input-group">
					<select class="form-control" id="{{listname}}" data-trigger="true" data-formsField-type="list" data-formsField-value="{{defaultvalue}}" data-formsField-name="{{listname}}" data-formsField-label="{{label}}">
						{{#values}}
						<option value="{{value}}">{{label}}</option>
						{{/values}}
					</select>
				</div>
				<div class="error help-block"></div>
			</div>
		</script>
		<script data-template="radio-list" type="text/html">
			<input type="hidden" id="{{listname}}" data-formsField-type="list" data-formsField-value="{{defaultvalue}}" data-formsField-name="{{listname}}" data-formsField-label="{{label}}"/>
			<div class="form-group">
				{{#required}}<span style="color:red">*</span>{{/required}}
			    <label class="control-label" for="{{listname}}">{{label}}</label>
				<div class="input-group">
					{{#values}}
					<input type="radio" name="{{listname}}" value="{{value}}" data-trigger="true"/>{{label}}<br/>
					{{/values}}
				</div>
				<div class="error help-block"></div>
			</div>
		</script>
		<script data-template="checkbox-list" type="text/html">
			<input type="hidden" id="{{listname}}" data-formsField-type="list" data-formsField-value="{{defaultvalue}}" data-formsField-name="{{listname}}" data-formsField-label="{{label}}"/>
			<div class="form-group">
				{{#required}}<span style="color:red">*</span>{{/required}}
			    <label class="control-label" for="{{listname}}">{{label}}</label>
				<div class="input-group checkbox">
					{{#values}}
					<input type="checkbox" name="{{listname}}" value="{{value}}" data-trigger="true"/>{{label}}<br/>
					{{/values}}
				</div>
				<div class="error help-block"></div>
			</div>
		</script>
		
	</body>
</html>