<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <title>Backbase Labs Widget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="Backbase"/>

    <!-- Slider for Bootstrap-->
    <script src="../../lib/slider/js/bootstrap-slider.js"></script>
    <link rel="stylesheet" type="text/css" href="../../lib/slider/css/slider.css"/>

    <script src="js/slider.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/slider.css"/>

    <w:preferences>
        <w:preference name="required" label="Required" type="checkbox" viewhint="user" default="true"/>
        <w:preference name="labelForSlider" label="Label" type="text" viewhint="user" default="Please select a value"/>
        <w:preference name="tooltip" label="Tooltip" type="select-one" viewhint="user" default="show">
            <w:enumeration label="Show when dragging" value="show"></w:enumeration>
            <w:enumeration label="Hide always" value="hide"></w:enumeration>
            <w:enumeration label="Show always" value="always"></w:enumeration>
        </w:preference>
        <w:preference name="minimum" label="Minimum" type="text" viewhint="user" default="0"/>
        <w:preference name="maximum" label="Maximum" type="text" viewhint="user" default="100"/>
        <w:preference name="step" label="Step" type="text" viewhint="user" default="5"/>
        <w:preference name="initialValue" label="Initial Value" type="text" viewhint="user" default="30"/>
        <w:preference name="rangeEnd" label="Range End (if not using a range, leave blank)" type="text" viewhint="user" default=""/>
        <w:preference name="orientation" label="Orientation" type="select-one" viewhint="user" default="horizontal">
            <w:enumeration label="Horizontal" value="horizontal"></w:enumeration>
            <w:enumeration label="Vertical" value="vertical"></w:enumeration>
        </w:preference>
        <w:preference name="handle" label="Handle Shape" type="select-one" viewhint="user" default="round">
            <w:enumeration label="Round" value="round"></w:enumeration>
            <w:enumeration label="Square" value="square"></w:enumeration>
            <w:enumeration label="Triangle" value="triangle"></w:enumeration>
        </w:preference>
        <w:preference name="displaySelectionLocation" label="Location of current selection value" type="select-one" viewhint="user" default="none">
            <w:enumeration label="None" value="none"></w:enumeration>
            <w:enumeration label="Top" value="top"></w:enumeration>
        </w:preference>
    </w:preferences>

</head>
<body w:onload="__WIDGET__.controller = new bb_labs.FormsBasic_Slider(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">

<div class="bb-labs-forms-basic-slider"></div>
<!-- Slider template -->
<script type="text/html" data-template="template_slider">
    <div class="form-group">
        {{#required}}<span style="color:red">*</span>{{/required}}
        <label class="control-label">{{labelForSlider}}</label>
        <div class="current-value-box {{displaySelectionLocation}}"></div>
        <div class="input-group">
            <input type="text" class="bootstrap-slider" value="" data-slider-min="{{minimum}}" data-slider-max="{{maximum}}" data-slider-step="{{step}}" data-slider-value="{{sliderValue}}" data-slider-orientation="{{orientation}}" data-slider-selection="before" data-slider-tooltip="{{tooltip}}" data-slider-handle="{{handle}}" />
        </div>
    </div>
</script>
</body>
</html>