<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
	
	    <link rel="stylesheet" type="text/css" href="css/summary.css"/>
	    <script src="js/utils.js" type="text/javascript"></script>
	    <script src="js/summary.js" type="text/javascript"></script>
	   
		<w:preferences>
			<w:preference name="cssclass" label="Css Class" type="text" viewhint="user" default="btn-default"/>     
		</w:preferences>
	    
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.FormsBasic_Summary(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-forms-basic-summary">
		</div>

		<script data-template="summary-field" type="text/html">
			<div class="form-horizontal">
				{{#fields}}
				<!-- {{type}}:{{name}} -->
				<div class="form-group">
					<label class="col-sm-2 control-label">{{label}}:</label>
					<div class="col-sm-10">
						<label class="col-sm-2 control-label" style="font-weight:normal">{{value}}</label>
					</div>
				</div>
				{{/fields}}
			</div>
		</script>			
	</body>
</html>