/* Responsive */

/* TODO: replace in HTML with responsive classes */

.lp-review-transfers .lp-small-size .h4 {
    font-size: 14px;
}
.lp-review-transfers .lp-small-size [class*="col-"] {
    width: 100%;
    margin-left: 0;
}
.lp-review-transfers .lp-small-size .text-right {
    text-align: left;
}
.lp-review-transfers .lp-small-size button[name="makePayment"] {
    display: none;
}

.lp-review-transfers .verify-p2p {
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #990000;
}

.lp-review-transfers .verification-error {
    color: #990000;
}

.lp-review-transfers .raise {
    position: relative;
    top: -10px;
}