.welcome-text, .lp-profile-summary-username {
    font-family: Arial;
	font-size: 11px;
	color: #666;
	margin: 0;
}

.welcome-text {
	letter-spacing: .5px;
}

.lp-profile-summary-username {
    font-family: Arial;
	font-size: 14px;
}

.not-my-profile {
	font-size: 10px;
}

.pcf-profile {
	color: #666;
}

.avatar {
	width: 62px;
	height: 62px;
}


.pcf-logout, .pcf-logout:focus, .pcf-logout:active {
	transition: all .5s;
	color: #FF0000;
    font-family: Arial;
    font-size: 9px;
	text-transform: uppercase;
	border: 1px solid #999;
	border-radius: 12px;
	padding: 4px 8px 2px;
	outline: none;
}

.pcf-logout:hover {
	background: #FF0000;
	color: white;
	text-decoration: none;
	outline: none;
}

.profileLink {
	border-bottom: 1px solid #666;
	margin-bottom: 8px;
}

.user_notification {
	height: 21px;
	color: #666;
	font-size: 21px;
	vertical-align: top;
	margin: 0 6px;
}