<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget">
    <head>
        <title>Launchpad Places Widget</title>

        <g:preferences>
            <g:preference name="placesDataSrc" label="Places Data Source" type="text" default="$(contextPath)/static/launchpad/widgets/places/data/places.json" />
            <g:preference name="filterDataSrc" label="Filter drop-down Data Source" type="text" default="$(contextPath)/static/launchpad/widgets/places/data/filter.json" />
            <g:preference name="placesPageSize" label="Amount of Places returned for each page" type="text" default="20" />
            <g:preference name="placesFilterRadius" label="Radius in KM used from the current location used to filter out places" type="text" default="50" />

            <g:preference name="latitude" label="Center latitude" type="text" default="40.722823" viewhint="text-input,user" />
            <g:preference name="longitude" label="Center longitude" type="text" default="-74.003692" viewhint="text-input,user" />
            <g:preference name="zoom" label="Zoom level" type="text" default="15" min="2" max="16" viewhint="text-input,user" />
            <g:preference name="currentPosition" label="Initialize on user's position" type="checkbox" default="false" />
            <g:preference name="showPOI" label="Show POI on map" type="checkbox" default="false" />
            <g:preference name="panControl" label="Show pan control on map" type="checkbox" default="true" />

            <g:preference name="staticMapApiUrl" label="Api Url for static map" type="text" default="http://maps.googleapis.com/maps/api/staticmap" />
            <g:preference name="directionApiUrl" label="Api Url for directions" type="text" default="https://maps.google.com/maps" />
            <g:preference name="staticMapZoom" label="Default zoom value for static map" type="text" default="16" />
            <g:preference name="staticMapThumbSize" label="Size of map thumbnail" type="text" default="300x100" />
        </g:preferences>

        <link rel="stylesheet" type='text/css' href="css/places.css" />

        <script src="../../conf/require-conf.js"></script>
        <script src="../../support/modernizr.js"></script>
    </head>
    <body class="lp-places" g:onload="requireWidget(__WIDGET__, 'js/places');">

        <div ng-controller="PlacesCtrl" class="ng-cloak" lp-responsive="lp-responsive" size-rules="sizeRules" lp-size="widgetSize" lp-on-resize="resized(width)">

            <!--  Full Content -->
            <div class="lp-widget-content">

                <!--  Alerts -->
                <div class="lp-alerts">
                    <div alert="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</div>
                </div>

                <!--  Widget Head -->
                <div class="widget-heading row">
                    <div class="lp-places-search" ng-class="{'col-xs-8': widgetSize === 'normal', 'col-xs-12': widgetSize === 'small'}">
                        <div class="input-group search-input">
                            <span class="input-group-addon"><i class="lp-icon lp-icon-search2"></i></span>
                            <input type="text" class="form-control filters-name" ng-model="filters.name" ng-change="redraw()" placeholder="Search address, zip, city" places-autocomplete="search(lat, lng)" autofocus="autofocus"/>
                        </div>
                    </div>


                    <div ng-controller="DropdownCtrl" ng-class="{'col-xs-4': widgetSize === 'normal', 'col-xs-12': widgetSize === 'small'}">
                        <div class="btn-group" dropdown="dropdown" is-open="status.isopen" on-toggle="toggled(open)">
                          <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                            {{currentFilterLabel}} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="filter in filters">
                                <a href="#" ng-click="toggleFilter($event, filter)">
                                    <input type="checkbox" ng-model="filter.selected"/>
                                    <span>{{filter.label}}</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                    </div>

                </div>

                <!--  Body Content -->
                <div class="lp-widget-body">
                    <ul tabset="tabset">
                        <li tab="tab" select="setView('map')">
                            <tab-heading>
                                <i class="glyphicon glyphicon-map-marker"></i> Map
                            </tab-heading>
                        </li>
                        <li tab="tab" select="setView('list')">
                            <span tab-heading="tab-heading">
                                <i class="glyphicon glyphicon-align-justify"></i> List
                            </span>
                        </li>
                        <li tab="tab" select="setView('split')" class="{{hiddenXs}}">
                            <span tab-heading="tab-heading">
                                <i class="glyphicon glyphicon-map-marker"></i> Split
                            </span>
                        </li>
                    </ul>
                    <div>
                        <div class="{{mapSize}} {{mapClass}}" lp-responsive="lp-responsive" lp-on-resize="resized(width)">
                            <div gm-map="gm-map" gm-map-id="mapId" gm-center="map.center" gm-zoom="map.zoom" gm-map-options="options.map" class="map_canvas">
                               <div gm-markers="gm-markers" 
                                        gm-objects="places"
                                        gm-id="object.id"
                                        gm-position="{ lat: object.location.latitude, lng: object.location.longitude }"
                                        gm-marker-options="getMarkerOptions(object)"
                                        gm-on-click="openInfoWindow(object, marker)"></div>
                            </div>
                        </div>
                        <div class="{{listSize}} {{listClass}}">
                            <div places-list="places-list" 
                                    places-objects="places"
                                    map-object="map"
                                    filter-object="filters">
                            </div>
                        </div>
                    </div>

                    <!-- Infowindow -->
                    <div gm-info-window="infoWindow">
                        <div class="infoBox">

                            <div class="row-fluid"><h4>{{place.name}}</h4></div>
                            <div class="row-fluid">{{place.address.streetAddress}}</div>
                            <div class="row-fluid">
                                <div class="span6">{{place.address.city}}, {{place.address.state}} {{place.address.zipCode}}</div>
                                <div class="span6">{{place.phoneNumber}}</div>
                            </div>

                            <table class="table table-hover table-condensed" ng-show="place.openingHours.periods.length > 0">
                                <tbody>
                                    <tr ng-repeat="opening in place.openingHours.periods">
                                        <td>{{opening.day | date:'EEE'}}</td><td class="opening-hours">{{opening.time}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="row-fluid footer">
                                <a ng-href="{{place.map.directionUrl}}" target="_blank">Get directions</a>
                                <div ng-show="place.webSiteUrl" class="pull-right"><a ng-href="{{place.webSiteUrl}}" target="_blank">{{place.webSiteUrl}}</a></div>
                            </div>

                        </div>
                    </div>
                    <!-- End InfoWindow -->
                </div>

            </div>

        </div> <!-- END PlacesCtrl -->

    </body>
</html>