.bb-labs-forms-basic-dropdown .input-group {
    width: 100%;
}

.dropdown-preference-label {
    width: 150px;
    margin-left: 10px;
    margin-top: 20px;
}

.aa-PreferenceEditor .select-view-container input[type='text'].form-control {
    display: inline;
    width: 210px;
}

.select-option-row * {
    margin: 5px 10px;
}

.select-view-container.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.select-view-container button.new-row {
    margin: 10px;
}

.select-option-row button.close {
    margin-top: 13px;
}

.select-option-row input.form-control {
    background-color: white !important;
}

.select-option-row div.bd-tokens-holder {
    display: none !important;
}