.bb-labs-forms-basic-slider .input-group {
    width: 100%;
}

.bb-labs-forms-basic-slider .slider-horizontal {
    width: 100%;
}

.bb-labs-forms-basic-slider .form-group {
    position: relative;
}

.bb-labs-forms-basic-slider .current-value-box {
    width: 50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    font-weight: 700;
}

.bb-labs-forms-basic-slider .current-value-box.none {
    display: none;
}

.bb-labs-forms-basic-slider .current-value-box.top {
    top: 0;
    left: 50%;
}