<div class="lp-sitemap">
    <div class="widget-footer clearfix">
        <div class="col-sm-2 border-right-thin">
            <ul class="text-left">
                <li class="row"><span class="current-rates pull-left"></span><a class="h5 col-sm-8 footer-static-link" href="#">Today’s Rates</a></li>
                <li class="row"><span class="map-pin pull-left"></span><a class="h5 col-sm-8 footer-static-link" href="#">Find a Bank Machine<br />or Pavillion</a></li>
                <li class="row"><span class="contact-us pull-left"></span><a class="h5 col-sm-8 footer-static-link" href="#">Contact Us</a></li>
            </ul>
        </div>
    {{#links}}
        <div class="col-sm-2">
            <ul class="text-left">
                <li class="border-bottom-thin"><a class="h5" href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a></li>
                {{#children}}
                        {{> mustache_mid_level}}
                {{/children}}
            </ul>
        </div>
    {{/links}}
    </div>
</div>  