<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} widget widget-default pcf-chrome" >

    <div class="bp-widget-head">
        <header class="row color-red {{#showDelete}}pcf-widget-title{{/showDelete}}">
            <h4 class="col-sm-8 col-xs-8 {{#showDelete}}cursor-pointer{{/showDelete}}">Recent Transactions</h4>
        </header>
        {{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden {{#showDelete}}cursor-pointer{{/showDelete}}"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
    </div>
    <div class="bp-widget-pref"></div>
    <div class="bp-widget-body" id="{{widgetInstanceId}}-body">{{{widgetContent}}}</div>
</div>
