.reward_points.preload {
    transition: none !important;
}

.reward_points_header {
    background-color: #F9F9F9;
    margin-left: 0;
    margin-right: 0;
}

.reward_points_header h4, .current_value {
    color: #EE2E24;
}

.manage_reward_points:hover, .manage_reward_points:focus, .manage_reward_points:active, .manage_reward_points:visited {
    color: #000;
}

.manage_reward_points::after {
    content: " >";
}

#reward_points {
    background: white;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
    padding-bottom: 4px;
}

.reward_points_redemption_container {
    border-right: 1px solid #CCC;
}

.reward_points_redemption_container p {
    height: 14px;
}

.reward_points_redemption {
    color: #4FB948;
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 0;
}

.reward_points_redemption_upsell {
    font-size: 75%;
    margin-top: 1em;
}

.reward_points_redemption_upsell p {
    margin-bottom: 0;
}

.reward_points_redemption_chart {
    margin-top: -1em;
    margin-left: -4em;
}

.reward_points_redemption_chart_layer {
    font-size: 90%;
    height: 5.4em;
    width: 14em;
    overflow: hidden;
    position: absolute;
}
.speedometer {
    opacity: 0;
    z-index: 2;
    width: 14em;
    height: 14em;
    position: relative;
    display: inline-block;
    transform: -webkit-rotate(45deg);
    transform: -moz-rotate(45deg);
    transform: -ms-rotate(45deg);
    transform: rotate(45deg);
}

.speedometer .slot {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
}
.speedometer .bar {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8.8em;
    height: 8.8em;
    margin-left: -5.5em;
    margin-top: -5.5em;
}
.speedometer .left {
    opacity: 1;
    left: 0;
}
.speedometer .right {
    border: 2.2em solid transparent;
}
.reward_points_redemption_chart_layer.redeemable {
    z-index: 3;
}
.reward_points_redemption_chart_layer.redeemable .left {
    border: 3.2em solid #39b54a;
    border-left-color: transparent;
    border-top-color: transparent;
}

.reward_points_redemption_chart_layer.earned {
    z-index: 2;
}
.reward_points_redemption_chart_layer.earned .left {
    z-index: 2;
    border: 3.2em solid #818285;
    border-left-color: transparent;
    border-top-color: transparent;
}

.reward_points_redemption_chart_layer.default {
    z-index: 1;
}
.reward_points_redemption_chart_layer.default .left {
    border: 3.2em solid #e7e7e8;
    border-left-color: transparent;
    border-top-color: transparent;
}

/* Mobile specific CSS */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .reward_points_redemption_container {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .reward_points_redemption_upsell {
        padding-right: 0;
    }

    .reward_points_redemption_chart {
        margin-top: 0;
        margin-left: -3em;
    }
}

.rewards_ad{
    width:100%;
    min-height:160px;
    background-image:url(../images/PC_Ad.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.header_line{
    width:90%;
    height:1px;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

.manage_tips_alerts {
    font-size: 75%;
    padding: 15px 15px 0 0;
    color: #999;
}

.manage_tips_alerts:hover, .manage_tips_alerts:focus, .manage_tips_alerts:active, .manage_tips_alerts:visited {
    color: #999;
}

.manage_tips_alerts::after {
    content: "  >";
    float: right;
}
