/* TODO: need to find theme based workdaround */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 243px;
}

[id^="widget-navfooter"] {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 243px;
	margin-bottom: -243px;
	background-color: #EE2E24;
}

.lp-sitemap {
	padding: 0 64px;
}

.lp-sitemap .widget-footer {
	background-color: #EE2E24;
	background: transparent;
	padding: 4em 0;
	width: 100%;
	border-top: 1px solid #EE2E24;
}

.lp-sitemap a {
	color: #E4E0D9;
	font-weight: 200;
}

a:hover, a:focus, a:active {
	color: #FFFFFF;
}

.border-right-thin {
	border-right: 1px solid #D30C12;
}

.border-bottom-thin {
	border-bottom: 1px solid #D30C12;
}

.current-rates, .map-pin, .contact-us {
	display: inline-block;
 	width: 12px;
	height: 12px;
	margin-right: 4px;
	background-image: url(images/percent.png);
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: right top;
	vertical-align: middle;
}

.map-pin {
	background-image: url(images/map-pin.png);
}

.contact-us {
	background-image: url(images/contact-us.png);
}

.footer-static-link {
	padding-top: 0;
	padding-left: 0;
	margin: 0 0 10px;
}