<?xml version="1.0" encoding="UTF-8"?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">
    <description>Tags and functions for launchpad jsps</description>
    <display-name>Launchpad Tag Library</display-name>

    <tlib-version>1.0</tlib-version>
    <short-name>launchpad</short-name>
    <uri>http://launchpad.backbase.com/taglib</uri>
    <tag>
        <name>userProperty</name>
        <tag-class>com.backbase.launchpad.presentation.tag.UserPropertyTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>scope</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>userPropertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>defaultValue</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>envEntry</name>
        <tag-class>com.backbase.launchpad.presentation.tag.EnvEntryLookupTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>scope</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>

    <function>
        <name>canPersonalize</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>boolean canPersonalize(com.backbase.portal.foundation.domain.conceptual.Item)</function-signature>
    </function>

    <function>
        <description>Gets a property value from an item.</description>
        <name>property</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>java.lang.Object getPropertyValue(com.backbase.portal.foundation.domain.conceptual.Item, java.lang.String)</function-signature>
    </function>

    <function>
        <description>Determines if a property exists for an item.</description>
        <name>hasProperty</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>boolean hasProperty(com.backbase.portal.foundation.domain.conceptual.Item, java.lang.String)</function-signature>
    </function>

    <function>
        <description>Determines if an item is a page.</description>
        <name>isPage</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>boolean isPage(com.backbase.portal.foundation.domain.conceptual.Item)</function-signature>
    </function>

    <function>
        <description>Determines if an item is a container.</description>
        <name>isContainer</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>boolean isContainer(com.backbase.portal.foundation.domain.conceptual.Item)</function-signature>
    </function>

    <function>
        <description>Determines if an item is a widget.</description>
        <name>isWidget</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>boolean isWidget(com.backbase.portal.foundation.domain.conceptual.Item)</function-signature>
    </function>

    <function>
        <description>Determines if an item is a link.</description>
        <name>isLink</name>
        <function-class>com.backbase.launchpad.utils.PortalFunctions</function-class>
        <function-signature>boolean isLink(com.backbase.portal.foundation.domain.conceptual.Item)</function-signature>
    </function>


</taglib>