/* Responsive */

.lp-new-transfer .lp-small-size [class*="col-"] {
    width: 100%;
    margin-left: 0;
}

.lp-new-transfer .lp-small-size .visible-md {
    display: none !important;
}

.lp-new-transfer .lp-small-size .filter-option .lp-accountselect-option-accountname,
.lp-new-transfer .lp-small-size .lp-accountselect-accountbalance {
    font-size: 14px;
}

.lp-new-transfer .date-options button {
    text-align: left;
}

.lp-new-transfer input[readonly] {
    background-color: white;
    cursor: default;
}

.lp-iban .dropdown-toggle .country-name {
    display: none;
}

.lp-iban .dropdown .dropdown-menu > li {
    border-top: none;
}
.lp-iban .dropdown .dropdown-menu .dropdown-search {
    padding: 5px;
}

.lp-new-transfer .dropdown-toggle {
    position: relative;
}
.lp-new-transfer .dropdown-toggle .caret {
    position: absolute;
    right: 10px;
    top: 40%;
}

.lp-new-transfer .lp-input-dividers {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
}

.lp-new-transfer .lp-input-dividers .separator {
    border-right: 1px solid #cccccc;
    height: 5px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
}

.lp-new-transfer .nt-input-area {
    min-height: 60px!important;
}
.lp-currency-amount-input {
    max-width: 360px;
}

.lp-new-transfer .enrollment-area {
    border-top: 1px solid #999999;
    margin-top: 10px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .lp-new-transfer .save-to-contacts input[type=checkbox],
    .lp-new-transfer .urgent-transfer input[type=checkbox],
    .lp-new-transfer .urgent-transfer .lp-icon,
    .lp-new-transfer .lp-iban-info .lp-icon,
    .lp-new-transfer .lp-currency-amount-input .info .lp-icon,
    .lp-new-transfer .save-to-contacts .lp-icon {
        font-size:18px;
    }
    .lp-new-transfer .lp-iban-info .lp-icon {
        top:5px;
    }
    .lp-new-transfer .urgent-transfer .lp-icon,
    .lp-new-transfer .save-to-contacts .lp-icon {
        top:3px;
    }
}









/** PCF */
.pcf-new-transfer .inputAmountLabel{
    padding-top: 15px;
}
.pcf-new-transfer .inputToLabel,
.pcf-new-transfer .inputFromLabel{
    padding-top: 20px;
}
.pcf-new-transfer .inputAmount{
    background: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #cecece;
    height: 50px;
    padding: 10px;
}
.pcf-new-transfer .lp-payment-mode-tabs{
    margin-top: 10px;
}
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li {
    border-radius: 10px 10px 0 0;
    border: 1px solid #cecece;
    padding: 0 10px;
}
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li.active,
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li:hover{
    background: #f4f4f4;
}
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li.active{
    border: 1px solid transparent;
}
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li > a:focus,
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li > a:hover,
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs > li > a{
    padding: 5px;
    border-radius: 0;
    border: none;
    text-align: left;
    outline: none;
    background: transparent;
    color: #666;
}
.pcf-new-transfer .lp-payment-mode-tabs .nav-tabs.nav-justified{
    border-spacing: 2px;
}
.pcf-new-transfer .lp-payment-mode-tabs .tab-content{
    margin-top: -3px;
}
.pcf-new-transfer .lp-payment-mode-tabs .tab-content .tab-pane{
    padding: 0;
}
.pcf-current-date{
    background: #f4f4f4;
    padding: 5px 20px;
}

.pcf-new-transfer .pcf-new-transfer-panel-body{
    min-height: 300px;
}
.pcf-new-transfer .pcf-new-transfer-widget-footer{
    background: #fff;
    border: none;
}
.pcf-new-transfer .pcf-new-transfer-widget-footer .btn-primary{
    background: #ee2e24;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    box-shadow: 2px 2px 2px #ccc;
    padding: 10px 25px;
    margin-left: 20px;
}
.pcf-new-transfer .pcf-new-transfer-widget-footer .btn-link{
    color: #666;
    font-size: 16px;
}

/* drop down select */
.pcf-dropdown-select > .dropdown > .dropdown-toggle{
    background: #f4f4f4;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 2px #cecece;
}
.pcf-new-transfer-options{
    padding: 10px;
    text-align: left;
}
.pcf-new-transfer-options-left{
    display: inline-block;
    width: 50%;
    overflow: hidden;
}
.pcf-new-transfer-counterparty-name,
.pcf-new-transfer-account-name{
    color: #ee2e24;
    font-size: 18px;
}
.pcf-new-transfer-account-number{
    font-size: 12px;
}
.pcf-new-transfer-options-right{
    display: inline-block;
    width: 50%;
    text-align: right;
    overflow: hidden;
    padding-right: 20px;
}
.pcf-new-transfer-balance{
    font-size: 18px;
}
.pcf-new-transfer-available-balance{
    font-size: 12px;
}

.pcf-new-transfer-contact{
    margin-bottom: 5px;
    background: #fff;
    padding: 3px 5px;
}
.pcf-new-transfer-contact img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.pcf-new-transfer-contacts-container{
    background: #f4f4f4;
}
.pcf-new-transfer-contacts-search{
    padding: 10px;
}
.pcf-new-transfer-contacts-container ul{
    padding: 0 10px 10px;
}
.pcf-new-transfer-contacts-lists{
    max-height: 230px;
    overflow: auto;
}

.pcf-new-transfer-counterparty-logo{
    margin-right: 5px;
}
.pcf-new-transfer-counterparty-name{
    line-height: 1;
}




/* tablet */
.pcf-new-transfer .lp-medium-size .form-horizontal .pcf-new-transfer-label,
.pcf-new-transfer .lp-medium-size .form-horizontal .pcf-new-transfer-input,
.tablet .pcf-new-transfer .form-horizontal .pcf-new-transfer-label,
.tablet .pcf-new-transfer .form-horizontal .pcf-new-transfer-input{
    float: none;
    display: block;
    width: 100%;
}
.pcf-new-transfer .lp-medium-size .form-horizontal .pcf-new-transfer-label,
.tablet .pcf-new-transfer .form-horizontal .pcf-new-transfer-label{
    text-align: left;
}
.tablet .pcf-new-transfer .pcf-new-transfer-pay-people .lp-payment-mode-tabs{
    width: 100%;
}




/* mobile */
.mobile .nav-tabs.nav-justified > li{
    float: left;
    font-size: 10px;
}
.mobile .pcf-new-transfer-balance,
.pcf-new-transfer-counterparty-name,
.mobile .pcf-new-transfer-account-name{
    font-size: 16px;
    white-space: normal;
}
.mobile .pcf-new-transfer-available-balance,
.mobile .pcf-new-transfer-account-number{
    font-size: 11px;
}


