.ext{
 
}
.ext-wordpress{
    min-height:200px;
}

.ext-wordpress .error{
	display:none;
}
.ext-wordpress .list{
 
}
.ext-wordpress .details{
	display:none;
	height:400px;
}
.ext-wordpress .crud{
	display:none;
}

.ext-wordpress .details_excerpt{
	width:100%;
}
.ext-wordpress .details_title{
	width:100%;
}
.ext-wordpress .details_content{
	width:100%;
}

.ext-wordpress .crud_excerpt{
	width:100%;
}
.ext-wordpress .crud_title{
	width:100%;
}
.ext-wordpress .crud_content{
	width:100%;
}

.ext-wordpress .coldate{
	text-align:center;
	vertical-align:middle;
	line-height:auto;
}
.ext-wordpress .coltitle{
}
.ext-wordpress .colimg{
	text-align:center;
	vertical-align:middle;
	line-height:auto;
}
.ext-wordpress .news-title{
	color: #636364;
	font-weight: 600;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	font-size: 16px;
}