.lp-universal-calendar {
}

.title{
	color:white;
}

.background .noborder
{
	width: 265px;
	height: 290px;
}

.background .withborder {
	width: 265px;
	height: 313px;
	padding: 25px 0 0 10px;
	background: url('../media/calendar.png') transparent no-repeat 0 0;
}
.calendar {
	width: 99%;
	height: 232px;
	font-size: 9pt;
}
