.panel-group {
	padding-bottom: 8px;
}

.panel-launcher > .panel-heading {
    font-size: 14px;
    font-family: Arial;
    color: #666;
    background-color: #FFF;
}

.panel-launcher .list-group-item {
	font-size: 12px;
	color: #666;
	background-color: #F1F2F2;
	margin: 0 8px;
	border-radius: 8px;
}

.account-icon {
	display: inline-block;
	/*vertical-align: middle;*/
	height: 20px;
	/*margin: 10px 2px -11px 0;*/
	margin: -2px 2px 0 0;
}

.lp-line-item-arrow {
	display: inline-block;
}

.nubbin {
	margin: 0 auto;
}

.pc-plus-link:hover,
.pc-plus-link:focus,
.pc-plus-link{
    color: #666;
    outline: none;
}
