<div data-pid="{{widgetInstanceId}}" class="bp-widget aa-widget bp-ui-dragRoot">
	<div class="bp-widget-head aa-widget-head {{#enableDND}}bp-ui-dragGrip{{/enableDND}}">
		{{widgetTitle}}
	</div>
	<div class="bp-widget-pref aa-widget-pref"></div>
	<div class="bp-widget-body aa-widget-body">{{{widgetContent}}}</div>
	<div class="bp-widget-foot aa-widget-foot"></div>
</div>