.bb-labs-activity-feed{
	padding:10px;
	width:100%;
}

.bb-labs-activity-feed.feed {
  height: 100%;
}
.bb-labs-activity-feed.feed h2 {
  background: #dbdee0;
  padding: 12px;
  margin: 0px -15px 10px -15px;
}
.bb-labs-activity-feed.feed h2 a {
  float: right;
  color: #b2b8bd;
  text-decoration: none;
  cursor: pointer;
}
.bb-labs-activity-feed.feed h2 a:hover {
  color: #34383c;
}
.bb-labs-activity-feed.feed ul#filter {
  margin: 0 0 10px 20px;
  list-style: none;
  *zoom: 1;
}
.bb-labs-activity-feed.feed ul#filter:before,
.bb-labs-activity-feed.feed ul#filter:after {
  display: table;
  content: "";
  line-height: 0;
}
.bb-labs-activity-feed.feed ul#filter:after {
  clear: both;
}
.bb-labs-activity-feed.feed ul#filter li {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
.bb-labs-activity-feed.feed ul#filter li a {
  text-decoration: none;
}
.bb-labs-activity-feed.feed ul#filter li a.active {
  font-weight: bold;
}
.bb-labs-activity-feed.feed ul#filter li a:hover {
  color: inherit;
}
.bb-labs-activity-feed.feed ul.timeline {
  margin: 0 0 0 20px;
  list-style: none;
  border-left: 1px solid #dbdee0;
}
.bb-labs-activity-feed.feed ul.timeline li {
  position: relative;
  margin: 0 0 20px 20px;
  font-size: 12px;
}
.bb-labs-activity-feed.feed ul.timeline li i {
  position: absolute;
  top: -4px;
  left: -36px;
  padding: 5px 0px;
  font-size: 15px;
  width: 30px;
  text-align: center;
}
.bb-labs-activity-feed.feed ul.timeline li.tasks i {
  color: #bdea74;
}
.bb-labs-activity-feed.feed ul.timeline li.comments i {
  color: #ff5454;
}
.bb-labs-activity-feed.feed ul.timeline li.messages i {
  color: #36a9e1;
}
.bb-labs-activity-feed.feed ul.timeline li .title {
  font-weight: bold;
}
.bb-labs-activity-feed.feed ul.timeline li .desc {
  margin: 5px 0;
}
.bb-labs-activity-feed.feed ul.timeline li .date,
.bb-labs-activity-feed.feed ul.timeline li .separator,
.bb-labs-activity-feed.feed ul.timeline li .name {
  color: #b2b8bd;
}
.bb-labs-activity-feed.feed ul.timeline li .separator {
  margin: 0 5px;
}
.bb-labs-activity-feed.feed #load-more {
  color: #dbdee0;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
}
.bb-labs-activity-feed.feed #load-more:hover {
  color: #34383c;
}



/* Main Colors
=================================================================== */
.bb-labs-activity-feed .blue {
  color: #36a9e1;
}
.bb-labs-activity-feed .lightBlue {
  color: #67c2ef;
}
.bb-labs-activity-feed .green {
  color: #bdea74;
}
.bb-labs-activity-feed .darkGreen {
  color: #78cd51;
}
.bb-labs-activity-feed .pink {
  color: #e84c8a;
}
.bb-labs-activity-feed .orange {
  color: #fa603d;
}
.bb-labs-activity-feed .lightOrange {
  color: #fabb3d;
}
.bb-labs-activity-feed .red {
  color: #ff5454;
}
.bb-labs-activity-feed .yellow {
  color: #eae874;
}
.bb-labs-activity-feed .white {
  color: white;
}
.bb-labs-activity-feed .grey {
  color: #b2b8bd;
}
.bb-labs-activity-feed .backgroundColor.blue {
  background: #36a9e1;
}
.bb-labs-activity-feed .backgroundColor.lightBlue {
  background: #67c2ef;
}
.bb-labs-activity-feed .backgroundColor.green {
  background: #bdea74;
}
.bb-labs-activity-feed .backgroundColor.darkGreen {
  background: #78cd51;
}
.bb-labs-activity-feed .backgroundColor.pink {
  background: #e84c8a;
}
.bb-labs-activity-feed .backgroundColor.orange {
  background: #fa603d;
}
.bb-labs-activity-feed .backgroundColor.lightOrange {
  background: #fabb3d;
}
.bb-labs-activity-feed .backgroundColor.red {
  background: #ff5454;
}
.bb-labs-activity-feed .backgroundColor.yellow {
  background: #eae874;
}
.bb-labs-activity-feed .backgroundColor.white {
  background: white;
}
.bb-labs-activity-feed .backgroundColor.grey {
  background: #b2b8bd;
}
.bb-labs-activity-feed .backgroundColorTitle.blue .title {
  background: #36a9e1;
}
.bb-labs-activity-feed .backgroundColorTitle.lightBlue .title {
  background: #67c2ef;
}
.bb-labs-activity-feed .backgroundColorTitle.green .title {
  background: #bdea74;
}
.bb-labs-activity-feed .backgroundColorTitle.darkGreen .title {
  background: #78cd51;
}
.bb-labs-activity-feed .backgroundColorTitle.pink .title {
  background: #e84c8a;
}
.bb-labs-activity-feed .backgroundColorTitle.orange .title {
  background: #fa603d;
}
.bb-labs-activity-feed .backgroundColorTitle.lightOrange .title {
  background: #fabb3d;
}
.bb-labs-activity-feed .backgroundColorTitle.red .title {
  background: #ff5454;
}
.bb-labs-activity-feed .backgroundColorTitle.yellow .title {
  background: #eae874;
}
.bb-labs-activity-feed .backgroundColorTitle.white .title {
  background: white;
}
.bb-labs-activity-feed .backgroundColorTitle.grey .title {
  background: #b2b8bd;
}