<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
	
	    <link rel="stylesheet" type="text/css" href="css/pubsubradio.css"/>
	    <script src="js/pubsubradio.js" type="text/javascript"></script>
	   
		<w:preferences>
			<w:preference name="channel" label="PubSub Channel" type="text" />     
			<w:preference name="type" label="Channel Type" type="select-one" default="success">
				<w:enumeration label="Debug" value="info"/>
				<w:enumeration label="Information" value="success"/>
				<w:enumeration label="Warning" value="warning"/>
				<w:enumeration label="Error" value="danger"/>
			</w:preference>
		</w:preferences>
	    
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.PubSubRadio(__WIDGET__);" w:onPrefModified="__WIDGET__.controller.init(__WIDGET__);">
		<div class="bb-labs-pubsubradio">
			<div class="designmode-message alert alert-info">This message only appear in the Portal Manager.  This widget display pubsub channel "[*channel*]" as "[*type*]".</div>
		</div>
		<script data-template="alert" type="text/html">
			<div class="alert alert-{{type}}">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <h4 class="title">{{title}}</h4>
			  <span class="message">{{message}}</span>
			</div>
		</script>
	</body>
</html>