<div id="{{widgetInstanceId}}" data-pid="{{widgetInstanceId}}" class="bp-widget {{#enableDND}}bp-ui-dragRoot{{/enableDND}} widget widget-default pcf-chrome" >

    <div class="bp-widget-head">
        <header class="pc-plus-header {{#showDelete}}pcf-widget-title{{/showDelete}}">
            <img src="$(contextRoot)/static/pcfinancial/widgets/pcf-pc-plus/media/logo.png" class="{{#showDelete}}cursor-pointer{{/showDelete}}"/>
        </header>
        {{#showDelete}}<a data-action="widget-close" class="pcf-delete-icon hidden cursor-pointer"><span class="glyphicon glyphicon-remove"></span></a>{{/showDelete}}
    </div>
    <div class="bp-widget-pref"></div>
    <div class="bp-widget-body" id="{{widgetInstanceId}}-body">{{{widgetContent}}}</div>
</div>
