<div class="bd-imageText-wrapper lp-content-block lp-content-accordion">
    <!-- Copyright (C) 2011 Backbase B.V. -->
    	<div class="lp-text-content-accordion">
        	<div class="lp-faq-title collapsed">
                <h3 class="bd-notEditable lp-content-accordion-accordion-header collapsed" data-parentId="contentAccordionHeaderOne" data-propertyId="bb:title" data-editable= "true">{{{contentAccordionHeaderOne.bb:title}}}</h3>
                <span class="lp-accordion-toggle-class"></span>
        	</div>
        	<div class="lp-faq-content">
                <div class="bd-ContentTemplate-para bd-contentArea lp-content-accordion-accordion-description collapsed" data-parentId="contentAccordionContentOne" data-propertyId="bb:title" data-editable= "true">{{{contentAccordionContentOne.bb:title}}}</div>
        	</div>
    	</div>

</div>