<div class="bd-imageText-wrapper lp-content-block lp-content-advanced">
    <!-- Copyright (C) 2011 Backbase B.V. -->
    <div class="image-panel">
        <div class='bd-imageContent-dropArea'>
            <img class="bd-imgArea" data-parentId="advTopImage" {{advTopImage.content}} title="{{advTopImage.bb:title}}" subtitle="{{advTopImage.bb:subtitle}}" alt="{{advTopImage.bb:altText}}"/>
        </div>
    </div>
    <div class="text-panel">
        <h4 class="bd-notEditable" data-parentId="advHeaderOne" data-propertyId="bb:title" data-editable= "true">{{{advHeaderOne.bb:title}}}</h4>

        <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="advContent" data-propertyId="content" data-editable= "true">{{{advContent.content}}}</div>
    </div>
</div>