<div class="bd-imageText-wrapper lp-content-block lp-content-checklisttext">
    <div class="well well-small clearfix">
        <div>
            <div class="text-panel lp-checklist-area">
                <span class="lp-icon-tick"></span>
                <h4 class="bd-notEditable" data-parentId="checklistHeaderOne" data-propertyId="bb:title" data-editable= "true">{{{checklistHeaderOne.bb:title}}}</h4>
                <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="checklistContentOne" data-propertyId="content" data-editable= "true">{{{checklistContentOne.content}}}</div>
            </div>
            <div class="text-panel lp-checklist-area">
                <span class="lp-icon-tick"></span>
                <h4 class="bd-notEditable" data-parentId="checklistHeaderTwo" data-propertyId="bb:title" data-editable= "true">{{{checklistHeaderTwo.bb:title}}}</h4>
                <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="checklistContentTwo" data-propertyId="content" data-editable= "true">{{{checklistContentTwo.content}}}</div>
            </div>
            <div class="text-panel lp-checklist-area">
                <span class="lp-icon-tick"></span>
                <h4 class="bd-notEditable" data-parentId="checklistHeaderThree" data-propertyId="bb:title" data-editable= "true">{{{checklistHeaderThree.bb:title}}}</h4>
                <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="checklistContentThree" data-propertyId="content" data-editable= "true">{{{checklistContentThree.content}}}</div>
            </div>
        </div>

        <div>
            <div class="text-panel lp-checklist-area">
                <span class="lp-icon-tick"></span>
                <h4 class="bd-notEditable" data-parentId="checklistHeaderFour" data-propertyId="bb:title" data-editable= "true">{{{checklistHeaderFour.bb:title}}}</h4>
                <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="checklistContentFour" data-propertyId="content" data-editable= "true">{{{checklistContentFour.content}}}</div>
            </div>
            <div class="text-panel lp-checklist-area">
                <span class="lp-icon-tick"></span>
                <h4 class="bd-notEditable" data-parentId="checklistHeaderFive" data-propertyId="bb:title" data-editable= "true">{{{checklistHeaderFive.bb:title}}}</h4>
                <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="checklistContentFive" data-propertyId="content" data-editable= "true">{{{checklistContentFive.content}}}</div>
            </div>
            <div class="text-panel lp-checklist-area">
                <span class="lp-icon-tick"></span>
                <h4 class="bd-notEditable" data-parentId="checklistHeaderSix" data-propertyId="bb:title" data-editable= "true">{{{checklistHeaderSix.bb:title}}}</h4>
                <div class="bd-ContentTemplate-para bd-contentArea" data-parentId="checklistContentSix" data-propertyId="content" data-editable= "true">{{{checklistContentSix.content}}}</div>
            </div>
        </div>

    </div>

    <div class="bd-ContentTemplate-para bd-notEditable lp-checklist-footnote" data-parentId="checklistFootnote" data-propertyId="content" data-editable= "true"><small><em>{{{checklistFootnote.content}}}</em></small></div>

</div>