<div class="bd-imageText-wrapper lp-content-block lp-content-columns-header">
    <h2 class="bd-ContentTemplate-para bd-contentArea" data-parentId="columnHdr" data-propertyId="bb:title" data-editable= "true">{{{columnHdr.bb:title}}}</h2>
</div>