<div class="bd-imageText-wrapper">
<!-- Copyright © 2011 Backbase B.V. -->

	<div class='bd-imageContent-dropArea'>
		<img class="bd-imgArea" data-parentId="contentPath" {{contentPath.content}} title="{{contentPath.bb:title}}" data-imageName="{{contentPath.cmis:name}}" subtitle="{{contentPath.bb:subtitle}}" alt="{{contentPath.bb:altText}}"/>
	</div>

</div>