<div class="lp-promo-content lp-promo-slide clearfix current">
    <div class="lp-content-image-area lp-background-image">
        <div class="bd-imageContent-dropArea">
            <img class="bd-imgArea" data-parentId="ImageOne" {{ImageOne.content}} title = "{{ImageOne.bb:title}}"  subtitle="{{ImageOne.bb:subtitle}}" alt="{{ImageOne.bb:altText}}" data-imagename="{{ImageOne.bb:title}}"/>
        </div>
    </div>
    <div class="lp-content-text-area">
        <h1  data-parentId="TitleOne" data-propertyId="content" data-editable="true">{{{TitleOne.content}}}</h1>
        <div class="lp-tagline-banner bd-notEditable" data-parentId="SubTitleOne" data-propertyId="content" data-editable="true">{{{SubTitleOne.content}}}</div>
        <div class="bd-contentArea bd-ContentTemplate-para" data-parentId="DescriptionOne" data-propertyId="content" data-editable="true">{{{DescriptionOne.content}}}</div>
        <a class="btn btn-primary bd-ContentTemplate-text bd-linkArea" data-parentId="LinkOne" href="{{LinkOne.bb:url}}" title="{{LinkOne.bb:subTitle}}" data-editable="true">{{{LinkOne.bb:title}}}</a>
    </div>
</div>