<div class="bd-imageText-wrapper lp-content-block lp-content-advanced">
    <div class="image-panel">
		<div class='bd-imageContent-dropArea bd-contentEditor-div-editable'>
			<img class="bd-imgArea" data-parentId="advTopImage" {{advTopImage.content}} title="{{advTopImage.bb:title}}" subtitle="{{advTopImage.bb:subtitle}}" alt="{{advTopImage.bb:altText}}"/>
		</div>
	</div>
	<div class="text-panel">
		<div class="bd-ContentTemplate-para bd-contentArea bd-contentEditor-div-editable" data-parentId="advContent" data-propertyId="content" data-editable="true">{{{advContent.content}}}</div>
	</div>
</div>