.bb-labs-todo-list{
	min-width:355px;
	margin-left:auto;
	margin-right:auto;
}


/* ToDo List
=================================================================== */
.bb-labs-todo-list .todo ul {
  list-style: none;
  padding: 0px;
  margin: -10px;
}
.bb-labs-todo-list .todo ul li {
  background: white;
  margin-left: 0px !important;
  padding: 10px 10px 10px 35px;
  border-bottom: 1px solid #e9ebec;
  font-size: 12px;
  position: relative;
}
.bb-labs-todo-list .todo ul li:last-child {
  border-bottom: 0px;
}
.bb-labs-todo-list .todo ul li .label {
  position: absolute;
  right: 10px;
}
.bb-labs-todo-list .todo ul li .todo-actions {
  position: absolute;
  left: 0px;
  margin-top: 2px;
}
.bb-labs-todo-list .todo ul li .todo-actions a {
  text-decoration: none;
}
.bb-labs-todo-list .todo ul li .todo-actions i {
  font-size: 14px;
  color: #dbdee0;
  margin: -1px 5px 0px 10px;
  display: block;
}
.bb-labs-todo-list .todo ul li .todo-actions i.done {
  color: #ced1d4;
}
.bb-labs-todo-list .todo ul li .todo-actions i:hover {
  color: #b2b8bd;
}
.bb-labs-todo-list .todo ul li .remove {
  display: none;
  position: absolute;
  right: 10px;
  color: #b2b8bd;
}
.bb-labs-todo-list .todo ul li:hover .label {
  position: absolute;
  right: 30px;
}
.bb-labs-todo-list .todo ul li:hover .remove {
  display: inline;
}