.bb-labs-task-list{
	min-width:355px;
	margin-left:auto;
	margin-right:auto;
}


/* UI - Sliders & Progress
=================================================================== */
.bb-labs-task-list .slider {
  background: #e9ebec;
  border: none;
  height: 10px;
  position: relative;
  z-index: 10;
  margin: 5px 0px !important;
}
.bb-labs-task-list .slider .ui-slider-range {
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.bb-labs-task-list .slider.small {
  height: 6px;
}
.bb-labs-task-list .ui-slider-handle {
  border: 1px solid #ced1d4;
  outline: none !important;
}
.bb-labs-task-list .ui-slider-horizontal .ui-slider-handle {
  background: url("../img/handle.png") no-repeat center center scroll #ffffff !important;
  background-position: 50% 50%;
  background-size: 8px 8px !important;
}
.bb-labs-task-list .ui-slider-horizontal.small .ui-slider-handle {
  background: url("../img/handle.png") no-repeat center center scroll #ffffff !important;
  background-position: 50% 50%;
  background-size: 8px 8px !important;
  width: 14px !important;
  height: 14px !important;
}
.bb-labs-task-list .sliderVertical {
  background: #e9ebec;
  border: none;
  top: auto;
  bottom: auto;
  width: 10px !important;
  position: relative;
  float: left;
  height: 100px;
  margin: 10px 20px;
  width: 5px;
}
.bb-labs-task-list .sliderVertical .ui-slider-range {
  height: 100%;
  width: 100%;
  top: auto;
  bottom: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.bb-labs-task-list .sliderVertical .ui-slider-handle {
  background: url("../img/handlev.png") no-repeat center center scroll #ffffff !important;
  background-position: 50% 50%;
  background-size: 8px 8px !important;
  left: 50%;
  margin: 9px 0px -9px -9px !important;
}
.bb-labs-task-list .sliderVertical .ui-slider-range-max {
  top: 0;
}
.bb-labs-task-list .sliderVertical .ui-slider-range-min {
  bottom: 0;
}
.bb-labs-task-list .sliderVertical.small {
  width: 6px !important;
  position: relative;
  float: left;
  height: 100px;
  margin: 10px 20px;
  width: 5px;
}
.bb-labs-task-list .sliderVertical.small .ui-slider-handle {
  background: url("../img/handlev.png") no-repeat center center scroll #ffffff !important;
  background-position: 50% 50%;
  background-size: 8px 8px !important;
  width: 14px;
  height: 14px;
  margin: 0px 0px -7px -7px !important;
}
.bb-labs-task-list .sliderBlue .ui-slider-range,
.bb-labs-task-list .progressBlue .ui-progressbar-value {
  background: #36a9e1;
}
.bb-labs-task-list .sliderGreen .ui-slider-range,
.bb-labs-task-list .progressGreen .ui-progressbar-value {
  background: #bdea74;
}
.bb-labs-task-list .sliderDarkGreen .ui-slider-range,
.bb-labs-task-list .progressDarkGreen .ui-progressbar-value {
  background: #78cd51;
}
.bb-labs-task-list .sliderPink .ui-slider-range,
.bb-labs-task-list .progressPink .ui-progressbar-value {
  background: #e84c8a;
}
.bb-labs-task-list .sliderOrange .ui-slider-range,
.bb-labs-task-list .progressOrange .ui-progressbar-value {
  background: #fa603d;
}
.bb-labs-task-list .sliderLightOrange .ui-slider-range,
.bb-labs-task-list .progressLightOrange .ui-progressbar-value {
  background: #fabb3d;
}
.bb-labs-task-list .sliderRed .ui-slider-range,
.bb-labs-task-list .progressRed .ui-progressbar-value {
  background: #ff5454;
}
.bb-labs-task-list .sliderYellow .ui-slider-range,
.bb-labs-task-list .progressYellow .ui-progressbar-value {
  background: #eae874;
}
.bb-labs-task-list .progress {
  background: #e9ebec;
  color: #e9ebec;
  border: none;
  height: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  margin-top: -2px;
}
.bb-labs-task-list .progress .ui-progressbar-value {
  border: none;
  height: 100%;
  top: 1px;
  position: absolute;
  left: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bb-labs-task-list .progress.slim {
  height: 10px;
}
.bb-labs-task-list .progressBarValue span {
  font-size: 12px;
}
.bb-labs-task-list .progressBarValue span.progressCustomValueVal {
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px;
  color: #fa603d;
}
.bb-labs-task-list .progressSlim {
  background: #ced1d4;
  border: none;
  height: 10px;
  position: relative;
  margin-top: -2px;
}
.bb-labs-task-list .progressSlim .ui-progressbar-value {
  border-color: transparent;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bb-labs-task-list .tasks .progressSlim {
  overflow: hidden;
  border: none !important;
  height: 8px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0px;
}
.bb-labs-task-list .tasks .progressSlim .ui-progressbar-value {
  overflow: hidden;
  margin: 0px;
  border: none !important;
}

.bb-labs-task-list table tr td.left,
.bb-labs-task-list table tr th.left {
  text-align: left;
}
.bb-labs-task-list table tr td.center,
.bb-labs-task-list table tr th.center {
  text-align: center;
}
.bb-labs-task-list table tr td.right,
.bb-labs-task-list table tr th.right {
  text-align: right;
}
.bb-labs-task-list table tr td .progress {
  margin: 3px 0 0 0;
}
.bb-labs-task-list table.table-clear tr,
.bb-labs-task-list table.table-clear td {
  border: none !important;
}
.bb-labs-task-list table.small-font {
  font-size: 12px;
}
.bb-labs-task-list .table thead > tr > th,
.bb-labs-task-list .table tbody > tr > th,
.bb-labs-task-list .table tfoot > tr > th,
.bb-labs-task-list .table thead > tr > td,
.bb-labs-task-list .table tbody > tr > td,
.bb-labs-task-list .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #e9ebec;
}
.bb-labs-task-list .table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ebec;
}
.bb-labs-task-list .table-bordered {
  border: 1px solid #e9ebec;
}
.bb-labs-task-list .table-bordered > thead > tr > th,
.bb-labs-task-list .table-bordered > tbody > tr > th,
.bb-labs-task-list .table-bordered > tfoot > tr > th,
.bb-labs-task-list .table-bordered > thead > tr > td,
.bb-labs-task-list .table-bordered > tbody > tr > td,
.bb-labs-task-list .table-bordered > tfoot > tr > td {
  border: 1px solid #e9ebec;
}

.bb-labs-task-list div.dataTables_length label {
  font-weight: normal;
  float: left;
  text-align: left;
}
.bb-labs-task-list div.dataTables_length select {
  width: 75px;
}
.bb-labs-task-list div.dataTables_filter label {
  font-weight: normal;
  float: right;
}
.bb-labs-task-list div.dataTables_info {
  padding-top: 8px;
}
.bb-labs-task-list div.dataTables_paginate {
  float: right;
  margin: 0;
}
.bb-labs-task-list div.dataTables_paginate ul.pagination {
  margin: 2px;
}
t.bb-labs-task-list able.table {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}
.bb-labs-task-list table.table .btn {
  margin: 1px 0;
}
.bb-labs-task-list table.table thead .sorting,
.bb-labs-task-list table.table thead .sorting_asc,
.bb-labs-task-list table.table thead .sorting_desc,
.bb-labs-task-list table.table thead .sorting_asc_disabled,
.bb-labs-task-list table.table thead .sorting_desc_disabled {
  cursor: pointer;
}
.bb-labs-task-list table.table thead .sorting {
  background: url('../img/sort_both.png') no-repeat center right;
}
.bb-labs-task-list table.table thead .sorting_asc {
  background: url('../img/sort_asc.png') no-repeat center right;
}
.bb-labs-task-list table.table thead .sorting_desc {
  background: url('../img/sort_desc.png') no-repeat center right;
}
.bb-labs-task-list table.table thead .sorting_asc_disabled {
  background: url('../img/sort_asc_disabled.png') no-repeat center right;
}
.bb-labs-task-list table.table thead .sorting_desc_disabled {
  background: url('../img/sort_desc_disabled.png') no-repeat center right;
}
.bb-labs-task-list table.dataTable th:active {
  outline: none;
}

.bb-labs-task-list  table th{
  font-weight:bold;
}