.pcf-catalog .pageDesignerCatalog .pm-composer{
    width: 100%;
}
.pcf-catalog .pageDesignerCatalog {
    border:none;
    border-radius: 0;
    box-shadow: none;
}

/* desktop */
.pcf-catalog.pcf-catalog-init{
    position: absolute;
    top: -999999999px !important;
    left: -999999999px !important;
}
.pcf-catalog{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
}
.pcf-catalog.pcf-catalog-desktop{
    left: 0;
    right: 0;
    top: -89px;
}
.pcf-catalog-desktop .pcf-catalog-browser-btn{
    color: #ee2e24;
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 0 10px 10px;
    font-size: 11px;
    padding: 2px 5px;
    z-index: 1;
    cursor: pointer;
}
.tb-tags-list{
    display: none;
}
.pcf-catalog-show.pcf-catalog-desktop{
    top: 70px;
    z-index: 11;
}

/* tablet */
.pcf-catalog.pcf-catalog-tablet{
    width: 100%;
    padding: 0;
    bottom: -46px;
}
.pcf-catalog-tablet .pcf-catalog-browser-bar{
    background: #ee2e24;
    height: 20px;
    position: absolute;
    top: -20px;
    width: 100%;
}
.pcf-catalog-tablet .pcf-catalog-browser-btn{
    background: #ee2e24;
    border-radius: 10px 10px 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    left: 268px;
    padding: 2px 5px;
    position: absolute;
    top: -18px;
    z-index: 1;
}
.pcf-catalog-tablet .pageDesignerItemWrapper{
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.pcf-catalog-show.pcf-catalog-tablet{
    z-index: 11;
}
.pcf-catalog-show.pcf-catalog-tablet .pageDesignerItemWrapper{
    height: 156px;
    z-index: 11;
}
.pcf-catalog-tablet .pm-composer .pm-composer-stripViewPort,
.pcf-catalog-tablet .pageDesignerCatalog{
    background: #ee2e24;
}


/* design mode */
.designMode .pcf-catalog.pcf-catalog-desktop{
    top: -179px;
}
.designMode .pcf-catalog-show.pcf-catalog-desktop{
    top: -20px;
}
