<script type="text/ng-template" id="/review-transfers/partials/verify-email.html">
    <div class="modal-header">
        <h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> Verify your email address</h2>
    </div>
    <form role="form" ng-submit="handleEmailVerification()">
        <div class="modal-body">

            <p>
                Please leave this page as it is. We've sent a message containing a verification code to  {{currentEmail.value}}.<br />Please check your email to see the code
            </p>
            <p>
                The code will expire in 20 minutes
            </p>
            <div ng-class="{'has-error': verify.validationError && verify.verificationCode.length > 0, 'has-feedback': true, 'form-group': true}">
                <label class="control-label"><strong>Verification Code:</strong></label>
                <input type="input" ng-model="verify.verificationCode" class="form-control" maxlength="4" placeholder="enter the 4 digits" />
            </div>
        </div>
        <div class="modal-footer text-right">
            <button name="closeModal" class="btn btn-link" ng-click="closeVerifyModal()" type="button">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="!verify.verificationCode">Submit</button>
        </div>
    </form>
</script>