<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transactions</title>

    <g:preferences>
        <g:preference name="locale" label="Locale" type="text" default="en-US" />
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/conf/messages.json"/>
        <g:preference name="accountsDataSrc" label="Accounts Data Source" type="text" default="$(contextPath)/services/rest/current-accounts"/>
        <g:preference name="transactionsDataSrc" label="Transactions Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/$(accountId)/transactions"/>
        <g:preference name="categoryDataSrc" label="Category Data Source" type="text" default="$(contextPath)/services/rest/pfm/transaction-categories"/>
        <g:preference name="transactionDetailsDataSrc" label="Transactions Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/transaction/$(transactionId)/details" />
        <g:preference name="contactsDataSrc" label="Contacts Data Source" type="text" default="$(contextPath)/services/rest/party-data-management/counter-parties"/>
        <g:preference name="accountBalanceChartDataSrc" label="Accounts Chart Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/$(accountId)/balance"/>
        <g:preference name="transactionsChartDataSrc" label="Transactions Chart Data Source" type="text" default="$(contextPath)/services/rest/current-accounts/$(accountId)/turnover"/>
        <g:preference name="showTransactionIcons" label="Show Transaction Icons" type="checkbox" default="true" viewhint="checkbox,user,designModeOnly"/>
        <g:preference name="showCharts" label="Show Charts" type="checkbox" default="false" viewhint="checkbox,user,designModeOnly"/>
        <g:preference name="accountsTopBalance" label="Top balance" type="select-one" viewhint="select-one,user,designModeOnly" defualt="current">
            <g:enumeration value="current" label="Current balance" />
            <g:enumeration value="available" label="Available balance" />
        </g:preference>
        <g:preference name="preferenceService" label="Preference Service" type="text" default="$(contextPath)/services/rest/party-data-management/preferences" />
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/transactions.css" />

    <script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-transactions" g:onload="requireWidget(__WIDGET__, 'js/transactions');">

    <div class="ng-cloak" ng-controller="transactionsController" ng-class="responsiveClass">

        <!--  Full Content -->
         <div class="lp-widget-content" role="application">

            <!-- Alerts -->
            <div class="lp-alerts" ng-show="transactionsModel.errorCode || accountsModel.error">
                <div class="alert alert-error">
                    <p ng-show="transactionsModel.errorCode">
                        <span lp-message="transactionsModel.errorCode" lp-bundle="messages"></span>
                        <a ng-click="transactionsModel.loadTransactions()" class="alert-link">Try again</a>
                    </p>
                </div>
            </div>
            
            <div class="transaction_listing"/>

            <!--  Widget Head -->
            <div class="clearfix">
                <div ng-if="accountsModel.accounts.length == 0">
                    <div class="panel-message">No accounts available.</div>
                </div>

                <div ng-show="accountsModel.accounts">
                    <div lp-accounts-select="lp-accounts-select" ng-model="accountsModel.selected" lp-accounts="accountsModel.accounts" name="accountId" class="lp-accounts-header" ng-change="accountChanged()"></div>
                </div>
            </div>

            <!--  Body Content -->
            <div class="lp-widget-body widget-body clearfix" ng-class="{ 'show-charts': showCharts, 'show-categories': showCategories}">

                <g:include src="partials/list.html"></g:include>
                <g:include src="partials/charts.html"></g:include>
                <g:include src="partials/details.html"></g:include>

                <ul tabset="tabset" vertical="true" class="tabbable" id="transactions-tabs">
                    <li tab="tab" select="selectTab('list')" active="tabs.list">
                        <div tab-heading="tab-heading">
                            <i title="List view" class="lp-icon lp-icon-list-view"></i>
                            <span class="sr-only">List</span>
                        </div>
                        <div ng-include="templates.list" ng-class="{ 'preview-all': previewAll }"></div>
                    </li>
                    <li tab="tab" select="selectTab('chart')" active="tabs.chart" ng-if="showCharts">
                        <div tab-heading="tab-heading">
                            <i title="Charts view" class="lp-icon lp-icon-line-chart-view"></i>
                            <span class="sr-only">Charts</span>
                        </div>
                        <div ng-include="templates.charts"></div>
                    </li>
                    <li tab="tab" select="selectTab('combined')" active="tabs.combined" class="hide-small-widget" ng-if="showCharts">
                        <div tab-heading="tab-heading">
                            <i title="List and Charts view" class="lp-icon lp-icon-list-and-chart-view"></i>
                            <span class="sr-only">List and Charts</span>
                        </div>
                        <div class="row lp-transactions-combined">
                            <div class="col-md-6">
                                <div ng-include="templates.charts"></div>
                            </div>
                            <div class="col-md-6">
                                <div ng-include="templates.list"></div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="widget-footer">
                <button class="btn-primary btn pull-right" ng-click="transferMoney()">Transfer money</button>
            </div>
        </div>
    </div>
</body>
</html>