<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <!-- Gadget Implementation -->
    <title>Catalog Browser</title>

    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8"/>
    <meta name="author" content="Backbase"/>
    <meta name="keywords" content="gadget"/>
    <meta name="copyright" content="Copyright 2003-2009 Backbase"/>
    <meta name="description" content="Catalog gadget for end user use"/>

    <link rel="stylesheet" type="text/css" href="widget-catalog.css" />

    <g:preferences>
        <g:preference name="filterByTag" label="Filter By Tag" type="text"/>
    </g:preferences>
</head>
<body class="lp-widget-catalog" g:onload="requireWidget(__WIDGET__, 'widget-catalog');">
    <div class="lp-widget-catalog-toolbar lp-header-toolbar clearfix">
        <form class="form-inline">
            <div class="btn-group pull-left">
                <button class="lp-ab-order-popular btn">Popular</button>
                <button class="lp-ab-order-alphabetically btn">A-Z</button>
                <button class="lp-ab-order-category btn">Category</button>
            </div>

            <div class="input-append pull-right">
                <input type="text" name="search" class="" placeholder="Search widgets..."/>
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>

    <div class="lp-widget-catalog-body bp-ui-drag0Cancel">

        <div class="lph-slides lp-catalog-slides">
            <div class="lph-slides-container lp-catalog-content clearfix">
                <!-- slide pages -->
            </div>

            <div class="lp-catalog-bottom">
                <ul class="lph-slides-pagination lp-catalog-pagination"></ul>
            </div>

            <div class="lp-catalog-loading"></div>
        </div>

    </div>

    <div class="lp-catalog-preview" style="display:none;"></div>

    <script type="text/html" data-template="widget">
        <div class="lp-catalog-item col-xs-12 col-sm-6 col-md-4 well well-small clearfix">
            <!--<div class="lp-catalog-icon pull-left" style="background-image:url({{icon}})"></div>-->
            <div class="lp-catalog-icon pull-left"><i class="lp-icon lp-icon-xxl lp-icon-{{icon}}"></i></div>
            <div class="lp-catalog-info pull-left">
                <div class="h4">{{title}}</div>
                <div>
                    <a class="lp-catalog-showPreview" data-catalogId="{{uuid}}" href="#" title="">Preview</a>
                </div>
            </div>
            <a class="lp-catalog-add btn btn-primary pull-right" data-catalogId="{{uuid}}">Add</a>
        </div>
    </script>

    <script type="text/html" data-template="preview">
        <div>
            <div class="lp-header-toolbar clearfix">
                <div class="pull-left">
                    <!-- <div class="lp-catalog-icon pull-left" style="background-image:url({{icon}})"></div> -->
                    <div class="lp-catalog-icon pull-left"><i class="lp-icon lp-icon-xxl lp-icon-{{icon}}"></i></div>
                    <h3 class="pull-left">{{title}}</h3>
                </div>
                <div class="pull-right well well-small">
                    <a class="btn btn-primary lp-catalog-add" data-catalogId="{{uuid}}">Add</a>
                    <a class="btn lp-catalog-back">Back</a>
                </div>
            </div>
            <div class="lp-catalog-screenshot clearfix">
                {{#preview}}
                <img src="{{preview}}" alt="" />
                {{/preview}}
            </div>
        </div>
    </script>
</body>
</html>