/**********************************/
/*    TRANSACTION WIDGET STYLES   */
/**********************************/


/*  TODO: Replace with spinner */
.lp-transactions-loading {
    padding-left: 22px;
    width: 220px;
    text-align:center;
    margin: 150px auto;
    color: #aaa7a2;
    line-height: 16px;
    background: url(images/loader.gif) no-repeat left center;
}
.lp-transactions {
    /* preloads loader */
    background: url(images/loader.gif) no-repeat -999px -999px;
}

/* TODO: Check Alert Styles */
.lp-transactions .slide-down .alert {
    margin-left: -47px
}
.lp-transactions .search-input input {
    border-right: 0;
}
.lp-transactions .lp-transactions-date {
    color: #777;
    line-height: 1.2em!important;
}

/* List view amount */
.lp-amount-negative,
.lp-amount-positive {
    white-space: nowrap;
}

/* Tabs */
.lp-transactions .lp-small-size .show-charts .tab-content,
.lp-transactions .lp-small-size .show-charts .tabbable .nav,
.lp-transactions .lp-small-size .show-categories .tab-content,
.lp-transactions .lp-small-size .show-categories .tabbable .nav {
    float: none;
    width: 100%;
    display: block;
}

.lp-transactions .lp-small-size .show-charts .tabbable .nav li,
.lp-transactions .lp-small-size .show-categories .tabbable .nav li {
    float: left;
    text-align: center;
    width: 50%;
}

.lp-transactions .lp-small-size .tabbable .nav {
    display: none;
}

.lp-transactions .show-charts .tabbable .nav.nav-tabs {
    margin-top: 0px;
}
.lp-transactions .show-charts .tabbable .nav.nav-tabs a {
    padding: 12px;
    width: 100%;
}

.lp-transactions .tabbable .nav {
    width: 45px;
}
.lp-transactions .tab-content {
    width:100%;
    margin-left: -45px;
    padding-left: 45px;
}
.lp-transactions .tab-pane {
    width:100%;
}

.lp-transactions .tabbable {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units; */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility; */
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}
.lp-transactions .tabbable .nav,
.lp-transactions .tabbable .tab-content {
    float:left;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.lp-transactions .show-charts .lp-transactions-combined .slide-down.selected {
    padding: 10px;
}

.lp-transactions .show-charts .lp-transactions-combined .slide-down.selected [class*="col-xs"] {
    float: left;
    width: 100%;
    padding: 0;
}

.lp-transactions .tabbable .nav {
    xdisplay: none;
}

.lp-transactions .tab-pane .lp-widget-body {
    border-left: 1px #eee solid;
}

/* Transaction details tabs */
.lp-transactions .transaction-details .tabbable .nav.nav-tabs {
    width: 100%;
    margin: 10px 0;
}
.lp-transactions .transaction-details .tabbable .nav li {
    width: auto !important;
}
.lp-transactions .transaction-details .tabbable .nav li.active {
    background-color: transparent;
    border-bottom: 1px solid #f2f2f2;
}
.lp-transactions .transaction-details .tabbable .nav.nav-tabs a {
    margin: 0 !important;
    padding: 5px 10px;
    font-size: 16px;
}
.lp-transactions .transaction-details .tabbable .nav li.active a {
    color: #424242 !important;
    border: 1px solid #dddddd;
    border-bottom: none;
}
.lp-transactions .transaction-details .tabbable .nav li.active a:focus {
    background-color: transparent;
    border: none;
}
.lp-transactions .transaction-details .tab-content {
    margin: 0;
    padding: 10px;
}

.lp-transactions .category-toggle {
    padding: 10px;
    position: absolute;
}
.lp-transactions .category-toggle .lp-icon {
    vertical-align: middle;
}
.lp-transactions .has-category-toggle {
    padding-left: 64px;
}

/* Controls */

.lp-transactions .controls {
    background: #f5f5f5;
}

.lp-transactions .controls .btn {
    border-radius: 0;
}

/* Sort options select */
.lp-transactions .sort-select {
    width: 120px;
}

.lp-transactions .sort-select button.dropdown-toggle .caret {
    display: none;
}



/* PCF */
.pcf-transactions {
    margin-bottom: 15px;
}
.pcf-transactions .lp-widget-content{
    background: #fff;
}
.pcf-transactions .pcf-transactions-widget-body{
    min-height: 75px;
    overflow: auto;
    background: #fff;
}
.pcf-transactions .pcf-transaction-date{
    padding: 0 5px;
}
.pcf-transactions .pcf-transaction-detail{
    padding: 0 5px;
}
.pcf-transactions .pcf-transaction-detail .right-align{
    text-align: right;
}
.pcf-transactions .list-view-row .list-view-container .info {
    height: 35px;
}
.pcf-transactions .list-group-item{
    border: none;
}
.pcf-transactions .pcf-transaction-detail > .centered{
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    padding: 5px;
}
.pcf-transactions .pcf-transaction-detail > .centered:hover{
    background: #f4f4f4;
}
.pcf-transactions .pcf-transaction-detail > .centered > div[class*="col-xs-"]{
    padding: 0 10px;
}
.pcf-transactions .list-view-row .list-view-container,
.pcf-transactions .list-view-row .list-view-container:focus,
.pcf-transactions .list-view-row .list-view-container:hover{
    background: #fff;
    outline:none;
}


.pcf-transactions .view-more-link{
    text-align: right;

}
.pcf-transactions .view-more-link a:hover,
.pcf-transactions .view-more-link a{
    color: #666;
}
.account-icon {
    display: inline-block;
    height: 20px;
    margin: -2px 2px 0 0;
}

.mobile .mobile-dashboard-transaction-on .pcf-transactions{
    bottom: 0;
    overflow: auto;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 9;
}
.mobile .mobile-dashboard-transaction-on .view-more-link,
.mobile .view-close-btn{
    display: none;
}
.mobile .mobile-dashboard-transaction-on .view-close-btn{
    display: block;
}
.mobile .mobile-dashboard-transaction-on .pcf-transactions-widget-body {
    height: auto!important;
}
.mobile .mobile-dashboard-transaction-on .lp-launcher-tab-widget {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 10;
}

.view-close-btn{
    display:none;
}

.smartphone .view-close-btn{
    display:block;
}
.view-more-row{
    background: none repeat scroll 0 0 transparent;
    padding-right: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: -39px;
    width: 33.3333%;
}
