<html xmlns="http://www.w3.org/1999/xhtml" xmlns:w="http://www.backbase.com/2008/gadget" xml:lang="en">
	<head>
	    <title>Backbase Labs Widget</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="author" content="Backbase"/>
		
	    <script src="js/activity-feed.js"></script>
	    <link href="css/activity-feed.css" rel="stylesheet"/>
		
		<w:preferences>
			<w:preference label="Feed URL" name="feedURL" type="text" min="false" max="false" step=""></w:preference>
			<w:preference label="Feed Filter" name="filter" type="select-one" min="false" max="false" step="">
				<w:enumeration label="All" value="all"></w:enumeration>
				<w:enumeration label="Tasks" value="tasks"></w:enumeration>
				<w:enumeration label="Messages" value="msgs"></w:enumeration>
				<w:enumeration label="Commets" value="cmnts"></w:enumeration>
			</w:preference>
			<w:preference name="minheight" label="Min Height" type="text" viewhint="user" default="200px"/>     
			<w:preference name="maxheight" label="Max Height" type="text" viewhint="user" default="200px"/>     
		</w:preferences>
		
	</head>
	<body w:onload="__WIDGET__.controller = new bb_labs.ActivityFeed(__WIDGET__);" w:onmaximize="__WIDGET__.controller.maximize();" w:onrestore="__WIDGET__.controller.restore();">

		<div class="bb-labs-activity-feed feed">
			<ul id="filter">
				<li><a class="darkGreen actFilter" 	href="#" data-option-value="task">Tasks</a></li>
				<li><a class="red actFilter" 		href="#" data-option-value="comment">Comments</a></li>
				<li><a class="blue actFilter" 		href="#" data-option-value="message">Messages</a></li>
				<li><a class="actFilter" 			href="#" data-option-value="all">All</a></li>
			</ul>
			
			<ul class="timeline">
				
				<li class="task">
					<i class="glyphicon glyphicon-tasks darkGreen"></i>
					<div class="title">New website - A/B Tests</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					<span class="date">3 seconds ago</span>
					<span class="separator">•</span>
					<span class="name">Megan Abbott</span>
				</li>
				
				<li class="comment">
					<i class="glyphicon glyphicon-comment red"></i>
					<div class="title">Sales increase</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
					<span class="date">15 minutes ago</span>
					<span class="separator">•</span>
					<span class="name">Ashley Tan</span>
				</li>
				
				<li class="comment">
					<i class="glyphicon glyphicon-comment red"></i>
					<div class="title">New Bootstrap Theme</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
					<span class="date">Today</span>
					<span class="separator">•</span>
					<span class="name">Ashley Tan</span>
				</li>
				
				<li class="message">
					<i class="glyphicon glyphicon-envelope blue"></i>
					<div class="title">Job offer</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
					<span class="date">Yesterday</span>
					<span class="separator">•</span>
					<span class="name">James Doe</span>
				</li>
				
				<li class="task">
					<i class="glyphicon glyphicon-tasks darkGreen"></i>
					<div class="title">Custom Design</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					<span class="date">5 days ago</span>
					<span class="separator">•</span>
					<span class="name">Megan Abbott</span>
				</li>		
				
			</ul>
			<a href="#" id="load-more">•••</a>
		</div>
		<!-- Feed Item template -->
        <script type="text/html" data-template="template_feed_item">
        	{{#item}}
            <li class="{{type}}">
				<i class="{{icon_type}}"></i>
				<div class="title">{{title}}</div>
				<div class="desc">{{description}}</div>
				<span class="date">{{date}}</span>
				<span class="separator">•</span>
				<span class="name">{{user}}</span>
			</li>
			{{/item}}
        </script>
	</body>
</html>
		