.bb-labs-language-picker {
	padding: 0 0 0 10px;
	width:120px;
}
.dropdown-menu{
	min-width: 100px;  /*override bootstrap*/
}
.bb-labs-language-picker.icononly {
	width:35px;
}
.bb-labs-language-picker.textonly {
	width:70px;
}

.bb-labs-language-picker a{
	color:#858585;
	text-decoration:none;
}

.bb-labs-language-picker .icon{
	max-width:24px;
}

.bb-labs-language-picker span{
	margin-left:5px;
}